#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #eee;
	padding: 5px;
	opacity: 0.85;
}
#tooltip h3, #tooltip div { margin: 0; }

#tooltip {
	font-family: Arial;
	color: #b97c01;
	border: 1px;
	border-style:solid; 
	width: 222px;
	padding:10px;
	opacity: 0.9;
	background-color: #f8eeda;
}

#tooltip h3 {
	margin-bottom: 0.45em;
	font-size: 14px;
	width: 220px;
	text-align: center;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
}

#tooltip div { width: 222px; text-align: left; }