input.error { border: 1px dotted red; }

form.validForm label.error, label.error {
	color: red;
	font-style: italic;
	font-size: x-small;
}

#valid_overlay {
	position: fixed;
	background: #555555;
	opacity: 0.8;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
}

#valid_loading {
    font-size: xx-large;
    color: green;
	position: fixed;
	z-index:100;
	top: 50%;
	left: 25%
}
