/* BBSRC modified style sheet*/
/* Used by WebEditors to overwrite basic styles */
/* All permanent changes need to be done via the theme core stye sheet */

/* Example to change all the titles green */
/* h1 {font-size: 1.5em;color:#00FF00;} */

/****************************** GENERAL *****************************/


/**** Changes bulleted list text style to bold by default, as on live site ****/
#content ul li, #content blockquote ul li {
	font-weight: bold;
}

/**** Changes bulleted list text style to normal for 'plain' class and other types of unordered lists across the site ****/
#content ul.plain li, #content blockquote ul.plain li, #content ul.breadcrumb li, #content .yearNav ul li, #content #businessMag ul li {
    font-weight: normal!important;
}

/**************************** END GENERAL ***************************/

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/****************************** HEADER ******************************/

/**** Moves 'Skip to content' link to left slightly to align with primary nav home button
***** Reduced padding so doesn't overlap logo, in preparation for going back to the 'classic' BBSRC logo ****/
#skipToContent:focus {
	left: 5.5em;
	padding: 0.5em;
}

/**** Slight changes to padding/margin for primary logo, in preparation for going back to the 'classic' BBSRC logo ****/
#logo img {
	padding: 0;
	margin: 30px 0 30px;
}



/*** Adds dotted outline around logo when on focus ****/
#logo a:focus img {
	outline: thin dotted #555;
}

/**** Adjusted position of keynote slightly so text doesn't appear right up to the search box
***** Moved higher in preparation for going back to the 'classic' BBSRC logo
***** Decreased font size and made text bold ****/
#logo .keynote {
    bottom: 46px;
    font-size: 1.5em;
    font-weight: bold;
    right: 50px;
}

/**** Changed colour of links in '#tools' search box ****/
#tools li a {
	color: #444;
}

/**** Changed hover/focus colour of links in '#tools' search box ****/
#tools li a:hover, #tools li a:focus {
	background: #555;
	color: #FFF;
}

/**** Makes search box full width of '#tools' section ****/
#searchForm {
	width: 100%;
}

/**** Adds right margin to home button in primary nav. Ok at medium size ****/
#navHomeButton li#navHome {
    margin-right: 9px;
}

/**** Hide "Use of BBSRC website" link ****/
#navPrimaryTop #navUseOfBbsrcWebsite {
	display:none;
}

/**************************** END HEADER ****************************/

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/****************************** FOOTER ******************************/

/**** Increases overall padding slightly in footer ****/
#footer {
	padding: 36px 0 0;
}

/**** Increases font size of footer headings ****/
#footer h2 {
    font-size: 1.4em;
}

/**** Bolded links in 'Additional information' list ****/
#footer .additionalInfo ul {
	font-weight:bold;
}

/**************************** END FOOTER ****************************/

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/***************************** HOMEPAGE *****************************/

/**** Made font size smaller for carousel headings so doesn't look as big ****/
.carouselComponent .carousel-caption h3 a {
	font-size: 1.5em;
}

/**** Reduces font size for carousel heading when on smaller screen sizes ****/
@media(max-width:780px) {
.carouselComponent .carousel-caption h3 a {
	font-size: 1em;
}
}

/**** Changed background of accessible link box to black (to match video background) rather than grey so doesn't stand out as much ****/
#homepage .accessibleLink.darkGreyGradient {
	background: #000;
}

/*** For the 'Our impact' or 'Our magazine' box when not using a video: Floated left to fix formatting. Without floating left the news boxes jumps to under the impact box ****/
#homepage .video-cell {
	float:left;
}

/**** Removes top margin on 'Our impact' or 'Our magazine' box ****/
#homepageImpact .imgBox {
	margin-top: 0px;
}

/**** Special opportunities box: changes background colour of calls with 'new' class in list item ****/
#homepage aside .fundingCalls ul li.new {
	background: #e2ebfa;
}

/**** Special opportunities box: increases padding slightly of list items ****/
#homepage aside .box ul li {
	padding: 0.7em 0.5em;
}

/**** Special opportunities box: changes text colour of call title and deadline ****/
#homepage aside .box ul li .call,
#homepage aside .box ul li .deadline {
	color: #333;
}

/*************************** END HOMEPAGE ***************************/

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/***************************** LEFT NAV *****************************/

/**** Increases the bottom border of the open, active menu list. This is useful for very long left navs when expanded ****/
.main.nav.nav-list .navLeftBorder, .main.nav.nav-list .deepest {
	border-bottom: 3px solid #888!important;
}

/**** Changed font colour for non-active links in menu to grey rather than pink ****/
.main.nav.nav-list li a {
	color: #262626;
}

/**** Changed hover/focus colour of 'cookie' link in the 'Share this page' section ****/
.shareThis p a:hover, .shareThis p a:focus {
	color: #fff!important;
	background: #555;
}

/*************************** END LEFT NAV ***************************/

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/**************************** BREADCRUMB ****************************/

/**** Removes left margin from first item in breadcrumb to align with page content ****/
.breadcrumb li.first {
	margin-left: 0;
}

/**** Changed link colour of items links to blue ****/
.breadcrumb li a {
	color: #124393!important;
}

/**** Changed last breadcrumb link colour to pink to indicate the page you are on ****/ 
.breadcrumb li.last a {
	color: #a20054!important;
	pointer-events: none;
}

/**** Changed hover/focus colour of link text to white ****/
.breadcrumb li a:hover, .breadcrumb li a:focus, .breadcrumb li.last a:hover, .breadcrumb li.last a:focus {
	color: #fff!important;
	background: #555;
}

/************************** END BREADCRUMB **************************/

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/*************************** RIGHT SIDEBAR **************************/
/**** E.g. http://local.bbsrc.ac.uk/business/ ****/

/**** Increases heading padding slightly for each sidebar box ****/
.svRelContent h2 {
	padding: 9px;
}

/**** Increases line height of sidebar items ****/
.svRelContent article.listing p {
	line-height: 1.7em;
}

/**** Changes link colour of sidebar items to grey rather than pink ****/
.svRelContent article.listing p a {
	color: #333;
}

/**** Changed hover/focus colour of 'plug-ins' link in the 'Downloads' sidebar box ****/
.svRelContent p a:hover, .svRelContent p a:focus {
	color: #fff;
	background: #555;
}

/************************* END RIGHT SIDEBAR ************************/

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/*************************** LANDING MENUS **************************/
/**** E.g. http://local.bbsrc.ac.uk/business/ ****/

/**** Increased font size and weight of each title in the navigation boxes to distinguish between page title and page teaser text ****/
.imgBox .caption .linkTitle {
    font-size: 1.1em;
    font-weight: bold;
}

/**** Increased line height of the teaser text in the navigation boxes ****/
.visible-lg.linkSummary {
    line-height: 1.3em;
}

/**** Increased font size of grouped menu headings (grey bar) ****/
.linkGroupHead h3 {
    font-size: 1.3em;
}

/************************* END LANDING MENUS ************************/

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/**************************** NEP LANDING ***************************/
/**** E.g. http://local.bbsrc.ac.uk/news/ ****/

/**** Changed hover/focus so that the heading text is underlined when you hover over any area of the image box ****/
.imgBox:hover h2 a, .imgBox:focus h2 a {
	text-decoration: underline;
}

/**** Increased font size and removed underline on link titles in the 'News by topic' boxes. Used for other menus across website as well ****/
.linkListItem a.linkTitle {
	font-size: 1.1em;
	text-decoration:none;
}

/**** Events boxes: increases font size of event name link ****/
.imgBox .caption strong {
    font-size: 1.1em;
}

/**** Increases top margin for the 'BBSRC Business' box at bottom of page so does not appear right up to bottom of the 'Publications' listing ****/
#news #businessMag {
	margin-top: 30px!important;
}


/**** Increases font size of 'Map of venue' links on event pages
***** E.g. http://local.bbsrc.ac.uk/news/events/1411-total-food/ ****/
.content .meta p {
    font-size: 100%;
}

/**** Decreases the H1 font size of news/event items
***** E.g. http://local.bbsrc.ac.uk/news/events/1411-total-food/ ****/
#content .imgBox h1.caption {
    font-size: 1.4em;
}

/************************** END NEP LANDING *************************/

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/************************* BUSINESS MAGAZINE ************************/
/**** E.g. http://local.bbsrc.ac.uk/news/business-magazine/ ****/

/**** Increases font size and padding of magazine section title box 'BBSRC Business Summer 2014' ****/
#businessMag .sectionTitle {
	font-size: 1.4em;
	padding: 0.6em;
}

/**** Decreases font size of H2s in the Business section to keep consistent with other areas of website ****/
#businessMag h2, .sysBbsrcBusinessMagazine h2 {
    font-size: 1.3em;
}

/**** Decreases font size of issue title links ****/
#businessMag .linkTitle {
    font-size: 1.2em;
    line-height: 1.5em;
	font-weight: normal;
}

/**** Adds underline text decoration to links in bulleted lists ****/
#businessMag ul li a {
    text-decoration: underline;
}

/**** Removes underline text decoration on links in article listings
***** E.g. http://local.bbsrc.ac.uk/news/business-magazine/2014/summer-2014/ ****/
.articlesListText h3 a {
	text-decoration: none!important;
}

/**** Removes bold text format for teaser text in article listings
***** E.g. http://local.bbsrc.ac.uk/news/business-magazine/2014/summer-2014/ ****/
.articlesListText p {
	font-weight: normal;
}

/**** Increases with of the issue box 'Spring 2014' on issue pages so that it matches the right sidebar width
***** E.g. http://local.bbsrc.ac.uk/news/business-magazine/2014/summer-2014/ ****/
#businessMag header.headline .issue {
	min-width: 23.5%;
}

/*********************** END BUSINESS MAGAZINE **********************/

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/***************************** FILE BOXES ***************************/
/**** E.g. http://local.bbsrc.ac.uk/news/media-office/media-briefings/ ****/

/**** Increases margin around file boxes ****/
.file-lg {
	margin: 1.5em 0;
}

/**** Increases font size for main file link ****/
.file-lg .file-title {
	font-size: 1em;
}

/**** Changes link colour, size and format for main file link ****/
.file-link {
    color: #333;
    font-weight: bold;
	font-size: 1.15em;
	text-decoration: none!important;
}

.file-lg a {
    color: #333;
    font-size: 1.1em;
    font-weight: bold;
}

.file-lg p .InternalLink a {
    color: #a20054;
    font-size: 1em;
    font-weight: normal;
    text-decoration: underline;
}

.file-lg p .InternalLink a:hover, .file-lg p .InternalLink a:focus {
	color: #FFF;
}

/* File links in lists */

ul li .file-lg a, ol li .file-lg a {
    color: #a20054;
    font-size: 0.9em;
    font-weight: normal;
    text-decoration: underline;
}

ul li .file-lg a .file-title, ol li .file-lg a .file-title {
    font-weight: normal;
}

/*************************** END FILE BOXES *************************/

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/******************************* TABLES *****************************/
/**** E.g. http://local.bbsrc.ac.uk/funding/apply/deadlines/ ****/


/**** Decreases font size of table headers ****/
.content table thead th {
    font-size: 15px;
}

/**** Increases font size of table data cells ****/
.content table td {
    font-size: 0.95em;
}

/***************************** END TABLES ***************************/

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/**************************** IMAGE GALLERY *************************/
/**** E.g. http://local.bbsrc.ac.uk/news/food-security/2014/140304-pr-virtual-bees-unravel-causes-of-decline/ ****/

/**** Changed hover/focus/active border colour to pink rather than grey ****/
#ImageGallery .carousel-indicators li.active, #ImageGallery .carousel-indicators li:hover, #ImageGallery .carousel-indicators li:focus {	
	border: 1px solid #a20054;
}

/**** Changed hover/focus outline colour to pink ****/
#ImageGallery .carousel-inner .item img:hover, #ImageGallery .carousel-inner .item img:focus {
	outline: 1px solid #a20054;
}

/**************************** IMAGE GALLERY *************************/

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/******************************* VIDEOS *****************************/
/**** E.g. http://local.bbsrc.ac.uk/news/videos/ ****/

/**** Videos landing page: moves pink text box up to align with 'Subscribe to our YouTube Channel' heading
***** Added extra padding ****/
.videoAboutContainer .about {
	margin-top: -28px;
	padding: 6px 1em;
}

/**** Videos landing page: Decreased font size of video title heading ****/
.sysVideos h4 {
	font-size: 1.1em;
}

/***************************** END VIDEOS ***************************/

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/****************************** CONTACTS ****************************/
/**** E.g. http://local.bbsrc.ac.uk/organisation/vision/ ****/

/**** Increased top padding and margin of contact area ****/
.contentContact {
    padding-top: 1em;
	margin-top: 2em;
}

/**** Decreased font size ****/
.contentContact h3 {
    font-size: 1.1em;
}

/**** Increased font size ****/
.contentContact p {
    font-size: 1.1em;
}

/**************************** END CONTACTS **************************/

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/************************** NEXT/PREV BUTTONS ***********************/
/**** Edits for manually managed next/previous buttons on Strategic Plan pages only *****/
/**** E.g. http://local.bbsrc.ac.uk/publications/planning/strategy/monitoring/ ****/

/**** Decreased overall height of button area ****/
.content .pagination {
	height:60px;
}

/**** Changed font weight, margin and text decoration for page title in buttons (bottom text) ****/
.content .pagination ul li a p {
	margin: 0;
	font-weight: normal;
	text-decoration: underline;
}

/**** Added underline text decoration to next/previous button text (top text) to match style in news items ****/
.content .pagination ul li b {
	text-decoration: underline;
}

/**** Added top padding to text area so text aligns with next/previous buttons ****/
.content .pagination ul li a {
	padding-top: 5px!important;
}

/**** Changed hover/focus colour of next/previous button text (top and bottom text) ****/
.content .pagination ul li a:hover b, .content .pagination ul li a:hover p,
.content .pagination ul li a:focus b, .content .pagination ul li a:focus p {
	background: #555;
}

/************************ END NEXT/PREV BUTTONS *********************/

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/************************** DIGITAL SIGNAGE ***********************/
/**** Edits for images on digital signage *****/
/**** E.g. http://www.bbsrc.ac.uk/system/digital-signage/ ****/

/**** Make qr ****/
.sysDigitalSignage img {
	max-width:100%;
}

/************************ END DIGITAL SIGNAGE *********************/

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */

