/* BBSRC print CSS - July 2015 */

/*Remove unwanted elements */
.keynote, #tools, .navbar, .sidebar, section#content nav, nav ul.breadcrumb, .playpause, .imgBox img, .imgBox time, .meta img.logo, figure.video, .indicator-left, .indicator-right, .carousel-inner, .navigate, div.pull-left, div.pull-right, .headline, form, #footer {
	display: none!important;
}

/* Make content full width */
section#content {
	width: 100%;
	margin: 0;
	padding: 0;
}

/* Set heading and link colour */
h1, h2, h3, h4, h5, h6,a,  a:link, a:visited, .author, .linkTitle {
	color: #a20054!important;
}

/* Remove bottom border on right-hand sidebar */
aside .mura-index {
    margin-bottom: 0;
}

/* Position right-hand sidebar in line with content */
.Relatedlinks, .Downloads, .Externallinks {
	margin-left: -273px!important;
}

/* Remove border around right-hand sidebar links */
.svRelContent, .svRelContent article.listing {
	border: none;
}

/* Stops images breaking between two printed pages */
figure {
    page-break-before: auto;
    page-break-after: auto;
    page-break-inside: avoid;
}

/* Adds border around image captions */
figcaption {
	border: 1px solid #999!important;
}

/* Styling and positioning for ul lists */
#content ul li {
	background: none;
	list-style: outside;
	padding-left: 10px;
	margin-left: 30px;
}

/* Styling and positioning for ol lists */
.content ol li {
	padding-left: 10px;
	margin-left: -10px;
}

/* Adds border around table header/cells */
.content table td, .content table th, h2.tableHead {
	border: 1px solid #000;
}

/* Inserts icon for PDF file downloads */
.file-lg-pdf:before {
	content: url(http://www.bbsrc.ac.uk/bbsrc/assets/Image/icons/i-pdf.png?20150325103138)!important;
	float: left;
	padding-right: 10px;
}

/* Inserts icon for DOC file downloads */
.file-lg-doc:before {
	content: url(http://www.bbsrc.ac.uk/bbsrc/assets/Image/icons/i-doc.png?20150325103138)!important;
	float: left;
	padding-right: 10px;
}

/* Inserts icon for ODT file downloads */
.file-lg-odt:before {
	content: url(http://www.bbsrc.ac.uk/bbsrc/assets/Image/icons/i-xxx.png?20150325060735)!important;
	float: left;
	padding-right: 10px;
}

/* Styling and positioning for file downloads */
.file-lg-pdf, .file-lg-doc, .file-lg-odt {
	padding-left: 0;
}

/* Removes the yellow external link icon */
.ExternalLink:after {
	background: none!important;
	padding: 0;
}

.svRelContent a:after {
	content:" [" attr(href) "] "!important;
}

/* Styling and positioning for image gallery */
#ImageGallery {
	padding: 0!important;
	border: none;
}

/* Styling and positioning for image gallery */
#ImageGallery .valign {
	display: block;
	padding: 0 0 0 5px;
}

/* Removed border around image gallery thumbnails adn removes opacity */
.indicator-item {
	border: none!important;
	opacity: 1!important;
}

/* Removes the printed link displaying after items */
#logo a[href]:after,
.meta a[href]:after,
.imgBox a[href]:after,
a[href^="mailto"]:after,
a[href^="/news/filter"]:after {
    content: none!important;
}

/* Changes colour and text decoration for news tag links */
a[href^="/news/filter"] {
	color: #000!important;
	text-decoration: none;
}

/* Positioning for BBSRC logo */
#logo img {
	margin-top: 0!important;
	padding-top: 0!important;
}

/* Styling and positioning for image boxes */
.imgBox {
	margin-bottom: 0;
}

.imgBox h1 {
	margin: 0!important;
	padding: 0!important;
}

.sectionTitle {
	padding: 0 0 10px 0!important;
	color: #a20054!important;
}

.about, .caption {
	padding: 0!important;
}