* { margin: 0; padding: 0; }
body {
	color: #005682;
	text-align: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 100%;
	line-height: inherit;
	background-color: #FFF;
	vertical-align: top;
}

a:link {
	color: #036;
	text-decoration: none;
}
a:hover, a:active {
	color: #000;
	text-decoration: none;
	background-color: #FAFAFA;
}
a:visited {
	color: #005682;
	text-decoration: none;
	text-align: left;
}
a.no-outline { outline: 0; }

h1, h2 {
	border-bottom: 1px solid #999;
	clear: both;
	color:#005682;
	font-size: 1em;
	font-weight: bold;
	margin: 10px 0 7px 0;
}
h3 {
	color:#00C;
	font-size: 1em;
	font-weight: bold;
	margin: 0 0 1em 0;
	text-align: center;
}
h4 { color:#333; font-size: 1em; font-weight: bold; margin: 0 0 1em 0; }

otsakepieni { border-bottom: 1px solid #999; clear: both; color:#666; font-size: 1em; font-weight: bold; margin: 10px 0 7px 0; }
p {
	margin: 0 0 1em 0;
	color: #333;
	text-align: left;
	font-weight: lighter;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
.sisennys { padding-left: 4px;}
ul { margin: 0 0 1em 0; }
li {
	background: transparent;
	list-style: none;
	padding: 0 0 3px 15px;
	list-style-type: none;
}
input#haku { height: 15px; width: 158px; }
input.hakulaatikko { height: 17px; width: 110px; }
fieldset { border: 0px none; margin: 0 0 1em 0; }
.clear-ns { clear: both; height: 0; text-indent: -1000em; } /* Netscape 7 fix */
.clear { clear: both; }
.left { float: left; }
.right { float: right; }
img {
	border: 0;
	text-align: right;
}
.image { border: 4px solid #D1D3D2; }
.uutinen-nosto { float: right; width: 240px; }
.uutinen-nosto ul { display: inline; float: left; }
.uutinen-nosto li { background: none; display: inline; float: left; padding: 0 10px 0 0; }
.pystykuva { float: left; margin: 0 10px 10px 0; }
.vaakakuva { margin: 0 0 10px 0; }
.tehostekuva { background-color: #fff; border-bottom: 1px solid #999; border-top: 1px solid #999; display: block; padding: 1px 0; margin: 0 0 10px 0;}
.valiviiva { border-bottom: 1px solid #999; clear: both; color:#666; }
#wrapper { background: #fff; border: 1px solid #8b8b8b; border-top: 0px none; margin: 0 auto; text-align:left; width: 746px; width/**/:/**/744px; }


/* Sivun päänavigaatio */ 
#nav {
	background: #fff url(file:///C|/Documents%20and%20Settings/erai/Desktop/domainkeskus/images/nav/nav_bg.gif) bottom left repeat-x;
	clear: both;
	font-size: 12px;
	height: 1.4em/*16px*/;
	padding: 0 0 0 4px;
	color: #005682;
}
#nav ul { list-style: none; margin: 0; }
#nav ul li, #nav ul li.active { background: #005682 url(file:///C|/Documents%20and%20Settings/erai/Desktop/domainkeskus/images/nav/navtop_bg_li.gif) bottom right no-repeat; display: inline; float: left; margin: 0; padding: 0 7px; }
#nav a:link, #nav a:visited, #nav a:hover, #nav a:active {
	color: #069;
	display: block;
	padding: 2px 0 0 0;
	text-decoration: none;
	white-space: nowrap;
}
* html #nav a:link, * html #nav a:visited, * html #nav a:hover, * html #nav a:active { padding: 0; }
#nav a:hover {
	color: #000;
	display: none;
}
* html #nav, * html #nav ul, * html #nav ul li, * html #nav li, * html #nav ul li.active { height: 1.6em; }

/* Sivun päänavigaation kakkostaso */ 
* html #nav-2nd { padding-top: 0; width: 744px; width/**/:/**/ 740px; } /*IE 5.x reads 744px and IE 6 will read 740px*/
#nav-2nd ul { height: 1.4em/*16px*/; list-style: none; margin: 0; }
#nav-2nd ul li, #nav-2nd ul li.active, #nav-2nd ul li.last { background: transparent url(file:///C|/Documents%20and%20Settings/erai/Desktop/domainkeskus/images/nav/nav_2nd_li.gif) top right repeat-y;display: inline; float: left; height: 1.4em/*16px*/; margin: 0; padding: 0 7px; }
#nav-2nd ul li.active { background: transparent url(file:///C|/Documents%20and%20Settings/erai/Desktop/domainkeskus/images/nav/nav_2nd_li_active.gif) top left repeat-x; }
#nav-2nd ul li.last { background-image: none; }
#nav-2nd ul li.active a:link, #nav-2nd ul li.active a:visited, #nav-2nd ul li.active a:hover, #nav-2nd ul li.active a:active { color: #3a3a3a; text-decoration: none; white-space: nowrap; }

/* */
#content {
	clear: both;
	height: 100%;
	padding: 0 9px 12px 9px;
	visibility: inherit;
}

.column-left {
	float: left;
	width: 192px;
	text-align: right;
	margin-top: -4px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}
.column-center { float: left; margin: -4px 19px 0 19px; width: 349px; }
.column-right { float: left; margin: -4px 0 0 0; width: 147px; }
.column-center-wide { float: left; margin: -4px 0 0 19px; width: 515px; }

body.etusivu .column-left { float: left; width: 315px; }
body.etusivu .column-center { float: left; width: 227px; }
body.etusivu .column-right { float: left; width: 146px; }

body.etusivu .column-left img { border: 4px solid #D1D3D2; float: left; margin: 0 0 1em 0; }
body.etusivu .column-left ul { float: left; margin: 0 0 0 10px; width: 175px; }
body.etusivu .column-left li { width: 160px; width/**/:/**/170px; }
* html body.etusivu .column-left ul { margin: 0 0 0 5px; margin/**/:/**/0 0 0 10px; width: 160px; width/**/:/**/170px; }


/* Sivun alaosa "footer" */
#footer {
	clear: both;
	text-align: justify;
}
* html #footer { height: 61px; }
#footer ul {
	float: right;
	list-style: none;
	margin: 13px 3px 10px 0;
	text-align: left;
}
#footer ul li {
	background-image: none;
	display: inline;
	float: left;
	margin: 0;
	padding: 0 7px;
	text-align: left;
}
.footer-li {
	background: transparent;
	display: block;
	margin-top: 2px;
	text-align: left;
}
.footer-vali {
	margin-right: 18px;
	display: block;
	margin-top: 2px;
	text-align: left;
}
.footer-bold {
	color: #575757;
	font-weight: bold;
	display: block;
	margin-top: 2px;
	text-align: left;
}
#footer p {
	font-size: .9em;
	margin: 0 10px 0 0;
	padding: 0 0 .5em 0;
	text-align: left;
}

/* commented backslash hack v2 \*/
#footer {
	background: #fff;
	text-align: left;
}
/* end hack */
#eng #wrapper #content .taustaviivat-3-palstaa .column-left p {
	color: #009;
}
