@charset "UTF-8"

html, body {
    height: 100%;
    font-size: 100.1%;
}

.container {
    position: relative;
    top: 0;
    left: 0;
    min-height: 100%;
}

.jumbotron {
    margin-bottom: 60px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    clear: both;
    z-index: 10;
    height: 60px;
    width: 90%;
    margin: 0 5%;
}

footer p {
    text-align: center;
    color: gray;
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
}

p {
    font-size: 0.8em;
  }
  
p.normal {
    font-size: 0.9em;
  }

h1 {
    text-align: center;
    font-size: 2em;
}

h1.normal {
    text-align: center;
    font-size: 2em;
}

h2 {
    text-align: center;
    font-size: 1.8em;
}

h2 > a:hover {
    text-decoration: underline;
  
}


#logo-dsmz {
    float: left;
    width: 60px;
}

#logo-bacdive {
    float: right;
    width: 60px;
}

.jumbotron p {
    text-align: justify;
    padding: 0 5%;
}

