/* 
    Document   : common
    Created on : Feb 9, 2010, 2:26:38 PM
    Author     : ycchang
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
#links{
    float:left;
    height:22px;
    padding-top:1px;
    visibility: hidden;
}
#users{
    padding-top:1px;
    padding-bottom:7px;
    text-align:right;
    width:100%;
}
#head{
    font-size:13px;
}
#main{
    position:relative;
    width: 100%;
    /*height:500px;*/
    clear: both;
    overflow: auto;
}
#leftPanel{
    width:200px;
    overflow:hidden;
    top:0;
    left:0;
    position:absolute;
    z-index:2;
    background: #D5DDF3 none repeat scroll 0 0;
    height: 100%;
}
#mainContent{
    position:relative;
    /*overflow:auto;*/
    /*margin-right: 20px;*/
    margin-left: 210px;
    /*height: 500px;*/
}
#smallLego{
    width:250px;
    height: 60px;
    text-decoration:none;
    display:inline-block;
    font-size: 40px;
    overflow: hidden;
    text-align: center;
    padding:0px;
}
.gbh{
    height:0;
    position:absolute;
    top:24px;
    width:100%;
}
body{
    margin: 0px;
}
#functionalBar{
    height: 24px;
    background: #E8ECF9 none repeat scroll 0 0;
    width: 100%;
}

#functionalLink2{
    font-size: 13px;
    margin: 0;
    list-style: none;
    padding-top: 4px;
    padding-left: 10px;
    height: 16px;
}
#functionalLink2 a{
    text-decoration: none;
}

#functionalLink2 li.headlink {
    padding: 0;
    margin: 0;
}
#functionalLink2 li.vbar {
    float: left;
    text-align: center;
}
#functionalLink2 li.headlink {
    float: left;
    text-align: center;
}
.functionalLink{
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    height: 2.1em;
    font-size: 13px;
    padding-top: 4px;
    padding-left: 10px;
    border-top: 1px solid gray;
}

.functionalLink a{
    text-decoration: none;
}
.functionalLink li{
    display:inline;
    float:none;
}

#fun_sub_howto{
    display: none;
    position: absolute;
    top: 106px;
    left: 0;
    /*margin-left: 8px;*/
    z-index: 99999;
    background: none repeat scroll 0 0 #E8ECF9;
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    float: left;
    text-align: left;
    margin:0px;
}
#effect ul{
    list-style:disc;
}
.geneDesc{
    padding-bottom: 10px;
}
#searchMain{
    margin: 0px;
    padding: 0px;
}
#basicSearch{
    margin: 0px;
    padding: 0px;
}
.vbar{
    padding-left: 5px;
    padding-right: 5px;
    color:gray;
}
.rightLink{
    padding-right: 8px;
    font-weight: bold;
    display:inline;
}
#searchKeyword{
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    font-style:italic;
}
#keyword{
    /*font-weight: bold;*/
}
#advSearch{
    margin-left:250px;
}
.moreLink{
    font-size: medium;
    text-decoration: none;
}
.pclusterStat{
    color: gray;
    font-size: 80%;
}
.geneTable tbody td{
    font-size: 80%;
    margin: 0px;
}
.geneTable thead td{
    border-bottom-color: gray;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    background-color: #F5F5F5;
    font-size: 80%;
    text-align: center;
    vertical-align: bottom;
    margin: 0px;
}
.geneName{
    width: 175px;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px 5px 5px 5px;
}
.geneSymbol{
    padding: 5px 5px 5px 5px;
}
.genePredFun{
    width: 175px;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px 10px 5px 10px;
}
.resultBlock{
    text-align: left;
    margin-left: 20px;
    margin-bottom: 50px;
}
.geneTableBlock{
    margin-left: 20px;
    margin-top: 10px;
}
.geneTable{
    border: 2px white solid;
    border-collapse: collapse;
    width: 90%;
}

.buttonOutline{
    display: block;
    position: absolute;
    left: 0pt;
    top: 0pt;
    height: 24px;
    width: 24px;
    background: #D5DDF3 none repeat scroll 0 0;
    overflow:hidden;
}
.button{
    position: absolute;
    top: 0px;
    left: 0px;
    margin:2px 2px 2px 2px;
    width: 14px;
    height: 14px;
    overflow: hidden;
    font-size: 9px;
    border-color: white;
    border-style: solid;
    border-width: 3px;
    vertical-align: middle;
    text-align: center;
    color: gray;
    font-weight: bold;
    padding-top: 1px;
}
.filterOption{
    margin-top: 10px;
    margin-bottom: 20px;
}
.filterOptTitle{
    color:gray;
    font-weight: bold;
    font-size: large;
}
#leftPanelContent{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
}
#mainAnnounce{
    float: left;
    margin-top: 25px;
    clear:left;
    width: 60%;
    display: inline;
}
#aside{
    display: inline;
    margin-top: 25px;
    /*padding: 20px;*/
    margin-right: 1%;
    float:right;
    width: 25%;
    text-align: left;
    font-size: small;

}
#quickAnnounce{
    border: 1px gray solid;
}
#quickAnnounceInner{
    margin: 1px;
    border: 1px gray solid;
    padding: 5px;
    height: 500px;
}
.announceHead{
    margin-bottom: 5px;
    font-weight: bold;
    font-size: large;
}
.announceBlock{
    margin-top: 10px;
    margin-bottom: 50px;
    /*border: 2px black solid;*/
}
.announceContent{
    margin-top: 10px;
    margin-left: 10px;
}
.gTableStatus{
    width: 50px;
    border-right: 2px white solid;
}
.gTableSymbol{
    width: 125px;
    border-right: 2px white solid;
}
.geneStatus{
    padding: 0px;
    text-align: center;
}
.gTableHr{
    border-top: 1px silver solid;
    /*border-left: 20px white solid;*/
    /*font-size: 1px;*/
    height: 1px;
    margin: 0px 10px;
    padding: 0px;
}
.gTableHrTd{
    /*padding:0px;*/
}
#foot{
    text-align: center;
    margin-top: 30px;
    clear: both;
}
.section{
    position: relative;
    width: 100%;
}
.utilLink{
    float: right;
    font-size: small;
    margin-top: 0;
    font-weight: bold;
    padding: 0 1em;
}
.sectionHead{
    color: white;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0.25em 0.5em;
    background-color: #AAAAAA;
}
.utilLink{
    color: #E5E5E5;
    padding-top: 3px;
}
.utilLink a{
    text-decoration: none;
    color: #E5E5E5;
}
#sections{
    margin-top: 10px;
}

#jumpDownList .jupdDownLink{
    margin-left: 6px;
    margin-right: 6px;
}
.sectionTableValue ul{
    padding-left: 1em;
}

.sectionTableHead{
    width: 15em;
}

.sectionTableValue .nolist, .sectionTableValue .nolist li {
    display: inline;
    margin: 0;
    padding: 0;
}
.sectionTableValue .nolist li:after {
    content: ", ";
}

.sectionTableValue .nolist li.last:after {
    /*content: ". ";*/
}

.sectionTable thead tr td{
    background-color: #F5F5F5;
    font-size: small;
    font-weight: bold;
    padding: 0.5em 0.25em;
    border: 1px #DEDEDE solid;
    vertical-align: top;
}


.sectionTable tbody tr td{
    font-size: small;
    padding: 0.5em 0.25em;
    border: 1px #DEDEDE solid;
    vertical-align: top;
}
.sectionTable{
    border: 2px white solid;
    border-collapse: collapse;
    clear: both;
    width: 100%;
}
.sectionContent{
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.action_button{
    width:100%;
}

#headLine{
    font-size: 18px;
    font-weight: bold;
}

.pageItem{
    margin: 0 5px;
}
.recNumber{

}
.speciesName{
    font-style: italic;
}
.species, .genus{
    font-style: italic;
}

img.genecolor {
    height:8px;
    width:8px;
    border:0px;
}
img.clustercolor {
    vertical-align: middle;
    height:24px;
    width:24px;
    border:0px;
}

img.titlecolor {
    vertical-align: middle;
    height:30px;
    width:30px;
    margin-bottom: 5px;
    border:0px;
}

.letterBox
{
    display: inline;
    width: 10px;
    height: 10px;
    font-size: 10px;
    padding-bottom: 2px;
    margin-top: -3px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    border: 1px gray solid;
    color: #222222;
}

.combrexNumGenes
{
    display: inline-block;
    height: 15px;
    width: 25px;
    font-size: 12px;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-weight: bold;
    border: 1px solid gray;
    padding: 3px;
}
.goldGenes
{
    background: #eec900;
}
.greenGenes, .greenCluster
{
    background: #11b411;
}
.blueGenes, .blueCluster
{
    background: #255abe;
}
.blackGenes, .blackCluster
{
    background: black;
}

.dialog_link_mouseIn{
    text-decoration: underline;
}
.dialog_link_mouseOut{
    text-decoration:inherit;
}
.ac_results {
    padding: 0px;
    border: 1px solid WindowFrame;
    background-color: Window;
    overflow: hidden;
}

.ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ac_results iframe {
    display:none;/*sorry for IE5*/
    display/**/:block;/*sorry for IE5*/
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    filter:mask();
    width:3000px;
    height:3000px;
}

.ac_results li {
    margin: 0px;
    padding: 2px 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    font: menu;
    font-size: 12px;
    overflow: hidden;
}

.ac_loading {
    background : Window url('/images/indicator.gif') right center no-repeat;
}

.ac_over {
    background-color: Highlight;
    color: HighlightText;
}
#share_submenu {
    display:none;
    position: absolute;
    z-index: 99999;
    background: none repeat scroll 0 0 #FFFFFF;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0 px;
    padding-bottom: 2px;
    /*float: left;*/
    text-align: left;
    width:400px;
}
#share_submenu_content {
    background: none repeat scroll 0 0 #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    border: 1px solid gray;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    /*width:100%;
    height: 100%;*/
}
