body {
  /*font-family: "Times New Roman", serif;*/
  font-family: "Arial", sans-serif;
  margin : 0px;
  padding : 0px;
}

div {
  margin : 0px;
  padding : 0px;
}

h2 {
  padding : 0px;
  margin : 0px;
  color : #551A8B;	
  font-size : 32px;
}

h3 {
  padding : 0px;
  margin : 0px;
  color : #551A8B;	
  font-size : 18px;
}

h4 {
  padding : 0px;
  margin : 0px;
  color : #551A8B;	
  font-size : 10px;
}

table {
  border-collapse: collapse;
}

/* Style for input boxes */
input {
  border: 1px solid #CCCCCC;
  font-size: 14px;
  margin-bottom : 1px;
  margin-top: 0px;
  padding-right: 1px;
  padding-left: 1px;
  padding-top: 2px;
  padding-bottom: 2px;
}

select {
  border: 1px solid #CCCCCC;
}

.logo {
	color : #551A8B;
	text-decoration: none;
}

.errorText {
  color : red;
  font-weight : bold;	
}

.messageText {
  color : green;
  font-weight : bold;	
}

.text {
	color:#551A8B;
	 font-weight : bold;	
}

.header {
  /*background-color : #F1F5FF;*/
  background-color : #FFFFFF;
  background-image:url("images/new-b.png");
  background-repeat:repeat-x;
  background-position:left bottom;
  margin-bottom : 5px; 
  /* padding-bottom : 10px; */
  width: 100%; 
}
.header-login {
	color : #551A8B;
	float : right; 
	font-size:14px; 
	font-weight: bold;
	padding-right : 10px; 
	padding-top : 5px; 
	text-align : right;
}
.header-inner { padding-left : 5px; }
/*.header table { cursor:default; font-size:14px; font-weight: bold; letter-spacing:2px; margin-top:8px; }*/
.header table { cursor:default; font-size:13px; font-weight: normal; letter-spacing:1px; margin-top:8px; }
.header td { border:1px solid #551A8B; background-color:#F1F5FF; color:#0000FF; padding:4px; }
.header td:hover { border:1px solid #551A8B; background-color:#FFFFFF; color:#000000; padding:4px; }

/*
.header td { border:1px solid #551A8B; background-color:white; color:#551A8B; padding:4px; }
.header td:hover { border:1px solid #551A8B; background-color:#551A8B; color:#F1F5FF; padding:4px; }
*/
.footer {
	padding : 5px;
}
.footer img { border:none; }

/* Styles related only to the registration page */
.registration {
  min-width : 425px;
  max-width : 600px;
}

.registrationInfo {
  padding : 5px;
}

.registrationTop {
  background-color : #DDDDDD;
}

.registrationBottom {
  background-color : #DDDDDD;
}

.registrationFirstSectionBar {
  background-color : #DDDDDD;
  color : #333333;
  font-weight: bold;
  padding-top : 0px;
  padding-bottom : 5px;
  padding-right : 5px;
  padding-left : 5px;
}

.registrationSectionBar {
  background-color : #DDDDDD;
  color : #333333;
  font-weight: bold;
  padding : 5px;
}

.registrationSectionContent {
  padding : 5px;
  border-left : 1px solid #DDDDDD;
  border-right : 1px solid #DDDDDD;
}

.registrationButtons {
  padding-top : 10px;
  text-align : center;
}

.registrationRightSide {
  float : right;
}

/* Bubbles */
.bubble { text-align: left }
.bubble table { border-collapse: collapse; }
.bubble h3 { display:inline; font-size: 16px; }
.bubble h4 { display:inline; font-size: 14px; font-weight: normal; }
.bubble td.text { font-size: 12px; padding: 0; margin: 0; }
.bubble td.title { background-position: top; background-repeat: repeat-x; }
.bubble td.title { padding: 0; width: 100%; text-align: center; height : 28px; background-image:url("images/new-t.png")}
.bubble td.tl { background-position: top left; background-repeat: no-repeat; background-image:url("images/new-c.png")}
.bubble td.tr { background-position: top right; background-repeat: no-repeat; background-image:url("images/new-c.png")}
.bubble td.bl { background-position: bottom left; background-repeat: no-repeat; background-image:url("images/new-c.png")}
.bubble td.br { background-position: bottom right; background-repeat: no-repeat; background-image:url("images/new-c.png")}
.bubble td.bottom { padding: 0; width: 100%; text-align: center; background-image:url("images/new-b.png")}
.bubble div.badge { position: relative; }
.bubble div.badge img { position: absolute; }
table.blue { color: #551A8B; background-color: #F1F5FF; }
table.blue td.title { text-align: center; }
table.blue td.title h3 {
  color: #551A8B;
  font-size: 18px; 
  font-weight: bold;
  padding: 0; 
  margin: 0;
}
table.blue td.sectionTop { 
  border-bottom : 1px solid #551A8B;
  color: #551A8B;
  font-weight: bold;
}
table.blue td.section { 
  border-bottom : 1px solid #551A8B;
  color: #551A8B;
  font-weight: bold;
  padding-top : 10px
}
table.bubble-content {
  font-size: 14px;
  width : 100%;
}

.bid { min-width:600px; border:1px solid #551A8B; }
.bid th { background-color:#E0E4EE; text-align:left; border-bottom:1px solid #551A8B; padding:2px; }
.bid td { background-color:white; padding:2px; }
.bid td.amount { width:130px; }
.bid td.status { width:130px; }
.bid td.date { width:110px; }

.bids { min-width:600px; border:1px solid #551A8B; }
.bids th { background-color:#E0E4EE; text-align:left; border-bottom:1px solid #551A8B; padding:2px; }
.bids td { background-color:white; padding:2px; border-bottom: 1px solid grey}
.bids td.amount { width:130px; }
.bids td.status { width:130px; }
.bids td.date { width:110px; }

.users { min-width:600px; border:1px solid #551A8B; }
.users th { background-color:#E0E4EE; text-align:left; border-bottom:1px solid #551A8B; padding:2px; }
.users td { background-color:white; padding:2px; border-bottom: 1px solid grey}
.users td.amount { width:130px; }
.users td.status { width:130px; }
.users td.date { width:110px; }