@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  src: local('Segoe UI');
}
@font-face {
  font-family: 'Segoe UI Light';
  font-style: normal;
  src: local('Segoe UI Light');
}
@font-face {
  font-family: 'Segoe UI Semibold';
  font-style: normal;
  src: local('Segoe UI Semibold');
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: #333333;
  font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}
h1 {
  font-family: 'Segoe UI Semibold';
  font-weight: 400;
  font-size: 3.5em;
}
h3 {
  font-family: 'Segoe UI Light';
  font-weight: 100;
  font-size: 1.75em;
}
.container {
  max-width: 1080px;
  margin: 0 auto;
  flex: 1 0 auto;
  display: flex;
  position: relative;
}
.header-container {
  height: 80px;
  display: flex;
  align-items: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.wrapper .page-header {
  height: 80px;
  background-color: #32145A;
  color: white;
}
.wrapper .splash-container {
  height: 527px;
  background: url('Background1600.jpg');
  background-position: center -100px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
}
.wrapper .splash-container h1 {
  margin: 0;
  margin-top: -65px;
  margin-bottom: 10px;
}
.wrapper .splash-container h3 {
  margin: 0;
}
.wrapper .content {
  text-align: center;
  padding: 60px 0;
}
.wrapper .content h4 {
  font-family: 'Segoe UI Light';
  font-size: 1.5em;
  font-weight: 100;
  margin: 0;
}
.wrapper .content a {
  color: #32145A;
  font-weight: 500;
  font-family: 'Segoe UI Semibold';
}
.wrapper .content a.button-link {
  text-decoration: none;
  font-family: 'Segoe UI';
  margin-top: 60px;
  display: inline-block;
  padding: 10px 30px;
  background-color: #32145A;
  color: white;
  font-size: 18px;
}
.wrapper .content .bottom-content {
  margin-top: 60px;
  width: 100%;
}
.wrapper .content .bottom-content .container {
  display: flex;
  justify-content: space-between;
}
.wrapper .page-footer {
  background-color: #EBEBEB;
  padding: 20px 0;
  font-size: 14px;
  font-family: 'Segoe UI';
}
.wrapper .page-footer .fitm {
  margin-right: 20px;
  font-weight: 400;
}
.wrapper .page-footer .fitm:last-child {
  margin-right: 0;
}
.wrapper .page-footer .spacer {
  flex: 1 1 auto;
}
.wrapper .page-footer a {
  text-decoration: none;
  color: #333333;
}
