/** 
 * @author     Anna Vetcininova
 * @version    1.00
 * @date       2015-08-06
 * @lastchange 2015-08-06
 * @copyright  Copyright (c) 2012 - 2015 DSMZ, Anna Vetcininova
 * @package    static.pnu.css.pnu
 *  
*/

@charset "UTF-8";
body {
    font-size: 14px;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto 50px;
}

.wrapper .navbar{
    width: 100%;
    left: 0;
    top: 0;
}

.navbar .navbar-inner{
    background: #FFFFFF;
    color: white;
    border: none;
    border-top: 5px solid #A30000;
    border-bottom: 1px solid #A30000;
    border-radius: 0px;
}

body, .navbar .navbar-inner .container-fluid {
    max-width: 1150px;
    margin: 0 auto;
}

.navbar {
    overflow:visible;
    margin-bottom:20px;
    color:#777777;
    position:fixed;
    z-index:3;
}

.navbar-inner {
    min-height:40px;
    padding-left:20px;
    padding-right:20px;
    background-color:#fafafa;
    background-image:-moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image:-webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image:-o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image:linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
    border:1px solid #d4d4d4;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.065);
    *zoom:1;
}

.navbar-inner:before,.navbar-inner:after {
    display:table;
    content:"";
    line-height:0;
}

.navbar-inner:after {
    clear:both;
}

.navbar-inverse {
    color:#999999;
}
/*
.navbar-inverse .navbar-inner {
    background-color:#1b1b1b;
    background-image:-moz-linear-gradient(top, #222222, #111111);
    background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
    background-image:-webkit-linear-gradient(top, #222222, #111111);
    background-image:-o-linear-gradient(top, #222222, #111111);
    background-image:linear-gradient(to bottom, #222222, #111111);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
    border-color:#252525;
}
*/
.container-fluid {
    padding-right:20px;
    padding-left:20px;
    *zoom:1;
}

.container-fluid:before, .container-fluid:after {
    display:table;
    content:"";
    line-height:0;
}

.container-fluid:after {
    clear:both;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
