<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
 <HEAD>
   <TITLE> [InterMine Dev] iodocs is having trouble
   </TITLE>
   <LINK REL="Index" HREF="index.html" >
   <LINK REL="made" HREF="mailto:dev%40intermine.org?Subject=Re%3A%20%5BInterMine%20Dev%5D%20iodocs%20is%20having%20trouble&In-Reply-To=%3CC9C8F64B-F135-4725-B50B-839EFDB838C1%40cam.ac.uk%3E">
   <META NAME="robots" CONTENT="index,nofollow">
   <style type="text/css">
       pre {
           white-space: pre-wrap;       /* css-2.1, curent FF, Opera, Safari */
           }
   </style>
   <META http-equiv="Content-Type" content="text/html; charset=us-ascii">
   <LINK REL="Previous"  HREF="003319.html">
   <LINK REL="Next"  HREF="003325.html">
 </HEAD>
 <BODY BGCOLOR="#ffffff">
   <H1>[InterMine Dev] iodocs is having trouble</H1>
    <B>Josh Heimbach</B> 
    <A HREF="mailto:dev%40intermine.org?Subject=Re%3A%20%5BInterMine%20Dev%5D%20iodocs%20is%20having%20trouble&In-Reply-To=%3CC9C8F64B-F135-4725-B50B-839EFDB838C1%40cam.ac.uk%3E"
       TITLE="[InterMine Dev] iodocs is having trouble">jkh46 at cam.ac.uk
       </A><BR>
    <I>Thu Jun 18 00:16:39 BST 2015</I>
    <P><UL>
        <LI>Previous message: <A HREF="003319.html">[InterMine Dev] iodocs is having trouble
</A></li>
        <LI>Next message: <A HREF="003325.html">[InterMine Dev] embedding widgets
</A></li>
         <LI> <B>Messages sorted by:</B> 
              <a href="date.html#3320">[ date ]</a>
              <a href="thread.html#3320">[ thread ]</a>
              <a href="subject.html#3320">[ subject ]</a>
              <a href="author.html#3320">[ author ]</a>
         </LI>
       </UL>
    <HR>  
<!--beginarticle-->
<PRE>Hi Joel,

I relaunched iodocs and it appears to be working again: <A HREF="http://iodocs.labs.intermine.org">http://iodocs.labs.intermine.org</A> &lt;<A HREF="http://iodocs.labs.intermine.org/">http://iodocs.labs.intermine.org/</A>&gt;

The root cause isn&#8217;t immediately clear but I&#8217;ll look into it.

- Josh

&gt;<i> On Jun 18, 2015, at 12:00 AM, Alex Kalderimis &lt;<A HREF="http://mail.intermine.org/cgi-bin/mailman/listinfo/dev">alex at intermine.org</A>&gt; wrote:
</I>&gt;<i> 
</I>&gt;<i> I'm not sure what the issue is, but the heroku version is working fine:
</I>&gt;<i> 
</I>&gt;<i> <A HREF="http://imdocs.herokuapp.com">http://imdocs.herokuapp.com</A>
</I>&gt;<i> 
</I>&gt;<i> On 17 Jun 2015 6:56 pm, Joel Richardson &lt;<A HREF="http://mail.intermine.org/cgi-bin/mailman/listinfo/dev">Joel.Richardson at jax.org</A>&gt; wrote:
</I>&gt;&gt;<i> 
</I>&gt;&gt;<i> 
</I>&gt;&gt;<i> The web service live documentation at <A HREF="http://iodocs.labs.intermine.org/">http://iodocs.labs.intermine.org/</A> appears to be having issues.
</I>&gt;&gt;<i> It's super slow, and when I go to MouseMine, I just get a skeletal page with some error messages.
</I>&gt;&gt;<i> 
</I>&gt;&gt;<i> Thanks,
</I>&gt;&gt;<i> Joel
</I>&gt;&gt;<i> 
</I>&gt;&gt;<i> API for MouseMine
</I>&gt;&gt;<i> API version  {{apiInfo.apiVersion}}
</I>&gt;&gt;<i> Logged in {{auth.username ? 'as ' + auth.username : 'anonymously'}}Not logged in Log Out
</I>&gt;&gt;<i> {{scheme.name}}
</I>&gt;&gt;<i> &#215;
</I>&gt;&gt;<i> Error
</I>&gt;&gt;<i> 
</I>&gt;&gt;<i> {{error.msg}}
</I>&gt;&gt;<i> 
</I>&gt;&gt;<i> ?  Mashery, Inc.  and  InterMine
</I>&gt;&gt;<i> Powered by I/O Docs
</I>&gt;&gt;<i> -- 
</I>&gt;&gt;<i> Joel E. Richardson, Ph.D.
</I>&gt;&gt;<i> Sr. Research Scientist
</I>&gt;&gt;<i> Mouse Genome Informatics
</I>&gt;&gt;<i> The Jackson Laboratory
</I>&gt;&gt;<i> 600 Main Street
</I>&gt;&gt;<i> Bar Harbor, Maine 04609
</I>&gt;&gt;<i> 207-288-6435
</I>&gt;&gt;<i> <A HREF="http://mail.intermine.org/cgi-bin/mailman/listinfo/dev">joel.richardson at jax.org</A>
</I>&gt;&gt;<i> 
</I>&gt;&gt;<i> The information in this email, including attachments, may be confidential and is intended solely for the addressee(s). If you believe you received this email by mistake, please notify the sender by return email as soon as possible.
</I>&gt;<i> _______________________________________________
</I>&gt;<i> dev mailing list
</I>&gt;<i> <A HREF="http://mail.intermine.org/cgi-bin/mailman/listinfo/dev">dev at intermine.org</A>
</I>&gt;<i> <A HREF="http://mail.intermine.org/cgi-bin/mailman/listinfo/dev">http://mail.intermine.org/cgi-bin/mailman/listinfo/dev</A>
</I>
-------------- next part --------------
An HTML attachment was scrubbed...
URL: &lt;<A HREF="http://mail.intermine.org/pipermail/dev/attachments/20150618/5368da28/attachment.html">http://mail.intermine.org/pipermail/dev/attachments/20150618/5368da28/attachment.html</A>&gt;
</PRE>






<!--endarticle-->
    <HR>
    <P><UL>
        <!--threads-->
	<LI>Previous message: <A HREF="003319.html">[InterMine Dev] iodocs is having trouble
</A></li>
	<LI>Next message: <A HREF="003325.html">[InterMine Dev] embedding widgets
</A></li>
         <LI> <B>Messages sorted by:</B> 
              <a href="date.html#3320">[ date ]</a>
              <a href="thread.html#3320">[ thread ]</a>
              <a href="subject.html#3320">[ subject ]</a>
              <a href="author.html#3320">[ author ]</a>
         </LI>
       </UL>

<hr>
<a href="http://mail.intermine.org/cgi-bin/mailman/listinfo/dev">More information about the dev
mailing list</a><br>
</body></html>
