<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
 <HEAD>
   <TITLE> [InterMine Dev] iodocs is having trouble
   </TITLE>
   <LINK REL="Index" HREF="index.html" >
   <LINK REL="made" HREF="mailto:dev%40intermine.org?Subject=Re%3A%20%5BInterMine%20Dev%5D%20iodocs%20is%20having%20trouble&In-Reply-To=%3CD1A72D17.6678E%25joel.richardson%40jax.org%3E">
   <META NAME="robots" CONTENT="index,nofollow">
   <style type="text/css">
       pre {
           white-space: pre-wrap;       /* css-2.1, curent FF, Opera, Safari */
           }
   </style>
   <META http-equiv="Content-Type" content="text/html; charset=us-ascii">
   <LINK REL="Previous"  HREF="003324.html">
   <LINK REL="Next"  HREF="003319.html">
 </HEAD>
 <BODY BGCOLOR="#ffffff">
   <H1>[InterMine Dev] iodocs is having trouble</H1>
    <B>Joel Richardson</B> 
    <A HREF="mailto:dev%40intermine.org?Subject=Re%3A%20%5BInterMine%20Dev%5D%20iodocs%20is%20having%20trouble&In-Reply-To=%3CD1A72D17.6678E%25joel.richardson%40jax.org%3E"
       TITLE="[InterMine Dev] iodocs is having trouble">Joel.Richardson at jax.org
       </A><BR>
    <I>Wed Jun 17 18:56:41 BST 2015</I>
    <P><UL>
        <LI>Previous message: <A HREF="003324.html">[InterMine Dev] Transfer sequence problem
</A></li>
        <LI>Next message: <A HREF="003319.html">[InterMine Dev] iodocs is having trouble
</A></li>
         <LI> <B>Messages sorted by:</B> 
              <a href="date.html#3318">[ date ]</a>
              <a href="thread.html#3318">[ thread ]</a>
              <a href="subject.html#3318">[ subject ]</a>
              <a href="author.html#3318">[ author ]</a>
         </LI>
       </UL>
    <HR>  
<!--beginarticle-->
<PRE>
The web service live documentation at <A HREF="http://iodocs.labs.intermine.org&lt;http://iodocs.labs.intermine.org/mgi/docs">http://iodocs.labs.intermine.org&lt;http://iodocs.labs.intermine.org/mgi/docs</A>&gt;/ appears to be having issues.
It's super slow, and when I go to MouseMine, I just get a skeletal page with some error messages.

Thanks,
Joel

API for MouseMine

  *   API version  {{apiInfo.apiVersion}}&lt;<A HREF="http://iodocs.labs.intermine.org/mgi/docs#">http://iodocs.labs.intermine.org/mgi/docs#</A>&gt;

Logged in {{auth.username ? 'as ' + auth.username : 'anonymously'}}Not logged inLog Out

  *   {{scheme.name}}

&#215;
Error

{{error.msg}}

?  Mashery, Inc.&lt;<A HREF="http://mashery.com/io">http://mashery.com/io</A>&gt;  and  InterMine&lt;<A HREF="http://www.intermine.org/">http://www.intermine.org/</A>&gt;
Powered by I/O Docs&lt;<A HREF="https://github.com/alexkalderimis/iodocs">https://github.com/alexkalderimis/iodocs</A>&gt;
--
Joel E. Richardson, Ph.D.
Sr. Research Scientist
Mouse Genome Informatics
The Jackson Laboratory
600 Main Street
Bar Harbor, Maine 04609
207-288-6435
<A HREF="http://mail.intermine.org/cgi-bin/mailman/listinfo/dev">joel.richardson at jax.org</A>

The information in this email, including attachments, may be confidential and is intended solely for the addressee(s). If you believe you received this email by mistake, please notify the sender by return email as soon as possible.
-------------- next part --------------
An HTML attachment was scrubbed...
URL: &lt;<A HREF="http://mail.intermine.org/pipermail/dev/attachments/20150617/e12fbfe2/attachment.html">http://mail.intermine.org/pipermail/dev/attachments/20150617/e12fbfe2/attachment.html</A>&gt;
</PRE>






<!--endarticle-->
    <HR>
    <P><UL>
        <!--threads-->
	<LI>Previous message: <A HREF="003324.html">[InterMine Dev] Transfer sequence problem
</A></li>
	<LI>Next message: <A HREF="003319.html">[InterMine Dev] iodocs is having trouble
</A></li>
         <LI> <B>Messages sorted by:</B> 
              <a href="date.html#3318">[ date ]</a>
              <a href="thread.html#3318">[ thread ]</a>
              <a href="subject.html#3318">[ subject ]</a>
              <a href="author.html#3318">[ author ]</a>
         </LI>
       </UL>

<hr>
<a href="http://mail.intermine.org/cgi-bin/mailman/listinfo/dev">More information about the dev
mailing list</a><br>
</body></html>
