<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
 <HEAD>
   <TITLE> [InterMine Dev] iodocs is having trouble
   </TITLE>
   <LINK REL="Index" HREF="index.html" >
   <LINK REL="made" HREF="mailto:dev%40intermine.org?Subject=Re%3A%20%5BInterMine%20Dev%5D%20iodocs%20is%20having%20trouble&In-Reply-To=%3Ccac8b7dd-7937-43f4-957c-3c0e7abe9c5e%40email.android.com%3E">
   <META NAME="robots" CONTENT="index,nofollow">
   <style type="text/css">
       pre {
           white-space: pre-wrap;       /* css-2.1, curent FF, Opera, Safari */
           }
   </style>
   <META http-equiv="Content-Type" content="text/html; charset=us-ascii">
   <LINK REL="Previous"  HREF="003318.html">
   <LINK REL="Next"  HREF="003320.html">
 </HEAD>
 <BODY BGCOLOR="#ffffff">
   <H1>[InterMine Dev] iodocs is having trouble</H1>
    <B>Alex Kalderimis</B> 
    <A HREF="mailto:dev%40intermine.org?Subject=Re%3A%20%5BInterMine%20Dev%5D%20iodocs%20is%20having%20trouble&In-Reply-To=%3Ccac8b7dd-7937-43f4-957c-3c0e7abe9c5e%40email.android.com%3E"
       TITLE="[InterMine Dev] iodocs is having trouble">alex at intermine.org
       </A><BR>
    <I>Thu Jun 18 00:00:14 BST 2015</I>
    <P><UL>
        <LI>Previous message: <A HREF="003318.html">[InterMine Dev] iodocs is having trouble
</A></li>
        <LI>Next message: <A HREF="003320.html">[InterMine Dev] iodocs is having trouble
</A></li>
         <LI> <B>Messages sorted by:</B> 
              <a href="date.html#3319">[ date ]</a>
              <a href="thread.html#3319">[ thread ]</a>
              <a href="subject.html#3319">[ subject ]</a>
              <a href="author.html#3319">[ author ]</a>
         </LI>
       </UL>
    <HR>  
<!--beginarticle-->
<PRE>I'm not sure what the issue is, but the heroku version is working fine:

<A HREF="http://imdocs.herokuapp.com">http://imdocs.herokuapp.com</A>

On 17 Jun 2015 6:56 pm, Joel Richardson &lt;<A HREF="http://mail.intermine.org/cgi-bin/mailman/listinfo/dev">Joel.Richardson at jax.org</A>&gt; wrote:
&gt;<i>
</I>&gt;<i>
</I>&gt;<i> The web service live documentation at&#160;<A HREF="http://iodocs.labs.intermine.org/">http://iodocs.labs.intermine.org/</A> appears to be having issues.
</I>&gt;<i> It's super slow, and when I go to MouseMine, I just get a skeletal page with some error messages.
</I>&gt;<i>
</I>&gt;<i> Thanks,
</I>&gt;<i> Joel
</I>&gt;<i>
</I>&gt;<i> API for&#160;MouseMine
</I>&gt;<i> API version &#160;{{apiInfo.apiVersion}}
</I>&gt;<i> Logged in {{auth.username ? 'as ' + auth.username : 'anonymously'}}Not logged in Log Out
</I>&gt;<i> {{scheme.name}}
</I>&gt;<i> &#215;
</I>&gt;<i> Error
</I>&gt;<i>
</I>&gt;<i> {{error.msg}}
</I>&gt;<i>
</I>&gt;<i> ? &#160;Mashery, Inc.&#160; and &#160;InterMine
</I>&gt;<i> Powered by&#160;I/O Docs
</I>&gt;<i> --&#160;
</I>&gt;<i> Joel E. Richardson, Ph.D.
</I>&gt;<i> Sr. Research Scientist
</I>&gt;<i> Mouse Genome Informatics
</I>&gt;<i> The Jackson Laboratory
</I>&gt;<i> 600 Main Street
</I>&gt;<i> Bar Harbor, Maine 04609
</I>&gt;<i> 207-288-6435
</I>&gt;<i> <A HREF="http://mail.intermine.org/cgi-bin/mailman/listinfo/dev">joel.richardson at jax.org</A>
</I>&gt;<i>
</I>&gt;<i> The information in this email, including attachments, may be confidential and is intended solely for the addressee(s). If you believe you received this email by mistake, please notify the sender by return email as soon as possible.
</I></PRE>






<!--endarticle-->
    <HR>
    <P><UL>
        <!--threads-->
	<LI>Previous message: <A HREF="003318.html">[InterMine Dev] iodocs is having trouble
</A></li>
	<LI>Next message: <A HREF="003320.html">[InterMine Dev] iodocs is having trouble
</A></li>
         <LI> <B>Messages sorted by:</B> 
              <a href="date.html#3319">[ date ]</a>
              <a href="thread.html#3319">[ thread ]</a>
              <a href="subject.html#3319">[ subject ]</a>
              <a href="author.html#3319">[ author ]</a>
         </LI>
       </UL>

<hr>
<a href="http://mail.intermine.org/cgi-bin/mailman/listinfo/dev">More information about the dev
mailing list</a><br>
</body></html>
