html,body{
      margin:0px;
      height:100%;
      padding:0px;
      overflow:hidden;
}
BODY,HTML,LI,A,TD,DIV,SPAN,FONT,B,U,I,CENTER{font-family: Arial, Georgia, "Bitstream Charter", serif; font-size:12px}
IMG{border:0}
a{
	color:#6195C6;
	text-decoration:none;
}
a:hover{
	color:#AD7135;
	text-decoration:none;
}
#hnm{
    height:105px;
    background:#000;
}
#tabs{
    display:inline-block;
    width:250px;
    float:left;
    background:#eee;
}
#switch{
    display:inline-block;
    width:14px;
    float:left;
    text-align:right;
    background:url(../../images/switch_bg.gif) top left repeat-y;
}
#switch IMG{ vertical-align:middle; cursor:pointer; }
#main{
    display:inline-block;
    float:left;
}
#header{clear:both; list-style:none;border:0;padding:0;margin:0}

#menu{background:#333; border-bottom:2px solid #fff;}
#menu TD.item{width:120px;border-right:1px solid #777;}
#menu TD.last-item{border-top:3px solid #666;}
#menu A{display:block; 
    width:100%; 
    color:#fff; 
    border-top:3px solid #666; 
    text-align:center; 
    text-decoration:none;
    height:25px;
    line-height:25px;
    font-family: Arial, serif, Georgia, "Bitstream Charter";
    font-weight:bold;
}
#menu A.active{
    width:100%; 
    text-align:center; 
    text-decoration:none;
    height:25px;
    line-height:25px;
    font-weight:bold;
    background:#fff;
    border-top:3px solid #ccc;
    color:#444;
}
#menu A:hover{
    background:#fff;
    border-top:3px solid #ccc;
    color:#444;
}
#accordion{
    width:250px;
}
#accordion .a_title{
    background:url(../../images/accbg.jpg) left top repeat-x;
    display:block;
    height:30px;
    line-height:30px;
}

#accordion .a_title A{
    text-decoration:none;
    color:#fff;
    font-family: Arial, serif, Georgia, "Bitstream Charter";
    padding-left:20px;
    font-weight:bold;
    background:url(../../images/right.png) left center no-repeat;
}
#accordion .a_title A:hover{
    color:#ff0;
}

#accordion .a_content{
    padding:12px;
    font-size:11px;
}

#jobs{
    margin-bottom:6px;
    border: 1px solid #ddd;
    overflow-y: auto;
    background-color:#fff;
}

#jobs DIV{
    margin: 0 0 1px 0;
}

#jobs DIV A{
    color:#1f431f;
    display:block;
    background-color:#ddd;
    padding:2px;
    text-decoration:none;
    font-size:11px;
}

#jobs DIV A:hover{
    background-color:#cbe2c7;
    color:#386338;
}

#fig{
	overflow:hidden;
	min-width: 410px;
	min-height: 410px;
}
#info{
	background-color:#fff;
	padding:12px;
}
#barwrap{
	background:#5d5d5d;
	width:100px;
}
#barwrap a{
	color:#fff;
	text-decoration:none;
	border-bottom:1px solid #fff;
	padding:2px;
	font-size: 10px;
	font-weight:bold;
	display:block;
}
#barwrap a.active{
	background-image:url(../../images/gwasrank/right.png);
	background-position:right center;
	background-repeat:no-repeat;
	background-color:#2d2d2d;
}
#barwrap a:hover{
	background-color:#2d2d2d;
}
#figwrap{
	display:block;
}

/**info**/
.infohead{
	border-width:1px 1px 0 1px;
	border-color:#bbb;
	border-style:solid;
	padding-top:1px;
	background-color:#fff;
}
.infohead td{
	
}
.infohead td a{
	padding:5px 10px;
	display:block;
	font-weight:bold;
	text-align:center;
	color:#888;
	font-size:11px;
}
.infohead td.active a{
	color:#111;
}
.infohead td.right{
	border-width:0 0 1px 1px;
	border-color:#bbb;
	border-style:solid;
	background-color:#eee;
}
.infohead td.left{
	border-width:0 1px 1px 0;
	border-color:#bbb;
	border-style:solid;
	background-color:#eee;
}
.infohead td.active{
	border:none;
	background-color:#fff;
}
.infomain{
	border-width:0 1px 1px 1px;
	border-color:#bbb;
	border-style:solid;
	background-color:#fff;
}
.infomain fieldset{
	border:1px solid #992E2C;
	background-color:#FFEDED;
	margin-bottom:7px;
}
.infomain fieldset label{
	font-weight:bold;
	font-size:11px;
	color:#992624;
	cursor: pointer;
	display:block;
	margin-bottom:4px;
	text-align: left;
}

.infomain fieldset table{
	margin-top:2px;
	background-color:#FFE0E0 !important;
	margin-bottom:6px;
}

.infomain fieldset b{
	color:#111;
	display:block;
	text-align:left;
}

.infomain fieldset th{
	padding:2px;
	font-weight:bold;
	color:#346D2F;
	text-align:left;
	width:120px;
}
.infomain fieldset td{
	padding:2px;
	font-size:11px;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	color:#568952;
}

.headblank{
	border-width:0 0 1px 1px;
	border-color:#bbb;
	border-style:solid;
	background-color:#eee;
	width:99%;
}
/**jquery.tip**/
.tip{
	border-left:1px solid #a70805;
	border-right:1px solid #a70805;
	border-bottom:1px solid #a70805;
	background-color:#ffe;
	padding:4px 4px 10px 4px;
}
/**jquery.floatip**/
.floatip{
	border:1px solid #D34A47;
	background:#ffe;
	padding:6px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.floatip_home{
	border:1px solid #D34A47;
	background:#ffe;
	padding:6px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	width: 120px;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.floatip_help{
	border:1px solid #D34A47;
	background:#ffe;
	padding:6px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	width: 350px;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
/**tablepager**/
.tablepager{
	margin:2px 0;
}
.tablepager td{
	padding:6px 8px;
}
.tablepager .odd{
	background-color:#eee;
}
.tablepager .dolite_tablepager_highlight{
	background-color:#FFE0E0 !important;
}
#back2All{
	border:1px solid #A70805;
	background-color:#FFEAEA;
	padding:4px;
	color:#A70805;
	font-weight:bold;
}
#back2All:hover{
	color:#fff;
	background-color:#A70805;
}

.tablepager td b{
	color: #900;
}

/**gwasanno**/
.gwasanno{
	padding-top: 10px;	
}
.gwasanno select,option {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#anno_overlay {
	position: fixed;
	background: #555555;
	opacity: 0.5;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
}
#anno_loading {
    font-size: xx-large;
    color: #000;
	position: fixed;
	z-index:100;
	top: 50%;
	left: 45%
}

/*jtip*/
.rjtip{
    width:450px;
    height:200px;
    border:5px solid #ccc;
    background:#eee;
    overflow:hidden;
    -moz-border-radius: 8px;
	-webkit-border-radius: 8px;
    border-radius: 8px;
    z-index:99;
}
.rjtip .rjhandler{
    background:#ddd;
    cursor:move;
}
.rjtip .rjtitle{
    font-weight:bold;
    padding:4px;
    display:inline-block;
}
.rjtip .rjclose{
    float:right;
    display:block;
    text-align:right;
    padding:3px;
    display:inline-block;
}
.rjtip .rjclose A{
    margin:3px;
}
.rjtip .rjcontent{
    height:138px;
    padding:4px;
    width:444px;
    display:block;
    overflow:auto;
}
.rjtip .rjexpand{
    height:5px;
    border-style:dotted;
    border-width:0 0 2px 0;
    border-color:#ccc;
    cursor:s-resize;
}
