/** 
 * @version    1.00
 * @date       2015-08-06
 * @lastchange 2015-08-06
 * @package    static.rest_framework_swagger.css.rest_framework_swagger
 *  
*/ 
#django-rest-swagger {
    background: #547f00; 
    color: #eee; 
    text-align:right; 
    padding: 7px 0; 
    font-size: 0.8em
}
#django-rest-swagger a {
    color: #fff;
    text-decoration: none;
}
