/* Dynamic Tables */

@media screen and (max-width:768px){

	table.dynamic {
		font-size: 1.25em;
		}
		
		table.dynamic thead {
			display: none;
			}
		
		table.dynamic td:nth-child(odd) {
			background: rgb(245,246,246); /* Old browsers */
			background: -moz-linear-gradient(top, rgba(245,246,246,1) 0%, rgba(232,233,234,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,246,246,1)), color-stop(100%,rgba(232,233,234,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, rgba(245,246,246,1) 0%,rgba(232,233,234,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, rgba(245,246,246,1) 0%,rgba(232,233,234,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, rgba(245,246,246,1) 0%,rgba(232,233,234,1) 100%); /* IE10+ */
			background: linear-gradient(top, rgba(245,246,246,1) 0%,rgba(232,233,234,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#e8e9ea',GradientType=0 ); /* IE6-9 */
			}
		
		table.dynamic tr {
			display: block;
			border-bottom: 2px solid #d10272;
			}
		
		table.dynamic td {
			display: block;
			border: 0px;
			border-top: 2px solid #fff;
			background: rgb(245,246,246); /* Old browsers */
			background: -moz-linear-gradient(top, rgba(245,246,246,1) 0%, rgba(232,233,234,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,246,246,1)), color-stop(100%,rgba(232,233,234,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, rgba(245,246,246,1) 0%,rgba(232,233,234,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, rgba(245,246,246,1) 0%,rgba(232,233,234,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, rgba(245,246,246,1) 0%,rgba(232,233,234,1) 100%); /* IE10+ */
			background: linear-gradient(top, rgba(245,246,246,1) 0%,rgba(232,233,234,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#e8e9ea',GradientType=0 ); /* IE6-9 */
			}
		
		table.dynamic td:first-child {
			border-top: 0px;
			}
		
		table.dynamic td:before {
			display: block;
			color: #555;
			content: attr(data-th) ':';
			}
		
		table.dynamic td:after {
			content: '';
			display: table;
			clear: both;
			}
	}