/* app css stylesheet */

/*@font-face {
    font-family: "Open Sans";
    src: url("lib/Open Sans/OpenSans-Regular.ttf");
    font-weight: normal;
}*/

/*body {
    font-family: "Open Sans";
}*/

.navbar, .nav, .nav-pills {
    /*background: rgba(0, 0, 0, 0);*/
    vertical-align: middle;
}

#top-logo {
    /*position: absolute;*/
    top: 0;
    height: 56px;
    border-width: 0;
    /*border: solid black 4px;*/
    /*border-radius: 20px;*/
    margin-bottom: 0;
    vertical-align: bottom;
    /*background: #D6B26D;*/
    background: #D78928;
    width: 100%;
    z-index: 11;
}

#top-logo img {
    position: relative;
    top: 0;
    left: 0;
    padding: 5px 0 0 5px;
    /*z-index: 500002;*/

}

/*TODO: RECOMPILE WITH LESS*/
.nav > li > span > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav > li > span > a:hover, .nav > li > span > a:focus {
    text-decoration: none;
    /*background-color: #eeeeee;*/
}

.nav-pills > li > span > a {
    border-radius: 4px;
}

.nav > li > span > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav-pills > li > a, .nav-pills > li > span > a {
    background: rgba(250, 245, 236, 0.8);
}

.nav > li.pills2 > a:hover, .nav > li.pills2 > a:focus {
    background: #F0AD4E;
}

/*
#nav-main {
    !*position: fixed;*!
    !*width: inherit;*!
    !*background: red;*!
    !*z-index: 9;*!
}
*/

/**/

/*.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #D78928;
    color: #5A1001;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #D6B26D;
}

.nav > li > a {
    color: #5A1001;
}

#content-div {
padding-top: 40px;
}*/

.centerVertical * {
    vertical-align: middle;
}

.grid {
    width: 100%;
    height: 40%;
}

.spaced-label-left {
    margin-left: 2px;
}

.tab-content {
    border-style: solid;
    border-width: 1px;
    /*border-color: #5A1001;*/
    border-radius: 0 4px 4px 4px;
}

/*uib-tab style*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #5A1001;
    background-color: #ECDCBD;
    border: 1px solid #A7662B;
    border-bottom-color: transparent;
    cursor: default;
}

.nav-tabs > li > a:hover {
    border-color: #5A1001 #5A1001 transparent #5A1001;
}

/**/

.panel-heading h1 {
    font-size: x-large;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#commentArea {
    resize: none;
}

/*workaround to correctly position the glyphicons inside the inputs*/
.has-feedback .form-control-feedback {
    position: absolute;
    top: 3px;
    right: 25px;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: right;
}

.has-feedback-select .form-control-select {
    right: 40px;
}

.region-form-box {
    border: 1px solid #5A1001;
    border-radius: 5px;
    margin-bottom: 10px;
}

td {
    word-wrap: break-word;
}

.mobiLegend {
    width: 15px;
    height: 15px;
    border: 1px black solid;
    border-radius: 10px;
}

#disordered {
    background: #FF0000
}

#structured {
    background: #2B65EC
}

#ambigous {
    background: #FFFFFF
}

#predictedStructured {
    background: #ADD8E6
}

#predicitedDisordered {
    background: #FFA500
}

#disprot_disordered {
    background: #a7662b;
}

.rf-function-row {
    margin-bottom: 5px;
}

.label-margin-top {
    margin-top: 20px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.border-td {
    width: 2%;
    border: 1px solid #ECDCBD;

}

.td-30 {
    width: 30%;
    max-width: 35%;
}

.td-35 {
    width: 35%;
}

.td-3 {
    width: 3%;
}

.td-5 {
    width: 5%;
}

.td-20px {
    width: 20px;
    text-align: center;
}

.td-10 {
    width: 10%
}

.td-11 {
    width: 11%
}

.td-18 {
    width: 18%
}

.td-22 {
    width: 22%
}

.label {
    font-size: 12px;
}

table {
    table-layout: fixed;
}

.fv_legend {
    font-size: inherit;
}

.invisible-link {
    text-decoration: none;
    color: inherit;
}

.invisible-link-no-cursor {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.invisible-link:hover {
    text-decoration: none;
    cursor: help;
}

.region-box {
    border: 2px solid #A7662B;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 10px;
}

#browseGrid {
    min-height: 600px;
}

.browse-dropdown {
    padding: 12px
}

.row-margin-10-bottom {
    margin-bottom: 10px;
}

.dl-horizontal dt {
    overflow: visible;
    padding-bottom: 0.6em;
}

.sticky-about-sidebar, .sticky-stats-sidebar {
    margin-top: 0 !important;
    position: fixed;
    top: 150px;
    z-index: 10000;
    background-color: #FAF5EC;

}

.sticky-help-sidebar {
    margin-top: 0 !important;
    /*top: 500px;*/
    position: fixed;
    z-index: 4;
    overflow: hidden;
    background-color: #FAF5EC;

}

#sticky-about.stick {
    position: fixed;
    z-index: 10000;
    background-color: #ECDCBD;
    padding-top: 10px;
    padding-bottom: 10px;

}

#sticky-navbar.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    /*z-index: 5;*/
    z-index: 1000;
    width: 100%;
}

#main-navbar {
    position: fixed;
    width: inherit;
    /*background: #FAF5EC;*/
    z-index: 1000;
    width: 100%
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 0px;
}

.samp-box {
    border: 1px solid #5d461a;
    border-radius: 4px;
    background-color: #e1c795;
    color: #333;
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
}

.changelog_new_feature {
    color: red
}


/*By Damiano*/
.grid-align-center {
    text-align: center;
}

.grid-red {
    /*background-color: #ff0000;*/
    color: #ff0000;
}