<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="disprot-ui" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="disprot-ui" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="disprot-ui" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="disprot-ui" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DisProt - Database of protein disorder</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base href="/">

    <!--favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <!--boilerplate-->
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">

    <!--my styles (from dependencies)-->
    <!--<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">-->

    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">

    <link rel="stylesheet" href="bower_components/feature-viewer/css/style.css">

    <!--<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">-->

    <!--recompiled bootstrap-->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/theme.css">
    <!--recompiled angular-ui-notification-->
    <link rel="stylesheet" href="css/build.css">
    <!--recompiled grid ui, import default style to get icons-->
    <link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.css">
    <link rel="stylesheet" href="css/cell.css">
    <link rel="stylesheet" href="css/cellNav.css">
    <link rel="stylesheet" href="css/colMovable.css">
    <link rel="stylesheet" href="css/column-resizer.css">
    <link rel="stylesheet" href="css/edit.css">
    <link rel="stylesheet" href="css/expandable.css">
    <link rel="stylesheet" href="css/exporter.css">
    <link rel="stylesheet" href="css/grouping.css">
    <link rel="stylesheet" href="css/importer.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/pagination.css">
    <link rel="stylesheet" href="css/pinning.css">
    <link rel="stylesheet" href="css/rowEdit.css">
    <link rel="stylesheet" href="css/selection.css">
    <link rel="stylesheet" href="css/tree-base.css">
    <link rel="stylesheet" href="css/tree-view.css">
    <link rel="stylesheet" href="css/validate.css">
    <!--custom style-->

    <!--custom feature viewer style-->
    <link rel="stylesheet" href="css/fv_style.css">

    <!--custom angular-ui-select stylesheets-->
    <link rel="stylesheet" href="css/select.css">
    <link rel="stylesheet" href="css/select2.css">

    <!--angular-bootstrap style-->
    <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="bower_components/angular-ui-notification/dist/angular-ui-notification.min.css">

    <link rel="stylesheet" href="app.css">

</head>
<body>
<!--anchor-->
<div id="top"></div>

<!--<img class="hidden-sm hidden-xs" src="/static/beta.png" height=120 style="position:fixed;top:0px;right:0px;z-index:999"/>-->
<div id="sticky-anchor-navbar"></div>
<div id="sticky-navbar">
    <div style="position: absolute; top: 56px; width: 100%; height: 50px; background: #faf5ec;"
         class="visible-lg"></div>

    <div id="top-logo" class="container-fluid visible-lg">
        <a href="/">
            <img id="sticky-img" src="static/disprot/banner-top.png" height="100">
        </a>

        <div style="position: absolute; right: 0px; width: 20%; padding: 10px; top: 0px" ng-controller="searchCtrl">
            <form class="col-lg-12" ng-submit="searchFromHome(search.term)">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="search.term" placeholder="Search DisProt...">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>

    </div>

    <disprot-navbar></disprot-navbar>
</div>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div id="content-div" class="container" ng-view ng-cloak style="padding-top: 95px"></div>

<footer class="container-fluid" id="disprot-footer">
    <div class="row text-center">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2 vcenter">
            <a href="http://www.unipd.it" target="_blank">
                <img src="static/logos/unipd-col.png" class="img-responsive center-block" style="max-height: 80px">
            </a>
        </div><!--
        --><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 vcenter">
            <a href="http://protein.bio.unipd.it/" target="_blank">
                <img src="static/logos/biocompup.png" alt="BiocompUP" class="img-responsive center-block"
                     style="max-height: 80px">
            </a>
        </div><!--
        --><div class="col-lg-3 col-md-3 col-sm-3 col-xs-2 vcenter">
            <a href="http://ngp-net.bio.unipd.it/"><img src="static/logos/ngpnet-logo.png" style="max-height: 80px"
                                                        class="img-responsive center-block"></a>
        </div><!--
        --><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 vcenter text-center">
            <a href="http://www.cost.eu/COST_Actions/bmbs/Actions/BM1405/"><img class="img-responsive center-block"
                                                                                src="static/logos/cost-blue.png"
                                                                                style="max-height: 50px; margin-bottom: 5px; margin-top: 10px;"
                                                                                alt="COST logo"></a>
            <p class="hidden-sm hidden-xs">
                <small><i>NGP-net</i> is supported by BMBS COST Action BM1405</small>
            </p>
        </div><!--
        --><div class="col-sm-2 col-xs-2 vcenter text-center">
            <a href="http://europa.eu/"><img class="img-responsive center-block" src="static/logos/eu-col.png"
                                             style="max-height: 50px; margin-bottom: 5px; margin-top: 10px;"
                                             alt="EU logo"></a>
            <p class="hidden-sm hidden-xs">
                <small>COST is supported by the EU Framework Programme Horizon 2020</small>
            </p>
        </div>
    </div>
</footer>

<!--JS-->

<!--jQuery-->
<script src="bower_components/jquery/dist/jquery.js"></script>

<script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>

<!--Angular-->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-resource/angular-resource.min.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="bower_components/angular-ui-grid/ui-grid.js"></script>
<script src="bower_components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>

<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="bower_components/handlebars/handlebars.min.js"></script>
<script src="bower_components/sequence-viewer/dist/sequence-viewer.min.js"></script>

<script src="bower_components/d3/d3.min.js"></script>
<script src="bower_components/feature-viewer/dist/feature-viewer.bundle.js"></script>

<!--<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>-->
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="bower_components/angular-ui-select/dist/select.min.js"></script>

<script src="app.js"></script>
<script src="modules/home/home.js"></script>
<script src="modules/list/list.js"></script>
<script src="modules/browse/browse.js"></script>
<script src="modules/browse/grid_colDefs.js"></script>
<script src="modules/submit/submit.js"></script>
<script src="modules/auth/auth.js"></script>
<script src="modules/search/search.js"></script>
<script src="modules/navbar/navbar.js"></script>
<script src="modules/entry/entry.js"></script>
<script src="modules/entry7/entry7.js"></script>
<script src="modules/entry7/color_map.js"></script>
<script src="modules/results/results.js"></script>
<script src="modules/about/about.js"></script>
<script src="modules/about/curators.js"></script>
<script src="modules/contact/contact.js"></script>
<script src="modules/help/help.js"></script>
<script src="modules/dashboard/dashboard.js"></script>
<script src="modules/stats/stats.js"></script>

<script type="application/javascript">
    function sticky_relocate() {
        var window_top = $(window).scrollTop();
        var div_top = $('#sticky-anchor-navbar').offset().top;

        if (window_top > div_top) {
            $('#sticky-navbar').addClass('stick');
            $('#main-navbar').addClass('stick');
            $('#sticky-anchor-navbar').height($('#sticky-navbar').outerHeight());
        } else {
            $('#sticky-navbar').removeClass('stick');
            $('#sticky-anchor-navbar').height(0);
        }
    }

    $(function () {
        $(window).scroll(sticky_relocate);
        sticky_relocate();
    });
</script>

<!--google analytics-->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-84751070-1', 'auto');
    ga('send', 'pageview');

</script>

<div class="device-xs visible-xs"></div>
<div class="device-sm visible-sm"></div>
<div class="device-md visible-md"></div>
<div class="device-lg visible-lg"></div>
</body>
</html>
