/*
@gray-darker:            lighten(@gray-base, 13.5%); // #222
@gray-dark:              lighten(@gray-base, 20%);   // #333
@gray:                   lighten(@gray-base, 33.5%); // #555
@gray-light:             lighten(@gray-base, 46.7%); // #777
@gray-lighter:           lighten(@gray-base, 93.5%); // #eee
*/
@font-face {
  font-family: 'Open Sans';
  src: url('../../../lib/Open_Sans/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.ui-notification {
  border-radius: 0px;
  position: fixed;
  z-index: 9999;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  width: 300px;
  color: #fff;
  background: #a7662b;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.ui-notification.clickable {
  cursor: pointer;
}
.ui-notification.clickable:hover {
  opacity: 0.7;
}
.ui-notification.killed {
  opacity: 0;
  -webkit-transition: opacity ease 1s;
  -o-transition: opacity ease 1s;
  transition: opacity ease 1s;
}
.ui-notification > h3 {
  display: block;
  margin: 10px 10px 0 10px;
  padding: 0 0 5px 0;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.ui-notification a {
  color: #fff;
}
.ui-notification a:hover {
  text-decoration: underline;
}
.ui-notification > .message {
  margin: 10px 10px 10px 10px;
}
.ui-notification.warning {
  color: #fff;
  background: #f0ad4e;
}
.ui-notification.error {
  color: #fff;
  background: #5a1001;
}
.ui-notification.success {
  color: #fff;
  background: #0C7F16;
}
.ui-notification.info {
  color: #fff;
  background: #251e15;
}
