extend

' .btn-xs'
has no matches
extend

' .btn-sm'
has no matches
extend

' .btn-lg'
has no matches
/* This file contains variable declarations (do not remove this line) */
/*-- VARIABLES (DO NOT REMOVE THESE COMMENTS) --*/
/**
* @section Grid styles
*/
/**
* @section Header styles
*/
/** @description Colors for header gradient */
/**
* @section Grid body styles
*/
/** @description Colors used for row alternation */
/**
* @section Sort arrow colors
*/
/**
* @section Scrollbar styles
*/
/**
* @section font library path
*/
/*-- END VARIABLES (DO NOT REMOVE THESE COMMENTS) --*/
@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
.ui-grid-cell-focus {
    outline: 0;
    background-color: #b3c4c7;
}
.ui-grid-focuser {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.ui-grid-focuser:focus {
    border-color: #251E15;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(37, 30, 21, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(37, 30, 21, 0.6);
}
.ui-grid-offscreen {
    display: block;
    position: absolute;
    left: -10000px;
    top: -10000px;
    clip: rect(0px, 0px, 0px, 0px);
}
