/* This file contains variable declarations (do not remove this line) */
/*-- VARIABLES (DO NOT REMOVE THESE COMMENTS) --*/
/**
* @section Grid styles
*/
/**
* @section Header styles
*/
/** @description Colors for header gradient */
/**
* @section Grid body styles
*/
/** @description Colors used for row alternation */
/**
* @section Sort arrow colors
*/
/**
* @section Scrollbar styles
*/
/**
* @section font library path
*/
/*-- END VARIABLES (DO NOT REMOVE THESE COMMENTS) --*/
.ui-grid-column-resizer {
    top: 0;
    bottom: 0;
    width: 5px;
    position: absolute;
    cursor: col-resize;
}
.ui-grid-column-resizer.left {
    left: 0;
}
.ui-grid-column-resizer.right {
    right: 0;
}
.ui-grid-header-cell:last-child .ui-grid-column-resizer.right {
    border-right: 1px solid #251E15;
}
.ui-grid[dir=rtl] .ui-grid-header-cell:last-child .ui-grid-column-resizer.right {
    border-right: 0;
}
.ui-grid[dir=rtl] .ui-grid-header-cell:last-child .ui-grid-column-resizer.left {
    border-left: 1px solid #251E15;
}
.ui-grid.column-resizing {
    cursor: col-resize;
}
.ui-grid.column-resizing .ui-grid-resize-overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #000000;
}
