/* This file contains variable declarations (do not remove this line) */
/*-- VARIABLES (DO NOT REMOVE THESE COMMENTS) --*/
/**
* @section Grid styles
*/
/**
* @section Header styles
*/
/** @description Colors for header gradient */
/**
* @section Grid body styles
*/
/** @description Colors used for row alternation */
/**
* @section Sort arrow colors
*/
/**
* @section Scrollbar styles
*/
/**
* @section font library path
*/
/*-- END VARIABLES (DO NOT REMOVE THESE COMMENTS) --*/
.expandableRow .ui-grid-row:nth-child(odd) .ui-grid-cell {
    background-color: #ECDCBD;
}
.expandableRow .ui-grid-row:nth-child(even) .ui-grid-cell {
    background-color: #FAF5EC;
}
.ui-grid-cell.ui-grid-disable-selection.ui-grid-row-header-cell {
    pointer-events: none;
}
.ui-grid-expandable-buttons-cell i {
    pointer-events: all;
}
.scrollFiller {
    float: left;
    border: 1px solid #251E15;
}
