extend

' .btn-xs'
has no matches
extend

' .btn-sm'
has no matches
extend

' .btn-lg'
has no matches
/* This file contains variable declarations (do not remove this line) */
/*-- VARIABLES (DO NOT REMOVE THESE COMMENTS) --*/
/**
* @section Grid styles
*/
/**
* @section Header styles
*/
/** @description Colors for header gradient */
/**
* @section Grid body styles
*/
/** @description Colors used for row alternation */
/**
* @section Sort arrow colors
*/
/**
* @section Scrollbar styles
*/
/**
* @section font library path
*/
/*-- END VARIABLES (DO NOT REMOVE THESE COMMENTS) --*/
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
.ui-grid-pager-panel {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    box-sizing: content-box;
}
.ui-grid-pager-container {
    float: left;
}
.ui-grid-pager-control {
    margin-right: 10px;
    margin-left: 10px;
    min-width: 135px;
    float: left;
}
.ui-grid-pager-control button {
    height: 25px;
    min-width: 26px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #D6B26D;
    background-color: #d78928;
    border-color: #ccc;
}
.ui-grid-pager-control button:focus,
.ui-grid-pager-control button:active:focus,
.ui-grid-pager-control button.active:focus,
.ui-grid-pager-control button.focus,
.ui-grid-pager-control button:active.focus,
.ui-grid-pager-control button.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.ui-grid-pager-control button:hover,
.ui-grid-pager-control button:focus,
.ui-grid-pager-control button.focus {
    color: #333;
    text-decoration: none;
}
.ui-grid-pager-control button:active,
.ui-grid-pager-control button.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.ui-grid-pager-control button.disabled,
.ui-grid-pager-control button[disabled],
fieldset[disabled] .ui-grid-pager-control button {
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}
a.ui-grid-pager-control button.disabled,
fieldset[disabled] a.ui-grid-pager-control button {
    pointer-events: none;
}
.ui-grid-pager-control button:focus,
.ui-grid-pager-control button.focus {
    color: #D6B26D;
    background-color: #ac6e20;
    border-color: #8c8c8c;
}
.ui-grid-pager-control button:hover {
    color: #D6B26D;
    background-color: #ac6e20;
    border-color: #adadad;
}
.ui-grid-pager-control button:active,
.ui-grid-pager-control button.active,
.open > .dropdown-toggle.ui-grid-pager-control button {
    color: #D6B26D;
    background-color: #ac6e20;
    border-color: #adadad;
}
.ui-grid-pager-control button:active:hover,
.ui-grid-pager-control button.active:hover,
.open > .dropdown-toggle.ui-grid-pager-control button:hover,
.ui-grid-pager-control button:active:focus,
.ui-grid-pager-control button.active:focus,
.open > .dropdown-toggle.ui-grid-pager-control button:focus,
.ui-grid-pager-control button:active.focus,
.ui-grid-pager-control button.active.focus,
.open > .dropdown-toggle.ui-grid-pager-control button.focus {
    color: #D6B26D;
    background-color: #8e5a1a;
    border-color: #8c8c8c;
}
.ui-grid-pager-control button:active,
.ui-grid-pager-control button.active,
.open > .dropdown-toggle.ui-grid-pager-control button {
    background-image: none;
}
.ui-grid-pager-control button.disabled:hover,
.ui-grid-pager-control button[disabled]:hover,
fieldset[disabled] .ui-grid-pager-control button:hover,
.ui-grid-pager-control button.disabled:focus,
.ui-grid-pager-control button[disabled]:focus,
fieldset[disabled] .ui-grid-pager-control button:focus,
.ui-grid-pager-control button.disabled.focus,
.ui-grid-pager-control button[disabled].focus,
fieldset[disabled] .ui-grid-pager-control button.focus {
    background-color: #d78928;
    border-color: #ccc;
}
.ui-grid-pager-control button .badge {
    color: #d78928;
    background-color: #D6B26D;
}
.ui-grid-pager-control input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    display: inline;
    height: 26px;
    width: 50px;
    vertical-align: top;
}
.ui-grid-pager-control input:focus {
    border-color: #251E15;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(37, 30, 21, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(37, 30, 21, 0.6);
}
.ui-grid-pager-control input::-moz-placeholder {
    color: #999;
    opacity: 1;
}
.ui-grid-pager-control input:-ms-input-placeholder {
    color: #999;
}
.ui-grid-pager-control input::-webkit-input-placeholder {
    color: #999;
}
.ui-grid-pager-control input::-ms-expand {
    border: 0;
    background-color: transparent;
}
.ui-grid-pager-control input[disabled],
.ui-grid-pager-control input[readonly],
fieldset[disabled] .ui-grid-pager-control input {
    background-color: #eee;
    opacity: 1;
}
.ui-grid-pager-control input[disabled],
fieldset[disabled] .ui-grid-pager-control input {
    cursor: not-allowed;
}
textarea.ui-grid-pager-control input {
    height: auto;
}
select.ui-grid-pager-control input {
    height: 30px;
    line-height: 30px;
}
textarea.ui-grid-pager-control input,
select[multiple].ui-grid-pager-control input {
    height: auto;
}
.ui-grid-pager-control .ui-grid-pager-max-pages-number {
    vertical-align: bottom;
}
.ui-grid-pager-control .ui-grid-pager-max-pages-number > * {
    vertical-align: middle;
}
.ui-grid-pager-control .first-bar {
    width: 10px;
    border-left: 2px solid #4d4d4d;
    margin-top: -6px;
    height: 12px;
    margin-left: -3px;
}
.ui-grid-pager-control .first-bar-rtl {
    width: 10px;
    border-left: 2px solid #4d4d4d;
    margin-top: -6px;
    height: 12px;
    margin-right: -7px;
}
.ui-grid-pager-control .first-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 8.7px 5px 0;
    border-color: transparent #4d4d4d transparent transparent;
    margin-left: 2px;
}
.ui-grid-pager-control .next-triangle {
    margin-left: 1px;
}
.ui-grid-pager-control .prev-triangle {
    margin-left: 0;
}
.ui-grid-pager-control .last-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 8.7px;
    border-color: transparent transparent transparent #4d4d4d;
    margin-left: -1px;
}
.ui-grid-pager-control .last-bar {
    width: 10px;
    border-left: 2px solid #4d4d4d;
    margin-top: -6px;
    height: 12px;
    margin-left: 1px;
}
.ui-grid-pager-control .last-bar-rtl {
    width: 10px;
    border-left: 2px solid #4d4d4d;
    margin-top: -6px;
    height: 12px;
    margin-right: -11px;
}
.ui-grid-pager-row-count-picker {
    float: left;
}
.ui-grid-pager-row-count-picker select {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    height: 26px;
    width: 67px;
    display: inline;
}
.ui-grid-pager-row-count-picker select:focus {
    border-color: #251E15;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(37, 30, 21, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(37, 30, 21, 0.6);
}
.ui-grid-pager-row-count-picker select::-moz-placeholder {
    color: #999;
    opacity: 1;
}
.ui-grid-pager-row-count-picker select:-ms-input-placeholder {
    color: #999;
}
.ui-grid-pager-row-count-picker select::-webkit-input-placeholder {
    color: #999;
}
.ui-grid-pager-row-count-picker select::-ms-expand {
    border: 0;
    background-color: transparent;
}
.ui-grid-pager-row-count-picker select[disabled],
.ui-grid-pager-row-count-picker select[readonly],
fieldset[disabled] .ui-grid-pager-row-count-picker select {
    background-color: #eee;
    opacity: 1;
}
.ui-grid-pager-row-count-picker select[disabled],
fieldset[disabled] .ui-grid-pager-row-count-picker select {
    cursor: not-allowed;
}
textarea.ui-grid-pager-row-count-picker select {
    height: auto;
}
select.ui-grid-pager-row-count-picker select {
    height: 30px;
    line-height: 30px;
}
textarea.ui-grid-pager-row-count-picker select,
select[multiple].ui-grid-pager-row-count-picker select {
    height: auto;
}
.ui-grid-pager-row-count-picker .ui-grid-pager-row-count-label {
    margin-top: 3px;
}
.ui-grid-pager-count-container {
    float: right;
    margin-top: 4px;
    min-width: 50px;
}
.ui-grid-pager-count-container .ui-grid-pager-count {
    margin-right: 10px;
    margin-left: 10px;
    float: right;
}
