/*!
 * Bootstrap v3.3.6 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*
@gray-darker:            lighten(@gray-base, 13.5%); // #222
@gray-dark:              lighten(@gray-base, 20%);   // #333
@gray:                   lighten(@gray-base, 33.5%); // #555
@gray-light:             lighten(@gray-base, 46.7%); // #777
@gray-lighter:           lighten(@gray-base, 93.5%); // #eee
*/
@font-face {
  font-family: 'Open Sans';
  src: url('../../../lib/Open_Sans/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-default.active,
.btn-primary.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-default.disabled,
.btn-primary.disabled,
.btn-success.disabled,
.btn-info.disabled,
.btn-warning.disabled,
.btn-danger.disabled,
.btn-default[disabled],
.btn-primary[disabled],
.btn-success[disabled],
.btn-info[disabled],
.btn-warning[disabled],
.btn-danger[disabled],
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-warning,
fieldset[disabled] .btn-danger {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-default .badge,
.btn-primary .badge,
.btn-success .badge,
.btn-info .badge,
.btn-warning .badge,
.btn-danger .badge {
  text-shadow: none;
}
.btn:active,
.btn.active {
  background-image: none;
}
.btn-default {
  background-image: -webkit-linear-gradient(top, #fff 0%, #e0e0e0 100%);
  background-image: -o-linear-gradient(top, #fff 0%, #e0e0e0 100%);
  background-image: linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #dbdbdb;
  text-shadow: 0 1px 0 #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #e0e0e0;
  background-position: 0 -15px;
}
.btn-default:active,
.btn-default.active {
  background-color: #e0e0e0;
  border-color: #dbdbdb;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #e0e0e0;
  background-image: none;
}
.btn-primary {
  background-image: -webkit-linear-gradient(top, #a7662b 0%, #76481e 100%);
  background-image: -o-linear-gradient(top, #a7662b 0%, #76481e 100%);
  background-image: linear-gradient(to bottom, #a7662b 0%, #76481e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa7662b', endColorstr='#ff76481e', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #6e431c;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #76481e;
  background-position: 0 -15px;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #76481e;
  border-color: #6e431c;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #76481e;
  background-image: none;
}
.btn-success {
  background-image: -webkit-linear-gradient(top, #0C7F16 0%, #07470c 100%);
  background-image: -o-linear-gradient(top, #0C7F16 0%, #07470c 100%);
  background-image: linear-gradient(to bottom, #0C7F16 0%, #07470c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0c7f16', endColorstr='#ff07470c', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #063e0b;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #07470c;
  background-position: 0 -15px;
}
.btn-success:active,
.btn-success.active {
  background-color: #07470c;
  border-color: #063e0b;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #07470c;
  background-image: none;
}
.btn-info {
  background-image: -webkit-linear-gradient(top, #251e15 0%, #000000 100%);
  background-image: -o-linear-gradient(top, #251e15 0%, #000000 100%);
  background-image: linear-gradient(to bottom, #251e15 0%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff251e15', endColorstr='#ff000000', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #000000;
}
.btn-info:hover,
.btn-info:focus {
  background-color: #000000;
  background-position: 0 -15px;
}
.btn-info:active,
.btn-info.active {
  background-color: #000000;
  border-color: #000000;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #000000;
  background-image: none;
}
.btn-warning {
  background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
  background-image: -o-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #eb9316 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffeb9316', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #e38d13;
}
.btn-warning:hover,
.btn-warning:focus {
  background-color: #eb9316;
  background-position: 0 -15px;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #eb9316;
  border-color: #e38d13;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #eb9316;
  background-image: none;
}
.btn-danger {
  background-image: -webkit-linear-gradient(top, #5a1001 0%, #1d0500 100%);
  background-image: -o-linear-gradient(top, #5a1001 0%, #1d0500 100%);
  background-image: linear-gradient(to bottom, #5a1001 0%, #1d0500 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5a1001', endColorstr='#ff1d0500', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #130300;
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: #1d0500;
  background-position: 0 -15px;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #1d0500;
  border-color: #130300;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #1d0500;
  background-image: none;
}
.thumbnail,
.img-thumbnail {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-image: -webkit-linear-gradient(top, #ecdcbd 0%, #e7d2a9 100%);
  background-image: -o-linear-gradient(top, #ecdcbd 0%, #e7d2a9 100%);
  background-image: linear-gradient(to bottom, #ecdcbd 0%, #e7d2a9 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffecdcbd', endColorstr='#ffe7d2a9', GradientType=0);
  background-color: #e7d2a9;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-image: -webkit-linear-gradient(top, #5A1001 0%, #410c01 100%);
  background-image: -o-linear-gradient(top, #5A1001 0%, #410c01 100%);
  background-image: linear-gradient(to bottom, #5A1001 0%, #410c01 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5a1001', endColorstr='#ff410c01', GradientType=0);
  background-color: #410c01;
}
.navbar-default {
  background-image: -webkit-linear-gradient(top, rgba(26, 26, 26, 0.02) 0%, rgba(0, 0, 0, 0.02) 100%);
  background-image: -o-linear-gradient(top, rgba(26, 26, 26, 0.02) 0%, rgba(0, 0, 0, 0.02) 100%);
  background-image: linear-gradient(to bottom, rgba(26, 26, 26, 0.02) 0%, rgba(0, 0, 0, 0.02) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#051a1a1a', endColorstr='#05000000', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.02) 100%);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.02) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.02) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#05000000', endColorstr='#05000000', GradientType=0);
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
}
.navbar-brand,
.navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
.navbar-inverse {
  background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 100%);
  background-image: -o-linear-gradient(top, #3c3c3c 0%, #222 100%);
  background-image: linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border-radius: 4px;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #080808 0%, #0f0f0f 100%);
  background-image: -o-linear-gradient(top, #080808 0%, #0f0f0f 100%);
  background-image: linear-gradient(to bottom, #080808 0%, #0f0f0f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff080808', endColorstr='#ff0f0f0f', GradientType=0);
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}
@media (max-width: 767px) {
  .navbar .navbar-nav .open .dropdown-menu > .active > a,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-image: -webkit-linear-gradient(top, #5A1001 0%, #410c01 100%);
    background-image: -o-linear-gradient(top, #5A1001 0%, #410c01 100%);
    background-image: linear-gradient(to bottom, #5A1001 0%, #410c01 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5a1001', endColorstr='#ff410c01', GradientType=0);
  }
}
.alert {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.alert-success {
  background-image: -webkit-linear-gradient(top, #66f172 0%, #43ed52 100%);
  background-image: -o-linear-gradient(top, #66f172 0%, #43ed52 100%);
  background-image: linear-gradient(to bottom, #66f172 0%, #43ed52 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff66f172', endColorstr='#ff43ed52', GradientType=0);
  border-color: #21ea32;
}
.alert-info {
  background-image: -webkit-linear-gradient(top, #d6b26d 0%, #cea24f 100%);
  background-image: -o-linear-gradient(top, #d6b26d 0%, #cea24f 100%);
  background-image: linear-gradient(to bottom, #d6b26d 0%, #cea24f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd6b26d', endColorstr='#ffcea24f', GradientType=0);
  border-color: #c09136;
}
.alert-warning {
  background-image: -webkit-linear-gradient(top, #f8d9ac 0%, #f5c889 100%);
  background-image: -o-linear-gradient(top, #f8d9ac 0%, #f5c889 100%);
  background-image: linear-gradient(to bottom, #f8d9ac 0%, #f5c889 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8d9ac', endColorstr='#fff5c889', GradientType=0);
  border-color: #f2b866;
}
.alert-danger {
  background-image: -webkit-linear-gradient(top, #a61d02 0%, #801701 100%);
  background-image: -o-linear-gradient(top, #a61d02 0%, #801701 100%);
  background-image: linear-gradient(to bottom, #a61d02 0%, #801701 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa61d02', endColorstr='#ff801701', GradientType=0);
  border-color: #5a1001;
}
.progress {
  background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
  background-image: -o-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
  background-image: linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
}
.progress-bar {
  background-image: -webkit-linear-gradient(top, #a7662b 0%, #7e4d21 100%);
  background-image: -o-linear-gradient(top, #a7662b 0%, #7e4d21 100%);
  background-image: linear-gradient(to bottom, #a7662b 0%, #7e4d21 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa7662b', endColorstr='#ff7e4d21', GradientType=0);
}
.progress-bar-success {
  background-image: -webkit-linear-gradient(top, #0C7F16 0%, #08500e 100%);
  background-image: -o-linear-gradient(top, #0C7F16 0%, #08500e 100%);
  background-image: linear-gradient(to bottom, #0C7F16 0%, #08500e 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0c7f16', endColorstr='#ff08500e', GradientType=0);
}
.progress-bar-info {
  background-image: -webkit-linear-gradient(top, #251e15 0%, #040403 100%);
  background-image: -o-linear-gradient(top, #251e15 0%, #040403 100%);
  background-image: linear-gradient(to bottom, #251e15 0%, #040403 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff251e15', endColorstr='#ff040403', GradientType=0);
}
.progress-bar-warning {
  background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
  background-image: -o-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #ec971f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffec971f', GradientType=0);
}
.progress-bar-danger {
  background-image: -webkit-linear-gradient(top, #5a1001 0%, #280700 100%);
  background-image: -o-linear-gradient(top, #5a1001 0%, #280700 100%);
  background-image: linear-gradient(to bottom, #5a1001 0%, #280700 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5a1001', endColorstr='#ff280700', GradientType=0);
}
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.list-group {
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  text-shadow: 0 -1px 0 #280700;
  background-image: -webkit-linear-gradient(top, #5A1001 0%, #340901 100%);
  background-image: -o-linear-gradient(top, #5A1001 0%, #340901 100%);
  background-image: linear-gradient(to bottom, #5A1001 0%, #340901 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5a1001', endColorstr='#ff340901', GradientType=0);
  border-color: #340901;
}
.list-group-item.active .badge,
.list-group-item.active:hover .badge,
.list-group-item.active:focus .badge {
  text-shadow: none;
}
.panel {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.panel-default > .panel-heading {
  background-image: -webkit-linear-gradient(top, #d78928 0%, #c27b24 100%);
  background-image: -o-linear-gradient(top, #d78928 0%, #c27b24 100%);
  background-image: linear-gradient(to bottom, #d78928 0%, #c27b24 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd78928', endColorstr='#ffc27b24', GradientType=0);
}
.panel-primary > .panel-heading {
  background-image: -webkit-linear-gradient(top, #a7662b 0%, #935a26 100%);
  background-image: -o-linear-gradient(top, #a7662b 0%, #935a26 100%);
  background-image: linear-gradient(to bottom, #a7662b 0%, #935a26 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa7662b', endColorstr='#ff935a26', GradientType=0);
}
.panel-success > .panel-heading {
  background-image: -webkit-linear-gradient(top, #66f172 0%, #4fee5d 100%);
  background-image: -o-linear-gradient(top, #66f172 0%, #4fee5d 100%);
  background-image: linear-gradient(to bottom, #66f172 0%, #4fee5d 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff66f172', endColorstr='#ff4fee5d', GradientType=0);
}
.panel-info > .panel-heading {
  background-image: -webkit-linear-gradient(top, #d6b26d 0%, #d0a759 100%);
  background-image: -o-linear-gradient(top, #d6b26d 0%, #d0a759 100%);
  background-image: linear-gradient(to bottom, #d6b26d 0%, #d0a759 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd6b26d', endColorstr='#ffd0a759', GradientType=0);
}
.panel-warning > .panel-heading {
  background-image: -webkit-linear-gradient(top, #f8d9ac 0%, #f6ce95 100%);
  background-image: -o-linear-gradient(top, #f8d9ac 0%, #f6ce95 100%);
  background-image: linear-gradient(to bottom, #f8d9ac 0%, #f6ce95 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8d9ac', endColorstr='#fff6ce95', GradientType=0);
}
.panel-danger > .panel-heading {
  background-image: -webkit-linear-gradient(top, #a61d02 0%, #8c1902 100%);
  background-image: -o-linear-gradient(top, #a61d02 0%, #8c1902 100%);
  background-image: linear-gradient(to bottom, #a61d02 0%, #8c1902 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa61d02', endColorstr='#ff8c1902', GradientType=0);
}
.well {
  background-image: -webkit-linear-gradient(top, #e7d2a9 0%, #ecdcbd 100%);
  background-image: -o-linear-gradient(top, #e7d2a9 0%, #ecdcbd 100%);
  background-image: linear-gradient(to bottom, #e7d2a9 0%, #ecdcbd 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe7d2a9', endColorstr='#ffecdcbd', GradientType=0);
  border-color: #e1c795;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
}
