body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
i{
	display: inline-block;
	width: 12px;
	height: 13px;
}
i.three-bars {
	background: url('http://localhost:3000/octicons/svg/three-bars.svg');
}
i.x {
	background: url('http://localhost:3000/octicons/svg/x.svg');
}
body > #root > div.container > * {
	margin-bottom: 10px;
}
input[type=submit].form-control, input[type=reset].form-control {
	width: auto;
}
.tab-content > .tab-pane {
	opacity: 0;
	position: relative;
	display: block;
	left: -120px;
	transition: all .7s ease-out;
}
.tab-content > .tab-pane.active {
	opacity: 1;
	position: relative;
	display: block;
	left: 0px;
	transition: all .7s ease-out;
}
