@charset "UTF-8";
/**
 * @author     Adam Podstawka
 * @version    3.09
 * @date       2012-06-21
 * @lastchange 2017-10-23
 * @copyright  Copyright (c) 2012 - 2017, DSMZ, Adam Podstawka, Anna Vetcininova
 * @package    bacdive.css.bar
 * @lastchangeby Anna Vetcininova
 */


/******************* topbar *******************/
#topbarcontent {
  	margin: 0px;
  	top: 0px;
 	height: 58px;
	position: fixed;
	width: 100%;
	background-color: #ffffff;
	z-index:9998;
}
#topbarcontent #logo a img{
	float: left;
  	margin-left: 5px;
  	width: 70px;
  	height: 51.6px;
  	margin-top:3px;
}

#topbarcontent div#denbi{
	position:fixed;
  	right:0px;
  	top:0px;
}
#topbarcontent div#denbi div{
	display:inline;
	position:fixed;
	right:90px;
	top:10px;
	
}
#topbarcontent #denbi a img{
	width: 85px;
  	height: 30px;
}

#topbarcontent #announce a{
	float: left;
	margin-top: 31px; 
	margin-left: 20px;
	/* font-size:1.3em; */
	/* color:#F04100;
	font-weight:bold; */
}

#topbarcontent #navicontainer{
	margin-top: 35px;
	text-align: right;
}

.icon{
	float:left;
	width: 49px;
  	height: 41.9px;
  	margin-top:10px;
}

#navbar {
	width: 100%;
  	position: fixed;
  	height: 25px;
  	top: 58px;
  	background-color: #5290B2;
  	z-index:9998;
}
#navbar #navigation {
	float:right;
	margin-top: -10px; 
}
ul.links li {
  	display: inline;
  	float: right;  	
  	padding:1px;
  	margin-top:-1.8px;
}
.navlink {
	font-size:10pt;
}
#topbarcontent li a{
	text-decoration: none;
	color:black;
	padding: 0px 8px 0px 8px;	
}
#topbarcontent li a:hover{
	color:#F04100;
}
#navbar li a:hover{
	background-color:#f7f7f7;
	color:#F04100;
}
#navbar li a{
	text-decoration: none;
	color:white;
	padding: 1.5px 8px 2.5px 8px;
	
}
#searchtop {
	float: left;
	margin-left:5px;
	padding-top:2px;
}
#searchtop .search{
	position:fixed;
	float:left;
}
#searchtop #searchValue{
	position:fixed; 
	width:250px; 
}
#searchtop #submit{
	position:fixed; 
	margin-left: 270px; 
	width: 60px;
}
#searchtop #searchAnyField{
	position:fixed; 
	margin-left:350px;
}

#searchtop a.tooltip:hover span{
	margin-left:350px;
}

#searchtop #suggested{
	position: fixed;
	margin-top:20px;
}

#searchtop li a{
	text-decoration: none;
}

.noBorder {
	border: none;
}
