@CHARSET "UTF-8";
/**
 * @author     Adam Podstawka
 * @version    3.00
 * @date       2013-05-31
 * @lastchange 2015-01-19
 * @copyright  Copyright (c) 2013, DSMZ, Adam Podstawka
 * @package    bacdive.css.style.chooseref
 *
 */

#chooseref {
	margin:auto;
	z-index:999;
}

.choose-ref,
.choose-ref h1,
.choose-ref span,
.choose-ref input,
.choose-ref label {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

.choose-ref {
	color:#ffffff;
	margin:auto;
    position: absolute;
    width: 95%;
    height: 100%;
    padding: 15px 25px 0 25px;
    margin-top: 15px;
    cursor: default;
 
    background-color: #141517;
    background: rgba(20, 21, 23, 0.7);
 
    -webkit-border-radius: 5px;
    /*-moz-border-radius: 5px;*/
    border-radius: 5px;
 
    -webkit-box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
    /*-moz-box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);*/
    box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
}


.choose-ref h1 {
    line-height: 40px;
    font-family: "century gothic", verdana, sans-serif;
    font-size: 22px;
    font-weight: normal;
    color: #e4e4e4;
}

.choose-ref input[type=text],
.choose-ref input[type=password],
.choose-ref input[type=submit] {
    line-height: 14px;
    margin: 10px 0;
    padding: 6px 15px;
    border: 0;
    outline: none;
 
    font-family: "century gothic", verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0px 1px 1px rgba(255,255,255, .2);
 
    -webkit-border-radius: 26px;
    /*-moz-border-radius: 26px;*/
    border-radius: 26px;
 
    -webkit-transition: all .15s ease-in-out;
    /*-moz-transition: all .15s ease-in-out;*/
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.choose-ref input[type=text],
.choose-ref input[type=password],
.js .choose-ref span {
    color: #686868;
    width: 170px;
 
    -webkit-box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6);
    /*-moz-box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6);*/
    box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6);
 
    background: #989898;
    /*background: -moz-linear-gradient(top,  #ffffff 0%, #989898 100%);*/
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#989898));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#989898 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#989898 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#989898 100%);
    background: linear-gradient(top,  #ffffff 0%,#989898 100%);
}

.choose-ref input[type=text]:hover,
.choose-ref input[type=password]:hover {
    -webkit-box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6), 0px 0px 5px rgba(255,255,255, .5);
    /*-moz-box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6), 0px 0px 5px rgba(255,255,255, .5);*/
    box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6), 0px 0px 5px rgba(255,255,255, .5);
}

.choose-ref input[type=text]:focus,
.choose-ref input[type=password]:focus {
    background: #e1e1e1;
    /*background: -moz-linear-gradient(top,  #ffffff 0%, #e1e1e1 100%);*/
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e1e1e1));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e1e1e1 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#e1e1e1 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#e1e1e1 100%);
    background: linear-gradient(top,  #ffffff 0%,#e1e1e1 100%);
}

.choose-ref input[type=submit] {
	/* Text Color */
    float: right;
    cursor: pointer;
 
    color: #700a16;
 
    -webkit-box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .45), 0px 1px 1px 0px rgba(0,0,0, .3);
    /*-moz-box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .45), 0px 1px 1px 0px rgba(0,0,0, .3);*/
    box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .45), 0px 1px 1px 0px rgba(0,0,0, .3);
}

.choose-ref input[type=submit]:hover {
    -webkit-box-shadow: inset 1px 1px 3px 0px rgba(255,255,255, .8), 0px 1px 1px 0px rgba(0,0,0, .6);
    /*-moz-box-shadow: inset 1px 1px 3px 0px rgba(255,255,255, .8), 0px 1px 1px 0px rgba(0,0,0, .6);*/
    box-shadow: inset 1px 1px 3px 0px rgba(255,255,255, .8), 0px 1px 1px 0px rgba(0,0,0, .6);
}
 
.choose-ref input[type=submit]:active {
    -webkit-box-shadow: none;
    /*-moz-box-shadow: none;*/
    box-shadow: none;
}

.choose-ref input[type=submit],
.js .choose-ref span.checked:before {
	/* Button color */
    background: #b61024;
    /*background: -moz-linear-gradient(top,  #b61024 0%, #9F0E1F 100%);*/
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#9F0E1F));
    background: -webkit-linear-gradient(top,  #b61024 0%,#9F0E1F 100%);
    background: -o-linear-gradient(top,  #b61024 0%,#9F0E1F 100%);
    background: -ms-linear-gradient(top,  #b61024 0%,#9F0E1F 100%);
    background: linear-gradient(top,  #b61024 0%,#9F0E1F 100%);
}