@charset "UTF-8";
/**
 * @author     Adam Podstawka
 * @version    0.01
 * @date       2015-01-15
 * @lastchange 2014-01-15
 * @copyright  Copyright (c) 2015, DSMZ, Adam Podstawka
 * @package    bacdive.css.style.kitapi
 *
 */

/* KIT API */
.kitapi td {
	vertical-align:top;
	min-width:2em;
	width:10em;
}
#resultdetail td table.kitapi ul {
	padding:0;
	margin:0;
	list-style: none;
	/*width:55px;*/
	word-wrap: break-word;
}

#resultdetail li.cupuletitle {
	font-size:8pt;
	text-align:center;
	min-width:2em;
	/*height:5em;*/
	min-height:3em;
}

#resultdetail li.cupulecontent {
	position:relative;
	top:50%;
	
	
	font-size:12pt;
	font-weight:bold;
	text-align:center;
	vertical-align:center;
	min-height:2em;
}