@charset "UTF-8";
/**
 * @author     Anna Vetcininova
 * @version    1.03.5
 * @date       2017-03-20
 * @lastchange 2017-05-05
 * @copyright  Copyright (c) 2017 DSMZ, Anna Vetcininova
 * @package    bacdive.css.style
 * @lastchangeby Anna Vetcininova
 */

body{overflow:hidden;} 

#pdf_view { 
	padding:0px; 
	padding-top:0em; 
	text-align:left; 
	font-size:10pt; 
	width:99.9%; 
	border:1px solid #f7f7f7 ;
} 
 
 /************************ infobox ************************/

#infoboxbar{
	border-bottom:1px solid #D8D8D8;
	top:83px;
	position:fixed; 
	width:100%;
	z-index:9994; 
	height:48px;
	overflow: scroll;
	overflow:auto;
	background-color: #ffffff;
	padding-top:5px;
}

#infobox #heading th, #sectionlinks #heading th, #externallinks #heading th{
	color:#5290B2;
	width:100%; 
}

#heading{
	border-bottom:1px solid #D8D8D8;  
	margin-left:5px;
	margin-right:5px;
}
#infobox .expand_collapse{
	padding:5px; 
	margin-left:5px; 
}
.cell{
	vertical-align:top;
}
.cellcenter{
	vertical-align:center;
}
#infobox td.infobox_key{
	font-weight:bold;
	vertical-align:top;
}
#infobox td{
	padding:0px;
	margin:0px;
}
div .infobox_ul{
	margin-left:-30px; 
}

#infobox .width72{
	vertical-align:top;
	width:85px;
}
#infobox .width150{
	width:150px;
	vertical-align:top;
	padding-left:50px;
}
.widthcell{
	width:130px;
	vertical-align:top;
}
.width250{
	width:250px;
	vertical-align:top;
}
.width90{
	width:90px;
	vertical-align:top;
}
.paddingleft{
	padding-left:25px;
}
.widthmin{
	min-width:400px;
} 
 /*********************************************************/
 
 
#pdf_content{
	/* background-color: blue; */
	margin-top:40px;  
	width:100%;
} 

#version{
	/* background-color: red; */
	width:300px;
	float:left;
}

#pdffile{
	/* background-color: green; */
	margin-left:325px;
	width:auto;
}


#citate{
	background-color:#ffffff;
	padding:5px;
	border:1px solid #F04100;
	/* color:red; */
}

.header{
	padding:5px;
	text-align:center;
	/* background-color:#E6E6EA; */
}
.pdfarchive_header{
	border-bottom:1px solid #D8D8D8;
	/* background-color:#E6E6EA; */
	margin: 10px 0px 10px 25px;
}
#pdffile .header{
	border-right:1px solid #D8D8D8;
	border-left:1px solid #D8D8D8;
	background-color:#E6E6EA/* #D8D8D8 */;
	/* font-weight:bold; */
}

iframe {
	width:100%;
	height:85vh; 
}


input[type=submit]{
	border:none;
	background-color:#f7f7f7;
	color:#5290B2;
	text-decoration:underline;
}
input[type=submit]:hover{
	color:#F04100;
}



 