@charset "UTF-8";
/**
 * @author     Adam Podstawka
 * @version    3.27.14
 * @date       2012-11-20
 * @lastchange 2017-11-17
 * @copyright  Copyright (c) 2012 - 2017, DSMZ, Adam Podstawka, Anna Vetcininova
 * @package    bacdive.css.style.search
 * @lastchangeby Anna Vetcininova
 *
 */


#searchcontainer .searchhelp { display:block; margin-top:5px; font-size: 8pt; }
#advsearchcontainer .searchhelp { display:block; margin-top:5px; font-size: 8pt; }

#searchresult {/*  margin-left:5px; */ /* text-align:left; */ padding-top:10px;/*  border:1px solid red; */ }
#searchresult ul { text-align:left; margin-left:10px; /* border:1px solid blue; */}

ul.searchresult { list-style: none; padding: 0px; }
li.searchresultrow0 { margin-top:5px; padding:5px; background-color: #ececec; font-size:8pt; height:3em;/* border:1px solid red; */ }
li.searchresultrow1 { margin-top:5px; background-color: #f0f0f0;/* border:1px solid blue; */} /*height:10em; }*/
li.searchresultrow2 { margin-top:5px; background-color: #fcfcfc;/* border:1px solid green; */} /* height:10em; }*/
li span.exportcheckbox { display:block;float:left; width:50px;  /* height:4em; */  /* border:1px solid yellow; */}
li span.exporttext { display:block; float:left; width:45px; font-size:6pt; }
li span.exportalltext { display:block; loat:left; font-size:6pt;}



/******************************************** Searchresult Page **************************************************************/
#topbar_searchresult{
 	border-bottom:1px solid #D8D8D8; 
 	height: 30px;
 	width:100%;
 	position:fixed;
 	background-color:#f7f7f7;
 	top:83px;
 }
span.searchresultlayerhits { display:inline; font-size:0.9em; }
span.searchresultlayerpages { display:block; font-size:0.9em; text-align:center;}
span.searchresultlayerpages a { color:#000; }
span.searchresultlayerpages a:hover { font-weight:bold; }

span.searchresultlayer {
    position:fixed;
	min-width:150px;
	top:100px;
	left:30px;
    padding:2pt;
    line-height:1em; /* dadurch Zentrierung */
	font-size:10pt;
    text-align:left;
	z-index:9997;
    color: rgb(0,0,0);
    background-color:#fff;
    background: rgba(255,255,255,0.85);
    box-shadow: 0pt 0pt 4px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0pt 0pt 4px rgba(0,0,0,0.4);
}

div#addtocartpopoup {
	border:1px solid #D8D8D8; 
    position:fixed;
	top:85px;
	left:130px;
	min-width:180px;
    padding:2pt;
	line-height:1em;
    text-align:center;
	font-size:10pt;
	display:none;
    z-index:9999;
    color: rgb(0,0,0);
    background-color:#fff;
    background: rgba(255,255,255,0.85); 
} 

span#addtocartcount { display:inline; font-size:0.9em; }
/** ENDE Searchresult Page **/ 

/********************************************** Resultdetail Page ********************************************************/

/************************ infobox ************************/


div #infoboxbar{
	/* border:1px solid red;  */
	border-bottom:1px solid #D8D8D8;
	top:83px;
	position:fixed; 
	width:100%;
	/* background-color:#f7f7f7#fff/* ; */
	z-index:9994; 
	height:48px;
	overflow: scroll;
	overflow:auto;
	background-color: #ffffff;
	/* font-size:10.5px; */
	padding-top:5px;
}

#infobox #heading th, #sectionlinks #heading th, #externallinks #heading th{
	color:#5290B2;
	width:100%; 
}

#heading{
	border-bottom:1px solid #D8D8D8;  
	margin-left:5px;
	margin-right:5px;
}
#infobox .expand_collapse{
	padding:5px; 
	margin-left:5px; 
}
.cell{
	vertical-align:top;
}
.cellcenter{
	vertical-align:center;
}
#infobox td.infobox_key{
	font-weight:bold;
	vertical-align:top;
}
#infobox td{
	padding:0px;
	margin:0px;
}
div .infobox_ul{
	margin-left:-30px; 
}

#infobox .width72{
	vertical-align:top;
	width:85px;
}
#infobox .width150{
	width:150px;
	vertical-align:top;
	padding-left:50px;
}
.widthcell{
	width:130px;
	vertical-align:top;
}
.width250{
	width:250px;
	vertical-align:top;
}
.width90{
	width:90px;
	vertical-align:top;
}
.paddingleft{
	padding-left:25px;
}
.widthmin{
	min-width:400px;
}
/******************** Resultdetail toolbar *********************/
#resultdetail #toolbar{
	position:fixed; 
	width:100%;
	top:137px; 
	background-color:#f7f7f7;
	z-index:9994; 
	border-bottom:1px solid #D8D8D8; 
	height:25px;
}

#toolbar td#browsetable{
	width:250px;
}
#toolbar td#download{
	width:80px;
	padding:0px;
	padding-left:5px;
	padding-right:5px;
}
#toolbar td#pdf, #toolbar td#cite{
	width:40px;
	padding:0px;
	padding-left:5px;
}
#toolbar td#exclude{
	width:325px;
	padding:0px;
	padding-left:5px;
}
#toolbar td#straindetailExpandall{
	width:100px;
	padding:0px;
}
#toolbar .expand_table{
	float:right;
	padding:0px;
}
#toolbar td#browsetable
#toolbar td{
	margin:0px;
	padding:0px;
}


#resultdetailtoolbar .arrow{
	width:12px;
	height:12px;
	margin-right:2px;
} 
#browsestrains{
	float:left;
	margin-left:10px;
	padding:0px;
}
.browsestrains {
	margin:0px;
	padding:0px;
	color:#5290B2; 
}

ul.browsestrains li{
	display:inline;
}

.browsestrains li a, .browsestrains li a:hover { 
	font-size:2em;     
	font-weight:bold;
	text-decoration:none; 
	color: #5290B2; 
}

div#resultdetail div#toolbar div#resultdetailtoolbar {
	float:right;
	margin-right:10px;
	margin-top:5px; 
}

#toolbar a{
	text-decoration:none;
}

/****doi ***********************************/
.doinumber{
	border:1px solid #D8D8D8; 
	position:fixed; 
	margin-top:-65px;
	background-color: rgba(255, 255, 255, 1);
	z-index:9990;
	font-size:10.5px;
	padding:5px;
}



/******************************* Resultdetail sectionlinks / externallinks ***********************************/

#resultdetail #box{
	border:1px solid #D8D8D8; 
	/* float:right;  */
	position:fixed; 
	right:0px;
	width:260px;
	margin-top:78px; 
	background-color: rgba(255, 255, 255, 0.8);
	z-index:9990;
	font-size:10.5px;
	padding-top:3px;
	padding-bottom:3px;
	
} 


/************************ sectionslinks ************************/
#sectionlinks .sections{
	padding:5px; 
	margin-left:5px;
}

/************************ externallinks ************************/
#externallinks .links{
	width:100%;
	padding:5px; 
	margin-left:5px;
}



/******************************* Resultdetail entries ***********************************/
.textmining{
	/* color:#777777; */
	color:#5290B2;
	font-weight:bold; 
}

#resultdetail #content{
	margin-top:78px;  
	width:101%;
}

#resultdetail { padding:0px; padding-top:0em; text-align:left; font-size:10pt; width:99%; border:1px solid #f7f7f7 ;}

#resultdetail table.section_content, #resultdetail table#toolbar, .bordercollapse{
	border-collapse: collapse;
}

.anchor{
  display: block;
  height: 192px; /*same height as header*/
  margin-top: -192px; /*same height as header*/
  visibility: hidden;
}


#resultdetail #content ul, #resultdetail #content ul li{
	margin:0px;
	padding:0px; 
	list-style:none;
}


#resultdetail ul li.resultdetail_sectiontitle {
    list-style-type:none;
    font-weight:bold;
    font-size:10pt;
    background-color: #E6E6EA; 
    border-top:1px solid #D8D8DE;
    border-bottom:1px solid #D8D8DE;
}
#resultdetail ul li.resultdetail_sectiontitle a {  
	padding:10px; 
}
#content .arrow{
	width:12px;
	height:12px;
	float:left;
	margin-top:2px;
	margin-left:5px;
}

#content .sort-arrow{
	height:12px;
	float:right;
	margin-right:5px;
	margin-top:2px;
	margin-left:5px;
}

#resultdetail table.section_content{
	/* border:1px solid red;  */
	margin-left:20px;
	border-collapse:collapse;
}



#resultdetail table.section{
	padding: 5px 0px 15px 5px;
}

#resultdetail td.firstcell{
	width:90px;
	vertical-align:top;
	font-size:10px;
}

#resultdetail .width180_valigntop{
	vertical-align:top; 
	width:180px; 
}



.border_rightfree{
	border-top:1px solid #D8D8D8;
	border-left:1px solid #D8D8D8;
	border-bottom:1px solid #D8D8D8;
}
.border_leftfree{
	border-top:1px solid #D8D8D8;
	border-right:1px solid #D8D8D8;
	border-bottom:1px solid #D8D8D8;
}
.padding{
	padding:5px 5px 5px 5px;
}

.paddingtop{
	padding-top:5px;
	padding-left:2px;
}

.paddingright{
	padding-right:10px;
}



#met_antibiogram th, #met_antibiogram td{
	height:1.5em;
	border-collapse: collapse;
}


#FA_profile_table table{
	margin:0;
	padding:0;
}




/******************************* References ***********************************/
div#references { font-size:10pt; float:left;}
div#references .title { font-size:10pt; font-weight:bold; }
div#references li.resultdetail_reference { list-style-type:none; margin:5px; }
.resultdetail_referencetextmining { color:#5290B2;/* color:#777777; */ font-weight:bold; }
div#references li.resultdetail_referencetextmining { list-style-type:none; margin:5px; }
div#references li.resultdetail_reference table { width:100%; }
td.resultdetail_reference_refid { width:5%; }
td.resultdetail_reference_refannot { width:5%; }
td.resultdetail_reference_refdata { width:89%; }
td.resultdetail_fieldreference {vertical-align:top;width:13%; /* border:1px solid red; */} 
/** ENDE References **/

/** spacer **/
/* .spacer {
	line-height: 0.6em;
} */
/********************************************** END Resultdetail Page ********************************************************/

/********************************************** Advanced Search Page ********************************************************/
/** Advanced Search styles **/
#advsearch { min-width:670px;   width:670px;  margin-left:auto; margin-right:auto;}

.advsearchbox { border:1px solid #D8D8DE;  font-size:10pt;}
.advsearchbox tr { background-color:#f7f7f7;}
.advsearchbox td { border:1.5px solid #D8D8DE; padding-left:5px; padding-right:5px;}
.advsearchbox{
	border-collapse: collapse;
}



.advsearchbox thead td.titlefield{
	position:fixed;
	width:690px; 
	min-width:690px;
	z-index:9999;
	top:83px;
	height:24px;
	border:1.5px solid #D8D8DE; 
}
.advsearchbox thead td.submitfield{
	position:fixed;
	width:689px;
	top:109px;
	z-index:9999; 
	background-color:#f7f7f7;
	border:1.5px solid #D8D8DE;
	border-bottom:none;
	padding-top:4px;
	
	height:23px;
}
.advsearchbox thead td.submitfield input{
/* 	height:19px; */	
	border-radius:5px; 
	font-size:14px;
	background-color:#E6E6EA/* #D8D8DE */;	
	float:right;
}
.advsearchbox thead td.submitfield input:hover{
	background-color:#D8D8DE;
}
.advsearchbox .errortablefield {  float:left; color: #cc0000;}

.advsearchbox thead td.textfield{
	position:fixed;  
	width:214px; 
	z-index:9999;
	background-color:#f7f7f7;
	height:18px;
	border-left:1.5px solid #D8D8DE ;
	border-right:none;
	border-top:none; 
	padding-top:8px;
	top:137px/* 133px */;
}

.advsearchbox thead td.notfield{
	position:fixed; 
	width:25px; 
	
	margin-left:665px/* 225px */; 
	background-color: #f7f7f7;
	height:18px;
	border-bottom:1.5px solid #D8D8DE;
	border-left:none;
	border-right:1.5px solid #D8D8DE;
	border-top:none; 
	font-size:1em;
	color: #F04100/* #FE2C31 */;
	padding-top:8px;
	top:137px/* 133px */;
}

.advsearchbox thead td.expandall{
	position:fixed;  
	width:431px; 
	margin-left:225px/* 259px */;
	background-color:#f7f7f7;
	height:18px;
	border:1.5px solid #D8D8DE ;
	border-left:none;
	border-top:none;
	padding-top:8px;
	top:137px/* 133px */;
}

#advsearch_header tr, #advsearch_header td{z-index:9999;}


#tablebody{
	margin-top:164px/* 157.8px */;
} 
.advsearchbox .titlefield {
	font-size:14pt;
	font-weight:bold;
	text-align:left; 
	color: #ffffff;
	background-color: #5290B2;
}
.advsearchbox .searchfield { text-align:left; }
.advsearchbox .noborder { border:none; } 
.advsearchbox .notfield { width:20px;}
.advsearchbox .expandall {text-align:right; color:#5290B2;}

.advsearchbox .selectfield { min-width:160px;}
.advsearchbox .inputfield { min-width:200px;}
.advsearchbox .inputfield #dropdown{width:200px;}



.advsearchbox .textfield { min-width:200px; text-align:left; width:200px;}

.advsearchbox .heading {
	border: 1.5px solid #D8D8DE;
	width: 100%;
	text-align:left; 
	background-color: #5290B2; 
	color:#ffffff; 
	font-weight:bold;
	min-width: 690px;
} 



#infobox .arrow, #sectionlinks .arrow, .advsearchbox .arrow , #externallinks .arrow{
	width:12px;
	height:12px;
	float:right;
	margin-top:2px;
	margin-right:2px;
}
td.heading .arrow {
	width:12px;
	height:12px;
	float:right;
	margin-top:2px;
	margin-right:36px;
}
 

.advsearchbox .color1 { 
	background-color: #E6E6EA ; 
}
.advsearchbox .padding1 { 
	padding-left:20px;
}


/**********************************************ENDE  Advanced Search Page ********************************************************/
/** **/
.searchdefaults {
	display:block;
	margin-top:10px;
}
.searcherror {
	color:#cc0000;
}

div#annotatecommit {
    position:fixed;
    margin:auto;
	min-width:100px;
	min-height:30px;
	top:80px;
	left:30px;
    padding:2pt;
    line-height:1em; /* dadurch Zentrierung */
	font-size:10pt;
    text-align:left;
	z-index:9997;
    color: rgb(0,0,0);
    background-color:#00ff00;
    background: rgba(0,255,0,0.85);
    box-shadow: 0pt 0pt 4px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0pt 0pt 4px rgba(0,0,0,0.4);
}

div#annotatereset {
    position:fixed;
    margin:auto;
	min-width:100px;
	min-height:30px;
	top:80px;
	right:30px;
    padding:2pt;
    line-height:1em; /* dadurch Zentrierung */
	font-size:10pt;
    text-align:left;
	z-index:9997;
    color: rgb(0,0,0);
    background-color:#ff0000;
    background: rgba(255,0,0,0.85);
    box-shadow: 0pt 0pt 4px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0pt 0pt 4px rgba(0,0,0,0.4);
}

/* editable things style */

.editable input[type=textarea] {
min-width:200px;
width:200px;
}

.editable input[type=submit] {
  color: #F00;
  font-weight: bold;
}
.editable input[type=button] {
  color: #0F0;
  font-weight: bold;
}



