@charset "UTF-8";
/**
 * @author     Anna Vetcininova
 * @version    1.22.4
 * @date       2017-05-04
 * @lastchange 2017-08-29
 * @copyright  Copyright (c) 2017 DSMZ, Anna Vetcininova
 * @package    bacdive.css.style
 * @lastchangeby Anna Vetcininova
 */

table {
	
    border-collapse: collapse;
    box-sizing: border-box;
    -moz-box-sizing: border-box;

    display: flex; 
    flex-direction: column; 
    align-items: stretch;   
    height: 60vh;  
    overflow-x: auto ;
    min-width: 1300px ;
}

thead {
	/* border:1px solid blue; */
	border-collapse: collapse;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* overflow-x: auto ; */
}

tbody {
	/* border:1px solid red; */	
	border-collapse: collapse;
    overflow-y: scroll;  
    display: inline-block;
}

thead > tr, tbody > tr, tfoot > tr {	
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

thead, tfoot {
    flex-shrink: 0; 
}

th.sortfield{
	height:3em;
}

th, tbody td{
	
	border:1px solid #D8D8D8;
	border-collapse: collapse;
    width: 38px; 
    overflow-x: hidden ; 
    word-wrap: break-word;
    text-overflow: ellipsis; 
	display: inline-block;  	
}

.borderBottom{border-bottom:1px solid #C2C2C2; }


.colWidth250{
	min-width:100px;
	width:400px;
	flex-grow:1; 
	/* background-color:red;  */
	text-align:left;
}
.colWidth200{
	min-width:100px;
	width:200px;	
	text-align:left;
}
.colWidth90{
	min-width:45px;
	width:90px;	
	text-align:left;	
}

.paddingRight13{padding-right:13px;}


span.tooltiptext
{
  position: absolute;
  display: block;
  font-weight:normal;
  top: 140px; 
  padding:5px;
  border: 1px solid black;
  background-color:#fdfffb;
  color:black;
  /* padding: 0.2em; */
  /* min-width:150px; */ 
  z-index:9999;
}

 
.sort_arrow{
	padding-top:2px;
	height:10px;
	text-align:center;  
}


.selected { color: purple; }
















