@charset "UTF-8";
/**
 * @author     Adam Podstawka
 * @version    3.05
 * @date       2012-11-20
 * @lastchange 2017-11-16
 * @copyright  Copyright (c) 2012 - 2017 DSMZ, Adam Podstawka, Anna Vetcininova
 * @package    bacdive.css.style.dlselect
 * @lastchangeby Anna Vetcininova
 */

body{ display:block;}

#dlcart .searchhelp { display:block; margin-top:5px; font-size: 8pt; }

/** DL Cart **/
#dlcart { margin-left:5px; text-align:left; padding-top:10px; }
#dlcart ul { text-align:left; margin-left:10px; margin-top:30px; }

ul.dlcartresult { list-style: none; padding: 0px; /* border:1px solid blue; */}
li.dlcartresultrow1 { margin-top:5px; background-color: #f0f0f0; }
li.dlcartresultrow2 { margin-top:5px; background-color: #fcfcfc; }
li.dlcartresultrow1:hover { margin-top:5px; background-color: #c6c6c6; }
li.dlcartresultrow2:hover { margin-top:5px; background-color: #c6c6c6; }
/** ENDE DL Cart **/

.dlcartresultinfo { font-size:8pt; display:block; }



#exportselect{
/* 	display:none; */
	margin-left:10px;
}

#exportselect form fieldset{
	border:1px solid #D8D8D8; 
	display:inline;
	margin-top:30px;
	padding:0px;
}

#exportselect ul{
	/* border:1px solid blue; */
	margin-bottom:30px;
	margin-left:-20px;
}
#exportselect ul li{
	list-style-type: none;	
}


#exportselect ul.list{
	margin:0px;
	margin-bottom:1px;
}


#exportselect img.arrow{
	width:12px;
	height:12px;
	float:left;
	padding:8px 5px 0px 5px;
}

#exportselect p.sectionTitle{
	margin-top:5px; 
	width:74%;
}

span.dlcartresultlayer {
    position:fixed;
	top:100px;
	left:15px;
    font-size:10pt;
	min-width:150px;
	z-index:9997;
    padding:0.1em;
    color: rgb(0,0,0);
    /*background-color:#2D77B5;
    background: rgba(45, 119, 181, 0.0);*/
    background-color:#fff;
    background: rgba(255,255,255,0.85);
    box-shadow: 0pt 0pt 4px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0pt 0pt 4px rgba(0,0,0,0.4);
    line-height:1em; /* hoehen dadurch Zentrierung */
    text-align:center;
}

span.dlcartresultlayerhits { display:inline; font-size:0.9em; }
span.dlcartresultlayerclear { display:inline; font-size:0.9em; }