@charset "UTF-8";
/**
 * @author     Anna Vetcininova
 * @version    3.06
 * @date       2015-12-17
 * @lastchange 2016-09-06
 * @copyright  Copyright (c) 2015-2016 DSMZ, Anna Vetcininova
 * @package    bacdive.css.style
 * @lastchangeby Anna Vetcininova
 */

#topbar_strains{
 	border-bottom:1px solid  #D8D8D8; 
 	height: 30px;
 	width:100%;
 	position:fixed;
 	background-color:#f7f7f7;
 	top:83px;
 }

#download input{
	margin-top:2px;
 	float:right;
 }

#selectAllTaxplorer{
	width:75%;
}
div#addtocartpopoup {
	border:1px solid #D8D8D8; 
    position:fixed;
	min-width:180px;
    padding:2pt;
	line-height:1em;
    text-align:center;
	display:none;
	z-index:9999;
	left:100px;
	top:85px;
}

#search, #resultlist {
	margin-top:25px;
 	float:left;	
 	text-align: left;
 }

 
#search {
 	width:280px; 
 	margin-left:10px;
 	position: fixed;
 	float:left;
 }
 
#search div.searchbutton{
	margin-top:10px;
}

#search div.searchbutton p , #search div.searchbutton select {
 	display: inline; 
 } 

#search div.searchbutton p{
	width:20%;
}
#search div.searchbutton select {
	width:70%;
}

#strains ul{
	list-style-type:none;
}
#strains td{
	vertical-align:top;
}
#resultlist {
 	margin-left:280px;
 	float:left;
 }


 
 
 
 
 
 
 
 
 
 
 
 
 
 