@charset "UTF-8";
/**
 * @author     Adam Podstawka
 * @version    0.03
 * @date       2012-11-20
 * @lastchange 2013-07-01
 * @copyright  Copyright (c) 2012, DSMZ, Adam Podstawka
 * @package    bacdive.css.style.contact
 *
 */
 
div#static_content 
{ 
	text-align:left;
	padding-left:1em;
	padding-top:1em;
	padding-right:10em;
	font-size:10pt;
}