@charset "UTF-8";
/**
 * @author     Adam Podstawka
 * @version    3.10.1
 * @date       2012-06-22
 * @lastchange 2017-11-17
 * @copyright  Copyright (c) 2012 - 2017 DSMZ, Adam Podstawka, Anna Vetcininova
 * @package    bacdive.css.style
 * @lastchangeby Anna Vetcininova
 */

/* * {margin: 0; padding: 0;} */
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
​.ng-invalid { border: 1px solid red; }​


html { 
    /* display: table; for the vertical alignment of the content(searchcontainer)
	height:100%; for the vertical alignment of the content(searchcontainer)
	width:100%;}  for the vertical alignment of the content(searchcontainer)  */}
body {
    text-align:center;
    color: black;
    margin: 0;
    padding: 0;
    font-size: 10pt;
    font-family:"century gothic", verdana, sans-serif;
    /*background-color:#ffffff;*/
    background-color: #f7f7f7/* #EDF1F7 *//*#FFFFF4/*#F1F4FA/*#FFFBF4/*#FFF1DD/*#F2F2EB/*#E5E5E4/*#FFFFFD/*#FDFFE4 /* #EDF1F7 */;
    height:100%;
    /* border:1px solid red; */
    /* display: table-cell; for the vertical alignment of the content(searchcontainer)
    vertical-align: middle; for the vertical alignment of the content(searchcontainer) */
}
img { border:none; }
input { border: 1px solid #cfcecd; border-radius:3px;}
input[type=checkbox],[type=radio] { border:none; }
input[type=text] {
    padding-left:4px;
    border: 1px solid #bebebe;
    /*-moz-border-radius: 9px;*/
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#searchcontainer {
	padding-top:100px; 
	/* border:1px solid blue; */
	font-size:10pt;
}
#searchform {
	/*border:1px solid blue;*/
}

div#middle_content { position:relative; display:block; }
div#middle_content div.inhalt_start {margin-top:95px; margin-bottom:20px; }

a , a.expand:hover{ color:#5290B2/*#226ED0/*#FF4500/*#FF0000/*#F20033/* rgb(242,0,51) */; }
a:hover, a.expand { color:#F04100/*rgb(179,0,25)*/; }

a.hover_black:hover{color:black}


.tooltip { text-decoration:none;}
a.tooltip, td.tooltip {  position: relative; color: black; text-decoration:none; }
a.tooltip span, td.tooltip span { display: none; text-decoration:none }
a.tooltip:hover span, td.tooltip:hover span
{
  position: absolute;
  display: block;
  font-size:8pt;
  font-weight:normal;
  top: 1.5em;
  left: 2em;
  border: 1px solid black;
  background-color:#fdfffb;
  padding: 0.2em;
  min-width:150px;
  text-decoration: none;
  z-index:9997;
} 



/* tooltip for api kits --> without text-decoration: none*/
/* .tooltip-api {line-height:10pt;font-size:10pt;}  */
a.tooltip-api {  position: relative;}
a.tooltip-api span { display: none; }
a.tooltip-api:hover span
{
  position: absolute;
  display: block;
  font-size:8pt;
  font-weight:normal;
  top:25pt; /* 1.8em;  */ 
  /* left: 2em;  */
  border: 1px solid black;
  background-color:#fdfffb;
  color:black;
  /* padding: 0.2em; */
  /* min-width:150px; */ 
  z-index:9997;
}


.helplink{
	color:#F09F00/* #FFB716 */;
}
.helplink:hover{
	color:#F04100
}

.width60{width:60px;}
.width80{width:80px;}
.width90{width:90px;}
.width100{width:100px;}
.width250{width:250px;}
.width240{width:240px;}
.width130{
	vertical-align:top;
	width:130px;
}
.width180{width:180px;}
.width215{width:215px;}
.width300{width:300px;}


.width120p{width:120%;}
.width100p{width:100%;}


.width140pt{width:140pt;}
.width100pt{width:100pt;}

.min-width60{min-width:60px;}
.min-width90{min-width:90px;}
.minwidth130{min-width:130px;}
.minwidth215{min-width:215px;}

.height10{height:10px;}


.textalignCnt{text-align:center;}

.overflowHidden{overflow:hidden}
.overflowAuto{overflow:auto}

.hits{
	margin-top:10px;
	float:left;
	margin-left:10px;
	/* border:1px solid red; */
}


#strains .paging, #searchresult .paging{
	/* border:1px solid blue; */
	margin-left:auto;
	margin-right:auto;
}
.arrowinstrains {
	/* border:1px solid blue;  */
	font-size:1.65em;  
}
.none_textdeco{
	text-decoration:none;
	color:black;
}
.paging_numbers{
	display:inline;
	margin:5px;
	width:500px;
}
.paging_numbers td.middle{
	/* border:1px solid red;  */
	width:150px;
	vertical-align:center;
	padding-top:5px;
}
#browsestrains td.middle{
	/* border:1px solid red; */ 
	vertical-align:center;
	color:#5290B2;
}
.none_textdec {
	text-decoration:none;
}

.border{
	border:1px solid #D8D8D8; 
}
.noborder{
	border:none;
}
.noborderTop{border-top:none;}
.noborderLeft{border-left:none;}
.noborderRight{border-right:none;}
.noborderBottom{border-bottom:none;}

/** Modal Window **/
#simplemodal-overlay { background-color:#000;}
#simplemodal-container { background-color:#333; border:8px solid #444; padding:12px; }
#simplemodal-container a.modalCloseImg {
	background:url("../images/x.png") no-repeat;
	width:25px;
	height:29px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:-15px;
	right:-18px;
	cursor:pointer;
}



/** IE PNG Fix **/
/*<!--[if lt IE 7]>
	#simplemodal-container a.modalCloseImg {
		background:none;
		right:-14px;
		width:22px;
		height:26px;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
			src='img/x.png', sizingMethod='scale'
		);
	}
<![endif]-->*/

.hidden{display:none;}
.clearing { clear: both; }

h1.name{
	/* color:#5290B2 */ /* #226ED0 /*#347AD4/*#4485D9/*#5550DE/*#4292D8/*#C97517/*#FFA318/*#0C4E7F/*#189CFF*/
	font-size:250%;
} 

.blue{color: #5290B2/* #0575AB */;}
.red{color: #7F0A13;}
.green{color: #086808;}
.darkgrey{color: #302F2F;}
.colorRed{color:#F04100;}

.backGrey{background-color: #E6E6EA;}
.backBlue{background-color: #5290B2;}
.backcolor{background-color: yellow;}



.font8{font-size:8pt;}
.font9{font-size:9pt;}
.font10{font-size:10pt;}
.font10px{font-size:10px;}
.font1_5em{font-size:1.5em;}

.bold{font-weight:bold}
.italic {font-style: italic;}


.textalign_right{text-align: right;}
.textalign_left{text-align: left;}
.textalign_center{text-align: center;}



.padding0{padding:0px 0px 0px 0px;}
.margin0{margin:0px 0px 0px 0px;}
.padding5{padding:5px 5px 5px 5px;}
.textcenter{text-align:center;}

.floatRight{float:right;}
.floatLeft{float:left;}



.borderCollapse{border-collapse: collapse;}


.marginRight0{margin-right:0px;}

.paddingBottom12{padding-bottom:12px;}
.paddingLeft5{padding-left:5px;}
.paddingTop5{padding-top:5px;}
.paddingLeft278{padding-left:278px;}

.valigntop{vertical-align:top;}
.valignmiddle{vertical-align:middle;}
.bold_valigntop{
	font-weight:bold;	
	vertical-align:top;
}




.inlineblock{display: inline-block;}

#apisearch_table, .api_table, .sequence_table, .metabolite_table, #enzyme_table, .halophily_table, .apikit, 
#culturemedium_table, #temp_table, #ph_table, #temp_range, #met_antibiogram, #FA_profile_table, #FA_profile_table table{
	border-collapse: collapse;
}







/******************************* Resultdetail API KIT ***********************************/
.api_table{
	table-layout: fixed;  
   	/* width:1000px;  */ 
}
#resultdetail .api_table{
	table-layout: fixed;  
    width:auto;  
   	/* width:1000px;  */ 
}

.cupule{
	min-width:35px;  
	width:35px;  
	word-wrap: break-word;
}
.cupule80{
	width:80px;  
	word-wrap: break-word;
}

#resultdetail .apikit{
	border:1px solid #D8D8D8 ; 
}
#resultdetail td.apikit{
	padding:5px; 
}

#resultdetail .apikit li{
	text-align:center; 
	min-width:80px; 
}

.negativ{
	background-color:#FDD0D1;
}
.positiv{
	background-color:#C8E1CE;
}
.medium_composition { height:200px; width:450px; overflow:auto; border:1px solid #cfcecd; }



#resultdetail button, .helpbtn button, #search button{
	border:1px solid #D8D8D8;
}
















