@charset "UTF-8";
/**
 * @author     Adam Podstawka
 * @version    3.02
 * @date       2012-11-20
 * @lastchange 2016-09-06
 * @copyright  Copyright (c) 2012 - 2016, DSMZ, Adam Podstawka, Anna Vetcininova
 * @package    bacdive.css.suggest
 * @lastchangeby Anna Vetcininova
 */
 
 /* ### Suggest */
.suggest_link1 { width:100%; cursor:default; background-color: #f0f0f0; }
.suggest_link2 { width:100%; cursor:default; background-color: #fcfcfc; }
.suggest_link_over { width:100%; cursor:default; background-color: #226ED0;color:white; }
.suggest_link_resulttitle { float:left; text-align:left; }
.suggest_link_resulthits { text-align:right; }
.suggest_link_resulthits:after { content:"clear"; clear:left; display:block; height:0; overflow:hidden; visibility:hidden; }

#suggested {
    clear:both;
	position: relative;
    display:none;
    background-color: #fff;
    color:#000;
	font-size:10pt;
	text-align: left;
    border: 1px solid #adacab; /* #cfcecd */
    min-width:350px;
    width:450px;
    line-height: 11pt;
    visibility:hidden;
    -webkit-box-shadow: 5px 5px 10px #aaaaaa; /* #cccccc */
    box-shadow: 5px 5px 10px #aaaaaa; /* #cccccc */
    z-index:9990;
}

div#searchcontainer #suggested { margin:0 auto; top:0; left:0; }
/* ### ENDE Suggest */