/** 
 * @author     Anna Vetcininova
 * @version    1.00
 * @date       2015-08-06
 * @lastchange 2015-08-06
 * @copyright  Copyright (c) 2012 - 2015 DSMZ, Anna Vetcininova
 * @package    static.registration.css.style
 *  
*/

@charset "UTF-8";
.container {
    padding: 60px 0px;
}

label {
    display: inline;
}
