@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif);

body {
    margin:0; padding:0;
    font-family:'Droid Serif',times,serif;
    font-size:14px; 
    line-height:21px;
    color:#323232;
    background-color:#f1f1f1;
    min-width:1000px;
}

header {
    margin: 0 auto;;
    background-color:#ffffff;
    clear:both;
    padding:10px 10px 0 10px;
    font-family:'Droid Sans',arial,sans-serif;
    font-size:12px; 
    width: 1004px;
    height: 60px;
    display:block;
    overflow:visible;
    border-bottom: 5px #1D3870 solid;
    position:relative;
}

#header_top {
    margin:0;
    position:absolute;
    top:5px;
    right:5px;
}
#header_bottom {
    margin:0;
    position:absolute;
    bottom:0;
    right:5px;
}

footer {
    font-family:'Droid Sans',arial,sans-serif;
    font-size:12px; 
    line-height:20px; 
    background: url("/images/footer_graphic.jpg") no-repeat scroll left top #1D3870;
    text-align:center;
    color: #ffffff;
    margin: 0 auto;
    clear:both;
    width: 1024px;
    height: 91px;
    display:block;
    overflow:hidden;
}

main {
    margin: 0 auto;
    padding: 10px;
    clear:both;
    width: 1004px;
    background-color:#ffffff;
    display:block;
    overflow:hidden;
}

#footer_link a:link {color:#ffffff;text-decoration:none;}
#footer_link a:hover {color:#ffffff;text-decoration:underline;}
#footer_link a:active {color:#ffffff;text-decoration:none}
#footer_link a:visited {color:#ffffff;text-decoration:none;}

a:link {color:#12447F;text-decoration:none;}
a:hover {color:#12447F;text-decoration:underline;}
a:active {color:#12447F;text-decoration:none}
a:visited {color:#12447F;text-decoration:none;}


h1 { font-size: 20px; margin: 10px 0; font-family: "Droid Sans",arial; color: #323232; font-weight:400;}

th.dlicon_c, td.dlicon_c {
    text-align:center;
    border-right:1px solid gray;
}
th.dlicon_l, td.dlicon_l {
    text-align:left;border-right:1px solid gray; white-space: nowrap;
}
.filesize {
    font-size: 10px;
}
th.dlicon_r, td.dlicon_r {
    text-align:right;border-right:1px solid gray;
}
#DLprojTable th, #DLrefTable th {
    background-color:#eee; border-bottom:1px solid gray; padding: 1px 5px;
}
#DLprojTable td, #DLrefTable td{
    padding: 1px 5px;
}
