

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
	<title>Division of AIDS Anti-HIV/OI/TB Therapeutics Database - Surveillance Memo</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<link rel="stylesheet" href="/css/styles.css" type="text/css"></link>
	<!--[if lte IE 7]>
        <link rel="stylesheet" href="/css/iecss.css" type="text/css"></link>
	<![endif]-->
	<script type="text/JavaScript" src="/js/ClientFunctions.js"></script>
</head>

<body onload="Init();">
<form name="aspnetForm" method="post" action="HIV_2015-04-23.aspx" id="aspnetForm">
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="JFaQKqD79yN9d0CxwFLdbCDqgUuWaiZLrP9rVtTpBxB5j0Kfr7QD4U4z6NL4XCh9Kg/ocFJziJcxyeWbE3cc+oqto5tRElz9gVGD0H1rHZ8cTVXusK/q4WgeY4k=" />

<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="CB5901A5" />
<div id="bodycontent">
	<a href="#skipnav" class="hidden">Skip to Main Content</a>
	<a name="TOP"></a>
    <div id="niaid_header_links">
        <a href="https://www.hhs.gov/" target="_blank">U.S. Department of Health and Human Services </a>• <a href="https://www.nih.gov/" target="_blank">National Institutes of Health</a>
    </div>
    	
	<div id="niaid_header"><a name="top" class="hidden"></a>
		<a href="https://www.niaid.nih.gov/" target="_blank"><img src="../images/niaidHeader.png" alt="NIAID Banner Logo Image" /></a>
	</div>

    <div id="navwrapper">
	    <div id="header">
    		<h1><a href="">Division of AIDS Anti-HIV/OI/TB Therapeutics Database</a></h1>
	    </div>
    	<div id="sidenav">
	    	<p class="sidenav_head1"><a href="../SimpleSearch.aspx">HOME</a></p>
		    <p class="sidenav_head2"> About ChemDB</p>			
			    <ul class="sidenav_bullets">
        			<li><a href="../AboutChemDB.aspx">About ChemDB</a></li>
        			<li><a href="../help/UserGuide.aspx">User Guide</a></li>
		    		<li><a href="Highlights.aspx">Announcements</a> <img src="../images/new_item.gif" alt="New Item" /></li>    			
    			</ul>
	    	<p class="sidenav_head2"> Advanced Search</p>
		    	<ul class="sidenav_bullets">
			    	<li><a href="../CompoundSearch.aspx?v=C">Chemical</a></li>
				    <li><a href="../CompoundSearch.aspx?v=B">Biological</a></li>
    				<li><a href="../LitSearch.aspx">Literature</a></li>
	    		</ul>
		    <p class="sidenav_head2"> Drugs in Development</p>
			    <ul class="sidenav_bullets">		
    				<li><a href="../DrugDevelopmentHIV.aspx">HIV</a></li>
    				<li><a href="../DrugDevelopmentTB.aspx" id="ctl00_A1">TB</a></li>	
	    			<li><a href="../DrugDevelopmentHCV.aspx">HCV (Archived)</a></li>		    			
		    		<li><a href="../DrugDevelopmentHerpes.aspx">Herpes (Archived)</a></li>		
		    		<li><a href="../DrugDevelopmentProto.aspx">Protozoal (Archived)</a></li>		
		    	    <li><a href="../DrugDevelopmentFungal.aspx">Fungal (Archived)</a></li>		
			    </ul>				
		    <p class="sidenav_head2"><a href="memos.aspx"> Surveillance Memos</a></p>
		    <p class="sidenav_head2"> Other Links</p>
		        <ul class="sidenav_bullets">
                    <li><a href="https://www.niaid.nih.gov/about/daids" target="_blank">NIAID/Division of AIDS Home Page</a></li>
                    <li><a href="https://chem.nlm.nih.gov/chemidplus/" target="_blank">NLM/ChemID Plus<br />Chemical Database</a></li>
                    <li><a href="https://dtp.cancer.gov/organization/dscb/obtaining/default.htm" target="_blank">NCI/DTP Open Chemical Repository</a></li>
                    <li><a href="http://xpdb.nist.gov/hiv2_d/hivsdb.html" target="_blank">NIST HIV Structural Database</a></li>               
                    <li><a href="https://www.nih.gov/" target="_blank">NIH Home Page</a></li>     
                </ul>
	    </div> <!-- sidenav -->
    </div> <!-- navwrapper -->
    <div id="contentwrapper">	
        <a name="skipnav"></a>
	    

<div id="content">

	<div id="memopage">
	
<div class="WordSection1">
    <h1 class="memofmt2-h1">HIV Citation List: April 10 - April 23, 2015</h1>

    <h2>PubMed Citations</h2>

    <p class="plaintext">1. <a href="http://www.ncbi.nlm.nih.gov/pubmed?term=25653431">P53-Derived Host Restriction of HIV-1 Replication by Protein Kinase R-mediated Tat Phosphorylation and Inactivation.</a> Yoon, C.H., S.Y. Kim, S.E. Byeon, Y. Jeong, J. Lee, K.P. Kim, J. Park, and Y.S. Bae. Journal of Virology, 2015. 89(8): p. 4262-4280. PMID[25653431]. <b><br />
    [PubMed]</b>. HIV_0410-042315.</p>

    <br />

    <p class="plaintext">2. <a href="http://www.ncbi.nlm.nih.gov/pubmed?term=25724652">Identification of a Novel HIV-1 Inhibitor Targeting Vif-dependent Degradation of Human APOBEC3G Protein.</a> Pery, E., A. Sheehy, N.M. Nebane, A.J. Brazier, V. Misra, K.S. Rajendran, S.J. Buhrlage, M.K. Mankowski, L. Rasmussen, E.L. White, R.G. Ptak, and D. Gabuzda. Journal of Biological Chemistry, 2015. 290(16): p. 10504-10517. PMID[25724652]. <b><br />
    [PubMed]</b>. HIV_0410-042315.
    <br />
    <br /></p>

    <p class="plaintext">3. <a href="http://www.ncbi.nlm.nih.gov/pubmed?term=25901786">ASK1 Restores the Antiviral Activity of APOBEC3G by Disrupting HIV-1 Vif-mediated Counteraction.</a> Miyakawa, K., S. Matsunaga, K. Kanou, A. Matsuzawa, R. Morishita, A. Kudoh, K. Shindo, M. Yokoyama, H. Sato, H. Kimura, T. Tamura, N. Yamamoto, H. Ichijo, A. Takaori-Kondo, and A. Ryo. Nature Communications, 2015. 6(6945): 10pp. PMID[25901786]. <b><br />
    [PubMed]</b>. HIV_0410-042315.
    <br />
    <br /></p>

    <p class="plaintext">4. <a href="http://www.ncbi.nlm.nih.gov/pubmed?term=25732195">Analysis of Protein Kinase C Theta Inhibitors for the Control of HIV-1 Replication in Human CD4+ T Cells Reveals an Effect on Retrotranscription in Addition to Viral Transcription.</a> Bermejo, M., M.R. Lopez-Huertas, J. Hedgpeth, E. Mateos, S. Rodriguez-Mora, M.J. Maleno, M. Plana, J. Swindle, J. Alcami, and M. Coiras. Biochemical Pharmacology, 2015. 94(4): p. 241-256. PMID[25732195]. <b><br />
    [PubMed]</b>. HIV_0410-042315.</p>

    <h2>ISI Web of Knowledge Citations</h2>

    <p class="plaintext">5. <a href="http://gateway.isiknowledge.com/gateway/Gateway.cgi?GWVersion=2&amp;SrcAuth=Alerting&amp;SrcApp=Alerting&amp;DestApp=WOS&amp;DestLinkType=FullRecord;UT=000351649200017">Identification of the Novel N-Phenylbenzenesulfonamide Derivatives as Potent HIV Inhibitors.</a> Sun, Y., C.L. Lu, C.Y. Wang, R.R. Wang, K.X. Liu, L.M. Yang, Y.H. Zhen, H.L. Zhang, C. Wang, Y.T. Zheng, and X.D. Ma. Chinese Chemical Letters, 2015. 26(2): p. 243-247. ISI[000351649200017].
    <br />
    <b>[WOS]</b>. HIV_0410-042315.</p>

    <br />

    <p class="plaintext">6. <a href="http://gateway.isiknowledge.com/gateway/Gateway.cgi?GWVersion=2&amp;SrcAuth=Alerting&amp;SrcApp=Alerting&amp;DestApp=WOS&amp;DestLinkType=FullRecord;UT=000351574700006">The Synthesis of omega-(2-Aryl-1,3-dioxolan-2-yl)alkyl Purine Derivatives and Their Activity towards HIV Reverse Transcriptase.</a> Komissarov, V.V., V.T. Valuev-Elliston, O.N. Ivanova, S.N. Kochetkov, and A.M. Kritzyn. Russian Journal of Bioorganic Chemistry, 2015. 41(1): p. 37-45. ISI[000351574700006].
    <br />
    <b>[WOS]</b>. HIV_0410-042315.
    <br />
    <br /></p>

    <p class="plaintext">7. <a href="http://gateway.isiknowledge.com/gateway/Gateway.cgi?GWVersion=2&amp;SrcAuth=Alerting&amp;SrcApp=Alerting&amp;DestApp=WOS&amp;DestLinkType=FullRecord;UT=000351719700009">Identification of a Novel Type of Small Molecule Inhibitor against HIV-1.</a> Kim, B.S., J.A. Park, M.J. Kim, S.H. Kim, K.L. Yu, and J.C. You. BMB Reports, 2015. 48(2): p. 121-126. ISI[000351719700009].
    <br />
    <b>[WOS]</b>. HIV_0410-042315.
    <br />
    <br /></p>

    <p class="plaintext">8. <a href="http://gateway.isiknowledge.com/gateway/Gateway.cgi?GWVersion=2&amp;SrcAuth=Alerting&amp;SrcApp=Alerting&amp;DestApp=WOS&amp;DestLinkType=FullRecord;UT=000351971800010">Structure-based Evaluation of Non-nucleoside Inhibitors with Improved Potency and Solubility That Target HIV Reverse Transcriptase Variants.</a> Frey, K.M., D.E. Puleo, K.A. Spasov, M. Bollini, W.L. Jorgensen, and K.S. Anderson. Journal of Medicinal Chemistry, 2015. 58(6): p. 2737-2745. ISI[000351971800010].
    <br />
    <b>[WOS]</b>. HIV_0410-042315.</p>
</div>
	</div>
</div>
    

	    <div class="niaid_clear"></div>
    	<p id="update">Database last updated: September 2017&nbsp;&nbsp;</p>	
        <div id="niaid_footer">
	        <a href="../SimpleSearch.aspx">Home</a> | 
	        <a href="https://www.niaid.nih.gov/global/privacy-policy" target="_blank">Privacy Policy</a> | 
	        <a href="https://www.niaid.nih.gov/global/website-disclaimer" target="_blank">Disclaimer</a> | 
	        <a href="https://www.niaid.nih.gov/global/web-accessibility" target="_blank">Accessibility</a> | 
            <a href="../SiteMap.aspx">Site Map</a> | 
        	<a href="../help/Help.aspx">Help</a> | 
        	<a href="../ContactUs.aspx">Contact Us</a>  
	        <div class="niaid_footer_logos">
	            <a href="https://www.hhs.gov/" id="niaid_footer_hhs_img" title="HHS Logo" target="_blank"><img src="../images/HHSfooterLogo.gif" alt="HHS Logo" /></a>
	            <a href="https://www.nih.gov/" id="niaid_footer_nih_img" title="NIH Logo" target="_blank"><img src="../images/NIHfooterLogo.gif" alt="NIH Logo" /></a>	   
	            <a href="https://www.usa.gov/" id="niaid_footer_usa_img" title="USA.gov Logo" target="_blank"><img src="../images/USAgovFooterLogo.gif" alt="USA Gov Logo" /></a>
	        </div>
	        <div class="niaid_clear"></div>
	        <div class="niaid_footer_logos">
	            <a href="https://www.hhs.gov/" id="niaid_footer_hhs_text" title="U.S. Department of Health and Human Services" target="_blank"><img src="../images/HHSfooterText.gif" alt="U.S. Department of Health and Human Services Text" /></a>
	        </div>
	        <div class="niaid_clear"></div>
	        <div class="niaid_footer_logos">
	            <a href="https://www.nih.gov/" id="niaid_footer_nih_text" title="National Institutes of Health" target="_blank"><img src="../images/NIHfooterText.gif" alt="National Institutes of Health Text" /></a>
	        </div>
        </div> <!-- niaid_footer -->
    </div> <!-- contentwrapper -->
</div> <!-- bodycontent -->
</form>
</body>
</html>
