

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
	<title>Division of AIDS Anti-HIV/OI/TB Therapeutics Database - Surveillance Memo</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<link rel="stylesheet" href="/css/styles.css" type="text/css"></link>
	<!--[if lte IE 7]>
        <link rel="stylesheet" href="/css/iecss.css" type="text/css"></link>
	<![endif]-->
	<script type="text/JavaScript" src="/js/ClientFunctions.js"></script>
</head>

<body onload="Init();">
<form name="aspnetForm" method="post" action="Opp_Infect_2008-11-17.aspx" id="aspnetForm">
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="BULPcrVfklcaIkjwQtNhiGh+pUzeNjJXx+vs9EWN6Zkfm25/DfSUkpgjHMyEFvtDO79MRo4tztbVSsr0p8qQLTZWypOFxJ4OjbwiVUVIhM+wTRt5bDLhpy2lhaQ=" />

<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="0CC6BDDA" />
<div id="bodycontent">
	<a href="#skipnav" class="hidden">Skip to Main Content</a>
	<a name="TOP"></a>
    <div id="niaid_header_links">
        <a href="https://www.hhs.gov/" target="_blank">U.S. Department of Health and Human Services </a>• <a href="https://www.nih.gov/" target="_blank">National Institutes of Health</a>
    </div>
    	
	<div id="niaid_header"><a name="top" class="hidden"></a>
		<a href="https://www.niaid.nih.gov/" target="_blank"><img src="../images/niaidHeader.png" alt="NIAID Banner Logo Image" /></a>
	</div>

    <div id="navwrapper">
	    <div id="header">
    		<h1><a href="">Division of AIDS Anti-HIV/OI/TB Therapeutics Database</a></h1>
	    </div>
    	<div id="sidenav">
	    	<p class="sidenav_head1"><a href="../SimpleSearch.aspx">HOME</a></p>
		    <p class="sidenav_head2"> About ChemDB</p>			
			    <ul class="sidenav_bullets">
        			<li><a href="../AboutChemDB.aspx">About ChemDB</a></li>
        			<li><a href="../help/UserGuide.aspx">User Guide</a></li>
		    		<li><a href="Highlights.aspx">Announcements</a> <img src="../images/new_item.gif" alt="New Item" /></li>    			
    			</ul>
	    	<p class="sidenav_head2"> Advanced Search</p>
		    	<ul class="sidenav_bullets">
			    	<li><a href="../CompoundSearch.aspx?v=C">Chemical</a></li>
				    <li><a href="../CompoundSearch.aspx?v=B">Biological</a></li>
    				<li><a href="../LitSearch.aspx">Literature</a></li>
	    		</ul>
		    <p class="sidenav_head2"> Drugs in Development</p>
			    <ul class="sidenav_bullets">		
    				<li><a href="../DrugDevelopmentHIV.aspx">HIV</a></li>
    				<li><a href="../DrugDevelopmentTB.aspx" id="ctl00_A1">TB</a></li>	
	    			<li><a href="../DrugDevelopmentHCV.aspx">HCV (Archived)</a></li>		    			
		    		<li><a href="../DrugDevelopmentHerpes.aspx">Herpes (Archived)</a></li>		
		    		<li><a href="../DrugDevelopmentProto.aspx">Protozoal (Archived)</a></li>		
		    	    <li><a href="../DrugDevelopmentFungal.aspx">Fungal (Archived)</a></li>		
			    </ul>				
		    <p class="sidenav_head2"><a href="memos.aspx"> Surveillance Memos</a></p>
		    <p class="sidenav_head2"> Other Links</p>
		        <ul class="sidenav_bullets">
                    <li><a href="https://www.niaid.nih.gov/about/daids" target="_blank">NIAID/Division of AIDS Home Page</a></li>
                    <li><a href="https://chem.nlm.nih.gov/chemidplus/" target="_blank">NLM/ChemID Plus<br />Chemical Database</a></li>
                    <li><a href="https://dtp.cancer.gov/organization/dscb/obtaining/default.htm" target="_blank">NCI/DTP Open Chemical Repository</a></li>
                    <li><a href="http://xpdb.nist.gov/hiv2_d/hivsdb.html" target="_blank">NIST HIV Structural Database</a></li>               
                    <li><a href="https://www.nih.gov/" target="_blank">NIH Home Page</a></li>     
                </ul>
	    </div> <!-- sidenav -->
    </div> <!-- navwrapper -->
    <div id="contentwrapper">	
        <a name="skipnav"></a>
	    

<div id="content">

	<div id="memopage">
	
<div class="Section1">
    <p class="memofmt2-h1">Opportunistic Infections  Citation List: </p>

    <p class="memofmt2-h1">October 30 - November 12, 2008</p>

    <p class="memofmt2-2">Opportunistic Protozoa (including pneumocystis, cryptosporidium, toxoplasma, microsporidia [encephalitozoon, enterocytozoon, vittaforma])</p>

    <p class="ListParagraph">1.         <a href="http://www.ncbi.nlm.nih.gov/pubmed/18988681?ordinalpos=3&amp;itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_DefaultReportPanel.Pubmed_RVDocSum">D&#39;Angelo JG, Bordón C, Posner GH, Yolken R, Jones-Brando L.</a></p>

    <p class="NoSpacing">Artemisinin derivatives inhibit Toxoplasma gondii in vitro at multiple steps in the lytic cycle.           </p>

    <p class="NoSpacing">J Antimicrob Chemother. 2008 Nov 6. [Epub ahead of print]</p>

    <p class="NoSpacing">PMID: 18988681 [PubMed - as supplied by publisher]    </p> 

    <p class="ListParagraph">2.         <a href="http://www.ncbi.nlm.nih.gov/pubmed/18834108?ordinalpos=17&amp;itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_DefaultReportPanel.Pubmed_RVDocSum">Bolstad DB, Bolstad ES, Frey KM, Wright DL, Anderson AC.</a></p>

    <p class="NoSpacing">Structure-based approach to the development of potent and selective inhibitors of dihydrofolate reductase from cryptosporidium.</p>

    <p class="NoSpacing">J Med Chem. 2008 Nov 13;51(21):6839-52. Epub 2008 Oct 4.</p>

    <p class="NoSpacing">PMID: 18834108 [PubMed - in process]            </p> 

    <p class="ListParagraph">3.         <a href="http://www.ncbi.nlm.nih.gov/pubmed/18653486?ordinalpos=28&amp;itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_DefaultReportPanel.Pubmed_RVDocSum">Klein P, Cirioni O, Giacometti A, Scalise G.</a></p>

    <p class="NoSpacing">In vitro and in vivo activity of aurintricarboxylic acid preparations against Cryptosporidium parvum.</p>

    <p class="NoSpacing">J Antimicrob Chemother. 2008 Nov;62(5):1101-4. Epub 2008 Jul 23.</p>

    <p class="NoSpacing">PMID: 18653486 [PubMed - in process]            </p>

    <h2>TB (Tuberculosis, Mycobacterium, Avium, Drug Resistant, MAC, MDR)</h2>

    <p class="ListParagraph">4.         <a href="http://www.ncbi.nlm.nih.gov/pubmed/18855373?ordinalpos=67&amp;itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_DefaultReportPanel.Pubmed_RVDocSum">Cosconati S, Hong JA, Novellino E, Carroll KS, Goodsell DS, Olson AJ.</a></p>

    <p class="NoSpacing">Structure-based virtual screening and biological evaluation of Mycobacterium tuberculosis adenosine 5&#39;-phosphosulfate reductase inhibitors.</p>

    <p class="NoSpacing">J Med Chem. 2008 Nov 13;51(21):6627-30. Epub 2008 Oct 15.    </p>

    <p class="NoSpacing">PMID: 18855373 [PubMed - in process]</p> 

    <p class="ListParagraph">5.         <a href="http://www.ncbi.nlm.nih.gov/pubmed/18693235?ordinalpos=110&amp;itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_DefaultReportPanel.Pubmed_RVDocSum">Hurdle JG, Lee RB, Budha NR, Carson EI, Qi J, Scherman MS, Cho SH, McNeil MR, Lenaerts AJ, Franzblau SG, Meibohm B, Lee RE.</a></p>

    <p class="NoSpacing">A microbiological assessment of novel nitrofuranylamides as anti-tuberculosis agents.</p>

    <p class="NoSpacing">J Antimicrob Chemother. 2008 Nov;62(5):1037-45. Epub 2008 Aug 7.</p>

    <p class="NoSpacing">PMID: 18693235 [PubMed - in process]            </p>

    <h2>Antimicrobials, Antifungals (General)</h2>

    <p class="ListParagraph">6.         <a href="http://www.ncbi.nlm.nih.gov/pubmed/18718743?ordinalpos=13&amp;itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_DefaultReportPanel.Pubmed_RVDocSum">Shriram V, Jahagirdar S, Latha C, Kumar V, Puranik V, Rojatkar S, Dhakephalkar PK, Shitole MG.</a></p>

    <p class="NoSpacing">A potential plasmid-curing agent, 8-epidiosbulbin E acetate, from Dioscorea bulbifera L. against multidrug-resistant bacteria.</p>

    <p class="NoSpacing">Int J Antimicrob Agents. 2008 Nov;32(5):405-10. Epub 2008 Aug 20.      </p>

    <p class="NoSpacing">PMID: 18718743 [PubMed - in process]</p> 
</div>
	</div>
</div>
    

	    <div class="niaid_clear"></div>
    	<p id="update">Database last updated: September 2017&nbsp;&nbsp;</p>	
        <div id="niaid_footer">
	        <a href="../SimpleSearch.aspx">Home</a> | 
	        <a href="https://www.niaid.nih.gov/global/privacy-policy" target="_blank">Privacy Policy</a> | 
	        <a href="https://www.niaid.nih.gov/global/website-disclaimer" target="_blank">Disclaimer</a> | 
	        <a href="https://www.niaid.nih.gov/global/web-accessibility" target="_blank">Accessibility</a> | 
            <a href="../SiteMap.aspx">Site Map</a> | 
        	<a href="../help/Help.aspx">Help</a> | 
        	<a href="../ContactUs.aspx">Contact Us</a>  
	        <div class="niaid_footer_logos">
	            <a href="https://www.hhs.gov/" id="niaid_footer_hhs_img" title="HHS Logo" target="_blank"><img src="../images/HHSfooterLogo.gif" alt="HHS Logo" /></a>
	            <a href="https://www.nih.gov/" id="niaid_footer_nih_img" title="NIH Logo" target="_blank"><img src="../images/NIHfooterLogo.gif" alt="NIH Logo" /></a>	   
	            <a href="https://www.usa.gov/" id="niaid_footer_usa_img" title="USA.gov Logo" target="_blank"><img src="../images/USAgovFooterLogo.gif" alt="USA Gov Logo" /></a>
	        </div>
	        <div class="niaid_clear"></div>
	        <div class="niaid_footer_logos">
	            <a href="https://www.hhs.gov/" id="niaid_footer_hhs_text" title="U.S. Department of Health and Human Services" target="_blank"><img src="../images/HHSfooterText.gif" alt="U.S. Department of Health and Human Services Text" /></a>
	        </div>
	        <div class="niaid_clear"></div>
	        <div class="niaid_footer_logos">
	            <a href="https://www.nih.gov/" id="niaid_footer_nih_text" title="National Institutes of Health" target="_blank"><img src="../images/NIHfooterText.gif" alt="National Institutes of Health Text" /></a>
	        </div>
        </div> <!-- niaid_footer -->
    </div> <!-- contentwrapper -->
</div> <!-- bodycontent -->
</form>
</body>
</html>
