

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
	<title>Division of AIDS Anti-HIV/OI/TB Therapeutics Database - Surveillance Memo</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<link rel="stylesheet" href="/css/styles.css" type="text/css"></link>
	<!--[if lte IE 7]>
        <link rel="stylesheet" href="/css/iecss.css" type="text/css"></link>
	<![endif]-->
	<script type="text/JavaScript" src="/js/ClientFunctions.js"></script>
</head>

<body onload="Init();">
<form name="aspnetForm" method="post" action="Other_Viruses_2009-04-28.aspx" id="aspnetForm">
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="7zpn3vRokp7j3wLyYX1y6EvL16zGq3nIMArFl19uNeNNp//KcSgIeq+qiPHIBERgps/0Ruhc8OTe09YfTM0ww7A7WyccMitnswMUgV8rpnxN4wZgVozDRImXlHI=" />

<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="C75A5CC0" />
<div id="bodycontent">
	<a href="#skipnav" class="hidden">Skip to Main Content</a>
	<a name="TOP"></a>
    <div id="niaid_header_links">
        <a href="https://www.hhs.gov/" target="_blank">U.S. Department of Health and Human Services </a>• <a href="https://www.nih.gov/" target="_blank">National Institutes of Health</a>
    </div>
    	
	<div id="niaid_header"><a name="top" class="hidden"></a>
		<a href="https://www.niaid.nih.gov/" target="_blank"><img src="../images/niaidHeader.png" alt="NIAID Banner Logo Image" /></a>
	</div>

    <div id="navwrapper">
	    <div id="header">
    		<h1><a href="">Division of AIDS Anti-HIV/OI/TB Therapeutics Database</a></h1>
	    </div>
    	<div id="sidenav">
	    	<p class="sidenav_head1"><a href="../SimpleSearch.aspx">HOME</a></p>
		    <p class="sidenav_head2"> About ChemDB</p>			
			    <ul class="sidenav_bullets">
        			<li><a href="../AboutChemDB.aspx">About ChemDB</a></li>
        			<li><a href="../help/UserGuide.aspx">User Guide</a></li>
		    		<li><a href="Highlights.aspx">Announcements</a> <img src="../images/new_item.gif" alt="New Item" /></li>    			
    			</ul>
	    	<p class="sidenav_head2"> Advanced Search</p>
		    	<ul class="sidenav_bullets">
			    	<li><a href="../CompoundSearch.aspx?v=C">Chemical</a></li>
				    <li><a href="../CompoundSearch.aspx?v=B">Biological</a></li>
    				<li><a href="../LitSearch.aspx">Literature</a></li>
	    		</ul>
		    <p class="sidenav_head2"> Drugs in Development</p>
			    <ul class="sidenav_bullets">		
    				<li><a href="../DrugDevelopmentHIV.aspx">HIV</a></li>
    				<li><a href="../DrugDevelopmentTB.aspx" id="ctl00_A1">TB</a></li>	
	    			<li><a href="../DrugDevelopmentHCV.aspx">HCV (Archived)</a></li>		    			
		    		<li><a href="../DrugDevelopmentHerpes.aspx">Herpes (Archived)</a></li>		
		    		<li><a href="../DrugDevelopmentProto.aspx">Protozoal (Archived)</a></li>		
		    	    <li><a href="../DrugDevelopmentFungal.aspx">Fungal (Archived)</a></li>		
			    </ul>				
		    <p class="sidenav_head2"><a href="memos.aspx"> Surveillance Memos</a></p>
		    <p class="sidenav_head2"> Other Links</p>
		        <ul class="sidenav_bullets">
                    <li><a href="https://www.niaid.nih.gov/about/daids" target="_blank">NIAID/Division of AIDS Home Page</a></li>
                    <li><a href="https://chem.nlm.nih.gov/chemidplus/" target="_blank">NLM/ChemID Plus<br />Chemical Database</a></li>
                    <li><a href="https://dtp.cancer.gov/organization/dscb/obtaining/default.htm" target="_blank">NCI/DTP Open Chemical Repository</a></li>
                    <li><a href="http://xpdb.nist.gov/hiv2_d/hivsdb.html" target="_blank">NIST HIV Structural Database</a></li>               
                    <li><a href="https://www.nih.gov/" target="_blank">NIH Home Page</a></li>     
                </ul>
	    </div> <!-- sidenav -->
    </div> <!-- navwrapper -->
    <div id="contentwrapper">	
        <a name="skipnav"></a>
	    

<div id="content">

	<div id="memopage">
	
<div class="Section1">
    <h1 class="memofmt2-h1">Other Viruses Citation List:  April 15, 2009 - April 28, 2009</h1>

    <p class="memofmt2-2">Cytomegalovirus</p>

    <p class="ListParagraph">1.      <a href="http://www.ncbi.nlm.nih.gov/pubmed/19397271?ordinalpos=2&amp;itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_RVDocSum">(Z)- and (E)-2-(1,2-Dihydroxyethyl)methylenecyclopropane Analogues of 2&#39;-Deoxyadenosine and 2&#39;-Deoxyguanosine. Synthesis of All Stereoisomers, Absolute Configuration, and Antiviral Activity.</a></p>
    
    <p class="NoSpacing">Zhou S, Drach JC, Prichard MN, Zemlicka J.</p>
    
    <p class="NoSpacing">J Med Chem. 2009 Apr 27. [Epub ahead of print]</p>
    
    <p class="NoSpacing">PMID: 19397271 [PubMed - as supplied by publisher]</p>

    <p class="memofmt2">Hepatitis Virus</p>

    <p class="ListParagraph">2.      <a href="http://www.ncbi.nlm.nih.gov/pubmed/19398648?ordinalpos=1&amp;itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_RVDocSum">ALKOXYALKYL ESTERS OF (S)-HPMPA ARE POTENT AND SELECTIVE INHIBITORS OF HEPATITIS B VIRUS REPLICATION IN VITRO AND IN TRANSGENIC HEPATITIS B MICE IN VIVO.</a></p>
    
    <p class="NoSpacing">Morrey JD, Korba BE, Beadle JR, Wyles DL, Hostetler KY.</p>
    
    <p class="NoSpacing">Antimicrob Agents Chemother. 2009 Apr 27. [Epub ahead of print]</p>
    
    <p class="NoSpacing">PMID: 19398648 [PubMed - as supplied by publisher]</p>
    
    <p class="ListParagraph">3.      <a href="http://www.ncbi.nlm.nih.gov/pubmed/19399398?ordinalpos=3&amp;itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_RVDocSum">Tea polyphenols exerts anti-hepatitis B virus effects in a stably HBV-transfected cell line.</a></p>
    
    <p class="NoSpacing">Ye P, Zhang S, Zhao L, Dong J, Jie S, Pang R, Li S.</p>
    
    <p class="NoSpacing">J Huazhong Univ Sci Technolog Med Sci. 2009 Apr;29(2):169-72. Epub 2009 Apr 28.</p>
    
    <p class="NoSpacing">PMID: 19399398 [PubMed - in process]</p>
    
    <p class="ListParagraph">4.      <a href="http://www.ncbi.nlm.nih.gov/pubmed/19394333?ordinalpos=4&amp;itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_RVDocSum">Amphipathic DNA Polymers Inhibit Hepatitis C Virus Infection by Blocking Viral Entry.</a></p>

    <p class="NoSpacing">Matsumura T, Hu Z, Kato T, Dreux M, Zhang YY, Imamura M, Hiraga N, Juteau JM, Cosset FL, Chayama K, Vaillant A, Liang TJ.</p>

    <p class="NoSpacing">Gastroenterology. 2009 Apr 23. [Epub ahead of print]</p>

    <p class="NoSpacing">PMID: 19394333 [PubMed - as supplied by publisher]</p>

    <p class="ListParagraph">5.      <a href="http://www.ncbi.nlm.nih.gov/pubmed/19371095?ordinalpos=5&amp;itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_RVDocSum">Toward Second Generation Hepatitis C Virus NS3 Serine Protease Inhibitors: Discovery of Novel P4 Modified Analogues with Improved Potency and Pharmacokinetic Profile.</a></p>

    <p class="NoSpacing">Arasappan A, Padilla AI, Jao E, Bennett F, Bogen SL, Chen KX, Pike RE, Sannigrahi M, Soares J, Venkatraman S, Vibulbhan B, Saksena AK, Girijavallabhan V, Tong X, Cheng KC, Njoroge FG.</p>
    
    <p class="NoSpacing">J Med Chem. 2009 Apr 16. [Epub ahead of print]</p>
    
    <p class="NoSpacing">PMID: 19371095 [PubMed - as supplied by publisher]</p>
    
    <p class="ListParagraph">6.      <a href="http://www.ncbi.nlm.nih.gov/pubmed/19332375?ordinalpos=6&amp;itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_RVDocSum">Identification of novel inhibitors of HCV RNA-dependent RNA polymerase by pharmacophore-based virtual screening and in vitro evaluation.</a></p>
    
    <p class="NoSpacing">Ryu K, Kim ND, Choi SI, Han CK, Yoon JH, No KT, Kim KH, Seong BL.</p>
    
    <p class="NoSpacing">Bioorg Med Chem. 2009 Apr 15;17(8):2975-82. Epub 2009 Mar 18.</p>
    
    <p class="NoSpacing">PMID: 19332375 [PubMed - in process]</p>
    
    <p class="ListParagraph">7.      <a href="http://www.ncbi.nlm.nih.gov/pubmed/19307124?ordinalpos=7&amp;itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_RVDocSum">Synthesis and anti-hepatitis B virus activities of Matijing-Su derivatives.</a></p>
    
    <p class="NoSpacing">Xu B, Huang Z, Liu C, Cai Z, Pan W, Cao P, Hao X, Liang G.</p>
    
    <p class="NoSpacing">Bioorg Med Chem. 2009 Apr 15;17(8):3118-25. Epub 2009 Mar 9.</p>
    
    <p class="NoSpacing">PMID: 19307124 [PubMed - in process]</p>
  
    <p class="ListParagraph">8.      <a href="http://www.ncbi.nlm.nih.gov/pubmed/19285390?ordinalpos=8&amp;itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_RVDocSum">Inhibitors of hepatitis C virus NS3/4A: alpha-ketoamide based macrocyclic inhibitors.</a></p>
    
    <p class="NoSpacing">Avolio S, Robertson K, Hernando JI, DiMuzio J, Summa V.</p>
    
    <p class="NoSpacing">Bioorg Med Chem Lett. 2009 Apr 15;19(8):2295-8. Epub 2009 Feb 25.</p>
    
    <p class="NoSpacing">PMID: 19285390 [PubMed - in process]</p>

    <p class="memofmt2-2">Citations from the ISI Web of  Knowledge Listings for  O.V.</p>

    <p class="ListParagraph">9.    Yao, D.C., et al.</p>

    <p class="NoSpacing">Betulinic acid-mediated inhibitory effect on hepatitis B virus by suppression of manganese superoxide dismutase expression</p>

    <p class="NoSpacing">FEBS JOURNAL  2009  (May) 276:  2599 - 2614</p>

</div>
	</div>
</div>
    

	    <div class="niaid_clear"></div>
    	<p id="update">Database last updated: September 2017&nbsp;&nbsp;</p>	
        <div id="niaid_footer">
	        <a href="../SimpleSearch.aspx">Home</a> | 
	        <a href="https://www.niaid.nih.gov/global/privacy-policy" target="_blank">Privacy Policy</a> | 
	        <a href="https://www.niaid.nih.gov/global/website-disclaimer" target="_blank">Disclaimer</a> | 
	        <a href="https://www.niaid.nih.gov/global/web-accessibility" target="_blank">Accessibility</a> | 
            <a href="../SiteMap.aspx">Site Map</a> | 
        	<a href="../help/Help.aspx">Help</a> | 
        	<a href="../ContactUs.aspx">Contact Us</a>  
	        <div class="niaid_footer_logos">
	            <a href="https://www.hhs.gov/" id="niaid_footer_hhs_img" title="HHS Logo" target="_blank"><img src="../images/HHSfooterLogo.gif" alt="HHS Logo" /></a>
	            <a href="https://www.nih.gov/" id="niaid_footer_nih_img" title="NIH Logo" target="_blank"><img src="../images/NIHfooterLogo.gif" alt="NIH Logo" /></a>	   
	            <a href="https://www.usa.gov/" id="niaid_footer_usa_img" title="USA.gov Logo" target="_blank"><img src="../images/USAgovFooterLogo.gif" alt="USA Gov Logo" /></a>
	        </div>
	        <div class="niaid_clear"></div>
	        <div class="niaid_footer_logos">
	            <a href="https://www.hhs.gov/" id="niaid_footer_hhs_text" title="U.S. Department of Health and Human Services" target="_blank"><img src="../images/HHSfooterText.gif" alt="U.S. Department of Health and Human Services Text" /></a>
	        </div>
	        <div class="niaid_clear"></div>
	        <div class="niaid_footer_logos">
	            <a href="https://www.nih.gov/" id="niaid_footer_nih_text" title="National Institutes of Health" target="_blank"><img src="../images/NIHfooterText.gif" alt="National Institutes of Health Text" /></a>
	        </div>
        </div> <!-- niaid_footer -->
    </div> <!-- contentwrapper -->
</div> <!-- bodycontent -->
</form>
</body>
</html>
