

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
	<title>Division of AIDS Anti-HIV/OI/TB Therapeutics Database - Surveillance Memo</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<link rel="stylesheet" href="/css/styles.css" type="text/css"></link>
	<!--[if lte IE 7]>
        <link rel="stylesheet" href="/css/iecss.css" type="text/css"></link>
	<![endif]-->
	<script type="text/JavaScript" src="/js/ClientFunctions.js"></script>
</head>

<body onload="Init();">
<form name="aspnetForm" method="post" action="Other_Viruses_2010-02-16.aspx" id="aspnetForm">
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="dyZPDbc9GJ3zmfpce3a15KiZEtEj/mR9O8DgH+rKKkgcPuhLNr1ntSk9Vj9welqWHMZ9F9xxJrJKs3nyXWIp1qHpYvhacjdsMYT0yx6jCubMYReLQICPmZtIVck=" />

<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="33A396BF" />
<div id="bodycontent">
	<a href="#skipnav" class="hidden">Skip to Main Content</a>
	<a name="TOP"></a>
    <div id="niaid_header_links">
        <a href="https://www.hhs.gov/" target="_blank">U.S. Department of Health and Human Services </a>• <a href="https://www.nih.gov/" target="_blank">National Institutes of Health</a>
    </div>
    	
	<div id="niaid_header"><a name="top" class="hidden"></a>
		<a href="https://www.niaid.nih.gov/" target="_blank"><img src="../images/niaidHeader.png" alt="NIAID Banner Logo Image" /></a>
	</div>

    <div id="navwrapper">
	    <div id="header">
    		<h1><a href="">Division of AIDS Anti-HIV/OI/TB Therapeutics Database</a></h1>
	    </div>
    	<div id="sidenav">
	    	<p class="sidenav_head1"><a href="../SimpleSearch.aspx">HOME</a></p>
		    <p class="sidenav_head2"> About ChemDB</p>			
			    <ul class="sidenav_bullets">
        			<li><a href="../AboutChemDB.aspx">About ChemDB</a></li>
        			<li><a href="../help/UserGuide.aspx">User Guide</a></li>
		    		<li><a href="Highlights.aspx">Announcements</a> <img src="../images/new_item.gif" alt="New Item" /></li>    			
    			</ul>
	    	<p class="sidenav_head2"> Advanced Search</p>
		    	<ul class="sidenav_bullets">
			    	<li><a href="../CompoundSearch.aspx?v=C">Chemical</a></li>
				    <li><a href="../CompoundSearch.aspx?v=B">Biological</a></li>
    				<li><a href="../LitSearch.aspx">Literature</a></li>
	    		</ul>
		    <p class="sidenav_head2"> Drugs in Development</p>
			    <ul class="sidenav_bullets">		
    				<li><a href="../DrugDevelopmentHIV.aspx">HIV</a></li>
    				<li><a href="../DrugDevelopmentTB.aspx" id="ctl00_A1">TB</a></li>	
	    			<li><a href="../DrugDevelopmentHCV.aspx">HCV (Archived)</a></li>		    			
		    		<li><a href="../DrugDevelopmentHerpes.aspx">Herpes (Archived)</a></li>		
		    		<li><a href="../DrugDevelopmentProto.aspx">Protozoal (Archived)</a></li>		
		    	    <li><a href="../DrugDevelopmentFungal.aspx">Fungal (Archived)</a></li>		
			    </ul>				
		    <p class="sidenav_head2"><a href="memos.aspx"> Surveillance Memos</a></p>
		    <p class="sidenav_head2"> Other Links</p>
		        <ul class="sidenav_bullets">
                    <li><a href="https://www.niaid.nih.gov/about/daids" target="_blank">NIAID/Division of AIDS Home Page</a></li>
                    <li><a href="https://chem.nlm.nih.gov/chemidplus/" target="_blank">NLM/ChemID Plus<br />Chemical Database</a></li>
                    <li><a href="https://dtp.cancer.gov/organization/dscb/obtaining/default.htm" target="_blank">NCI/DTP Open Chemical Repository</a></li>
                    <li><a href="http://xpdb.nist.gov/hiv2_d/hivsdb.html" target="_blank">NIST HIV Structural Database</a></li>               
                    <li><a href="https://www.nih.gov/" target="_blank">NIH Home Page</a></li>     
                </ul>
	    </div> <!-- sidenav -->
    </div> <!-- navwrapper -->
    <div id="contentwrapper">	
        <a name="skipnav"></a>
	    

<div id="content">

	<div id="memopage">
	
<div class="Section1">
    <p class="memofmt2-h1">Other Viruses Citation List: </p>

    <p class="memofmt2-h1">February 3 - February 16, 2010</p>

    <p> </p>

    <h2 class="memofmt2-2">Hepatitis C Virus</h2>

    <p class="NoSpacing">1. <a href="http://www.ncbi.nlm.nih.gov/pubmed/20161209?itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_RVDocSum&amp;ordinalpos=5">Helicase inhibitors as specifically targeted antiviral therapy for hepatitis C.</a></p>

    <p class="NoSpacing">Belon CA, Frick DN.</p>

    <p class="NoSpacing">Future Virol. 2009 May 1;4(3):277-293.PMID: 20161209 [PubMed]</p> 
    <p />

    <p class="NoSpacing">2. <a href="http://www.ncbi.nlm.nih.gov/pubmed/20156485?itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_RVDocSum&amp;ordinalpos=14">A Peptide Derived From Hepatitis C Virus E2 Envelope Protein Inhibits A Post-Binding Step in HCV Entry.</a></p>

    <p class="NoSpacing">Liu R, Tewari M, Kong R, Zhang R, Ingravallo P, Ralston R.</p>

    <p class="NoSpacing">Antiviral Res. 2010 Feb 12. <b>[Epub ahead of print]</b>. PMID: 20156485 [PubMed - as supplied by publisher]</p> 
    <p />

    <p class="NoSpacing">3. <a href="http://www.ncbi.nlm.nih.gov/pubmed/20149666?itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_RVDocSum&amp;ordinalpos=35">Discovery of potent sulfonamide P4-capped ketoamide second generation inhibitors of hepatitis C virus NS3 serine protease with favorable pharmacokinetic profiles in preclinical species.</a></p>

    <p class="NoSpacing">Bogen SL, Arasappan A, Velazquez F, Blackman M, Huelgas R, Pan W, Siegel E, Nair LG, Venkatraman S, Guo Z, Doll R, Shih NY, George Njoroge F.</p>

    <p class="NoSpacing">Bioorg Med Chem. 2010 Jan 25. <b>[Epub ahead of print]</b>. PMID: 20149666 [PubMed - as supplied by publisher]</p> 
    <p />

    <p class="NoSpacing">4. <a href="http://www.ncbi.nlm.nih.gov/pubmed/20149655?itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_RVDocSum&amp;ordinalpos=36">Towards the second generation of Boceprevir: Dithianes as an alternative P2 substituent for 2,2-dimethyl cycloproyl proline in HCV NS3 protease inhibitors.</a></p>

    <p class="NoSpacing">Nair LG, Bogen S, Ruan S, Pan W, Pike R, Tong X, Cheng KC, Guo Z, Doll RJ, Njoroge FG.</p>

    <p class="NoSpacing">Bioorg Med Chem Lett. 2010 Jan 20. <b>[Epub ahead of print]</b>. PMID: 20149655 [PubMed - as supplied by publisher]</p> 
    <p />

    <p class="NoSpacing">5. <a href="http://www.ncbi.nlm.nih.gov/pubmed/20142494?itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_RVDocSum&amp;ordinalpos=46">A cell protection screen reveals potent inhibitors of multiple stages of the hepatitis C virus life cycle.</a></p>

    <p class="NoSpacing">Chockalingam K, Simeon RL, Rice CM, Chen Z.</p>

    <p class="NoSpacing">Proc Natl Acad Sci U S A. 2010 Feb 8. <b>[Epub ahead of print]</b>. PMID: 20142494 [PubMed - as supplied by publisher]</p>
    <p />

    <h2 class="memofmt2-2">Citations from the ISI Web of  Knowledge Listings for  O.I.</h2>

    <p> </p>

    <p class="plaintext">6. <a href="http://gateway.isiknowledge.com/gateway/Gateway.cgi?GWVersion=2&amp;SrcAuth=Ale">N-Acetamideindolecarboxylic acid allosteric &#39;finger-loop&#39; inhibitors of the hepatitis C virus NS5B polymerase: discovery and initial optimization studies.</a>  Beaulieu, Pierre L., et. al. BIOORGANIC &amp; MEDICINAL CHEMISTRY LETTERS. 20(3): 2010. P.857-61.</p>

    <p> </p>

    <p class="plaintext">7. <a href="http://gateway.isiknowledge.com/gateway/Gateway.cgi?GWVersion=2&amp;SrcAuth=Ale">SCY-635, a Novel Nonimmunosuppressive Analog of Cyclosporine That Exhibits Potent Inhibition of Hepatitis C Virus RNA Replication In Vitro.</a> Hopkins, Sam, Scorneaux, Bernard, Huang, Zhuhui, Murray, Michael G., Wring, Stephen, Smitley, Craig, Harris, Richard, Erdmann, Frank, Fischer, Gunter, Ribeill, Yves.  ANTIMICROBIAL AGENTS AND CHEMOTHERAPY. 54(2):2010. P.660-72.</p>
</div>
	</div>
</div>
    

	    <div class="niaid_clear"></div>
    	<p id="update">Database last updated: September 2017&nbsp;&nbsp;</p>	
        <div id="niaid_footer">
	        <a href="../SimpleSearch.aspx">Home</a> | 
	        <a href="https://www.niaid.nih.gov/global/privacy-policy" target="_blank">Privacy Policy</a> | 
	        <a href="https://www.niaid.nih.gov/global/website-disclaimer" target="_blank">Disclaimer</a> | 
	        <a href="https://www.niaid.nih.gov/global/web-accessibility" target="_blank">Accessibility</a> | 
            <a href="../SiteMap.aspx">Site Map</a> | 
        	<a href="../help/Help.aspx">Help</a> | 
        	<a href="../ContactUs.aspx">Contact Us</a>  
	        <div class="niaid_footer_logos">
	            <a href="https://www.hhs.gov/" id="niaid_footer_hhs_img" title="HHS Logo" target="_blank"><img src="../images/HHSfooterLogo.gif" alt="HHS Logo" /></a>
	            <a href="https://www.nih.gov/" id="niaid_footer_nih_img" title="NIH Logo" target="_blank"><img src="../images/NIHfooterLogo.gif" alt="NIH Logo" /></a>	   
	            <a href="https://www.usa.gov/" id="niaid_footer_usa_img" title="USA.gov Logo" target="_blank"><img src="../images/USAgovFooterLogo.gif" alt="USA Gov Logo" /></a>
	        </div>
	        <div class="niaid_clear"></div>
	        <div class="niaid_footer_logos">
	            <a href="https://www.hhs.gov/" id="niaid_footer_hhs_text" title="U.S. Department of Health and Human Services" target="_blank"><img src="../images/HHSfooterText.gif" alt="U.S. Department of Health and Human Services Text" /></a>
	        </div>
	        <div class="niaid_clear"></div>
	        <div class="niaid_footer_logos">
	            <a href="https://www.nih.gov/" id="niaid_footer_nih_text" title="National Institutes of Health" target="_blank"><img src="../images/NIHfooterText.gif" alt="National Institutes of Health Text" /></a>
	        </div>
        </div> <!-- niaid_footer -->
    </div> <!-- contentwrapper -->
</div> <!-- bodycontent -->
</form>
</body>
</html>
