

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
	<title>Division of AIDS Anti-HIV/OI/TB Therapeutics Database - Surveillance Memo</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<link rel="stylesheet" href="/css/styles.css" type="text/css"></link>
	<!--[if lte IE 7]>
        <link rel="stylesheet" href="/css/iecss.css" type="text/css"></link>
	<![endif]-->
	<script type="text/JavaScript" src="/js/ClientFunctions.js"></script>
</head>

<body onload="Init();">
<form name="aspnetForm" method="post" action="Other_Viruses_2009-01-23.aspx" id="aspnetForm">
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="ai5mSanLG8+7U7drq0GDiGdyWIn3Zj0DJztuFi4ch3k1YZSRiDSVDKtQ3O27bYuVcBq2OJKeALWpVxNyP5wHl7gU8NqJkgAt9GVC+JMNvSGlAfRPvabKXb5A+vI=" />

<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="16BA1A41" />
<div id="bodycontent">
	<a href="#skipnav" class="hidden">Skip to Main Content</a>
	<a name="TOP"></a>
    <div id="niaid_header_links">
        <a href="https://www.hhs.gov/" target="_blank">U.S. Department of Health and Human Services </a>• <a href="https://www.nih.gov/" target="_blank">National Institutes of Health</a>
    </div>
    	
	<div id="niaid_header"><a name="top" class="hidden"></a>
		<a href="https://www.niaid.nih.gov/" target="_blank"><img src="../images/niaidHeader.png" alt="NIAID Banner Logo Image" /></a>
	</div>

    <div id="navwrapper">
	    <div id="header">
    		<h1><a href="">Division of AIDS Anti-HIV/OI/TB Therapeutics Database</a></h1>
	    </div>
    	<div id="sidenav">
	    	<p class="sidenav_head1"><a href="../SimpleSearch.aspx">HOME</a></p>
		    <p class="sidenav_head2"> About ChemDB</p>			
			    <ul class="sidenav_bullets">
        			<li><a href="../AboutChemDB.aspx">About ChemDB</a></li>
        			<li><a href="../help/UserGuide.aspx">User Guide</a></li>
		    		<li><a href="Highlights.aspx">Announcements</a> <img src="../images/new_item.gif" alt="New Item" /></li>    			
    			</ul>
	    	<p class="sidenav_head2"> Advanced Search</p>
		    	<ul class="sidenav_bullets">
			    	<li><a href="../CompoundSearch.aspx?v=C">Chemical</a></li>
				    <li><a href="../CompoundSearch.aspx?v=B">Biological</a></li>
    				<li><a href="../LitSearch.aspx">Literature</a></li>
	    		</ul>
		    <p class="sidenav_head2"> Drugs in Development</p>
			    <ul class="sidenav_bullets">		
    				<li><a href="../DrugDevelopmentHIV.aspx">HIV</a></li>
    				<li><a href="../DrugDevelopmentTB.aspx" id="ctl00_A1">TB</a></li>	
	    			<li><a href="../DrugDevelopmentHCV.aspx">HCV (Archived)</a></li>		    			
		    		<li><a href="../DrugDevelopmentHerpes.aspx">Herpes (Archived)</a></li>		
		    		<li><a href="../DrugDevelopmentProto.aspx">Protozoal (Archived)</a></li>		
		    	    <li><a href="../DrugDevelopmentFungal.aspx">Fungal (Archived)</a></li>		
			    </ul>				
		    <p class="sidenav_head2"><a href="memos.aspx"> Surveillance Memos</a></p>
		    <p class="sidenav_head2"> Other Links</p>
		        <ul class="sidenav_bullets">
                    <li><a href="https://www.niaid.nih.gov/about/daids" target="_blank">NIAID/Division of AIDS Home Page</a></li>
                    <li><a href="https://chem.nlm.nih.gov/chemidplus/" target="_blank">NLM/ChemID Plus<br />Chemical Database</a></li>
                    <li><a href="https://dtp.cancer.gov/organization/dscb/obtaining/default.htm" target="_blank">NCI/DTP Open Chemical Repository</a></li>
                    <li><a href="http://xpdb.nist.gov/hiv2_d/hivsdb.html" target="_blank">NIST HIV Structural Database</a></li>               
                    <li><a href="https://www.nih.gov/" target="_blank">NIH Home Page</a></li>     
                </ul>
	    </div> <!-- sidenav -->
    </div> <!-- navwrapper -->
    <div id="contentwrapper">	
        <a name="skipnav"></a>
	    

<div id="content">

	<div id="memopage">
	
<div class="Section1">
    <h1 class="memofmt2-h1">Other Viruses  Citation List:  January 7, 2009 - January 20, 2009</h1>

    <p class="memofmt2-2">Hepatitis Virus</p>

    <p class="ListParagraphCxSpFirst">1.      <a href="http://www.ncbi.nlm.nih.gov/pubmed/19154150?ordinalpos=1&amp;itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_RVDocSum">Design, Synthesis, and Evaluation of Oxygen-Containing Macrocyclic Peptidomimetics as Inhibitors of HCV NS3 Protease.</a>
    <br />
    Vela&#769;zquez F, Venkatraman S, Blackman M, Pinto P, Bogen S, Sannigrahi M, Chen K, Pichardo
    <br />
    J, Hart A, Tong X, Girijavallabhan V, Njoroge FG.
    <br />
    J Med Chem. 2009 Jan 20. [Epub ahead of print]
    <br />
    PMID: 19154150 [PubMed - as supplied by publisher]           
    <br />
    <br /></p>

    <p class="ListParagraphCxSpMiddle">2.      <a href="http://www.ncbi.nlm.nih.gov/pubmed/19072694?ordinalpos=3&amp;itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_RVDocSum">Synthesis and anti-hepatitis B virus and anti-hepatitis C virus activities of 7-deazaneplanocin a analogues in vitro.</a>
    <br />
    Kim HJ, Sharon A, Bal C, Wang J, Allu M, Huang Z, Murray MG, Bassit L, Schinazi RF, Korba B, Chu CK.
    <br />
    J Med Chem. 2009 Jan 8;52(1):206-13.
    <br />
    PMID: 19072694 [PubMed - in process]        
    <br />
    <br /></p>

    <p class="ListParagraphCxSpLast">3.      <a href="http://www.ncbi.nlm.nih.gov/pubmed/19055482?ordinalpos=4&amp;itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_RVDocSum">The design, synthesis, and antiviral activity of 4&#39;-azidocytidine analogues against hepatitis C virus replication: the discovery of 4&#39;-azidoarabinocytidine.</a>
    <br />
    Smith DB, Kalayanov G, Sund C, Winqvist A, Pinho P, Maltseva T, Morisson V, Leveque V, Rajyaguru S, Le Pogam S, Najera I, Benkestock K, Zhou XX, Maag H, Cammack N, Martin JA, Swallow S, Johansson NG, Klumpp K, Smith M.
    <br />
    J Med Chem. 2009 Jan 8;52(1):219-23.
    <br />
    PMID: 19055482 [PubMed - in process]        </p>

    <p class="ListParagraph">4.   <a href="http://www.ncbi.nlm.nih.gov/pubmed/19054673?ordinalpos=5&amp;itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_RVDocSum">5,6-Dihydro-1H-pyridin-2-ones as potent inhibitors of HCV NS5B polymerase.</a>
    <br />
    Ruebsam F, Tran CV, Li LS, Kim SH, Xiang AX, Zhou Y, Blazel JK, Sun Z, Dragovich PS, Zhao J, McGuire HM, Murphy DE, Tran MT, Stankovic N, Ellis DA, Gobbi A, Showalter RE, Webber SE, Shah AM, Tsan M, Patel RA, Lebrun LA, Hou HJ, Kamran R, Sergeeva MV, Bartkowski DM, Nolan TG, Norris DA, Kirkovsky L.
    <br />
    Bioorg Med Chem Lett. 2009 Jan 15;19(2):451-8. Epub 2008 Nov 18.
    <br />
    PMID: 19054673 [PubMed - in process]        
    <br />
    <br /></p> 
</div>
	</div>
</div>
    

	    <div class="niaid_clear"></div>
    	<p id="update">Database last updated: September 2017&nbsp;&nbsp;</p>	
        <div id="niaid_footer">
	        <a href="../SimpleSearch.aspx">Home</a> | 
	        <a href="https://www.niaid.nih.gov/global/privacy-policy" target="_blank">Privacy Policy</a> | 
	        <a href="https://www.niaid.nih.gov/global/website-disclaimer" target="_blank">Disclaimer</a> | 
	        <a href="https://www.niaid.nih.gov/global/web-accessibility" target="_blank">Accessibility</a> | 
            <a href="../SiteMap.aspx">Site Map</a> | 
        	<a href="../help/Help.aspx">Help</a> | 
        	<a href="../ContactUs.aspx">Contact Us</a>  
	        <div class="niaid_footer_logos">
	            <a href="https://www.hhs.gov/" id="niaid_footer_hhs_img" title="HHS Logo" target="_blank"><img src="../images/HHSfooterLogo.gif" alt="HHS Logo" /></a>
	            <a href="https://www.nih.gov/" id="niaid_footer_nih_img" title="NIH Logo" target="_blank"><img src="../images/NIHfooterLogo.gif" alt="NIH Logo" /></a>	   
	            <a href="https://www.usa.gov/" id="niaid_footer_usa_img" title="USA.gov Logo" target="_blank"><img src="../images/USAgovFooterLogo.gif" alt="USA Gov Logo" /></a>
	        </div>
	        <div class="niaid_clear"></div>
	        <div class="niaid_footer_logos">
	            <a href="https://www.hhs.gov/" id="niaid_footer_hhs_text" title="U.S. Department of Health and Human Services" target="_blank"><img src="../images/HHSfooterText.gif" alt="U.S. Department of Health and Human Services Text" /></a>
	        </div>
	        <div class="niaid_clear"></div>
	        <div class="niaid_footer_logos">
	            <a href="https://www.nih.gov/" id="niaid_footer_nih_text" title="National Institutes of Health" target="_blank"><img src="../images/NIHfooterText.gif" alt="National Institutes of Health Text" /></a>
	        </div>
        </div> <!-- niaid_footer -->
    </div> <!-- contentwrapper -->
</div> <!-- bodycontent -->
</form>
</body>
</html>
