<!doctype html>
<html lang="en" ng-app="np" ng-controller="npCtrl as nm" xmlns:flash="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="nextprot,UniProt,Human,Proteins,Proteome,Proteomics,protein database,protein knowledgebase,protein resource,human protein,human proteome,cancer variants portal,ion channels variants portal,function,medical,disease,expression,interactions,sequence,isoform,mutation,variant,phenotypes,proteomics,peptide,structure,3D,unicity checker,peptide uniqueness checker,annotation,biocuration,chromosomes,protein validation,protein-coding genes,post-translational modifications,ptm,data integration,systems biology,genetic variations,RDF data model,SPARQL endpoint,api,rest">

<!--    <meta name="description" content="A knowledge platform on human proteins. It strives to be a comprehensive resource that provides a variety of types of information on human proteins.">-->
    <meta name="description" content="{{nm.description}}">
    <meta name="author" content="CALIPHO Team - SIB - Swiss Institute of Bioinformatics">
    <meta name="fragment" content="!">
    <meta http-equiv="expires" content="0">
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    
    <link rel="icon" href="./img/np-x.png">

    <!--<base href="/protosearch/" />-->
    <base href="/">

    <title ng-bind="nm.title"></title>
<!--    <title>neXtProt - exploring the universe of human proteins</title>-->

    <!--[if lte IE 7]>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:600' rel='stylesheet' type='text/css'>-->

    <link rel="stylesheet" href="css/vendor.css?release=1515160404221">
    <link rel="stylesheet" href="css/app.css?release=1515160404221">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        <!-- GA events are handled by angular -->
    </script>
</head>

<body ng-clock="" class="preview fill" data-spy="scroll" data-target=".subnav" data-offset="90"
      ng-controller="SearchCtrl" np-background="#main" typeof="schema:WebPage">

<header>
<!--
    <div class="hidden-md hidden-sm hidden-xs hidden-lg" style="font-size: 1.7em; font-weight: 100; font-family: Helvetica; background: transparent radial-gradient(ellipse at center center , rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 100%) repeat scroll 0% 0%;" id="header-title">
        Exploring the universe of human proteins
    </div>
-->
    <a href="http://www.isb-sib.ch/" target="_blank" title="Link to the SIB Swiss Institute of Bioinformatics">
        <img id="sib-logo" src="img/sib_logo.gif" alt="SIB Swiss Institute of Bioinformatics">
    </a>

    <!-- Navbar ================================================== -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nextprot-header">
                    <span class="sr-only">Toggle navigation</span>
<!--
                    <span class="fa-bar"></span>
                    <span class="fa-bar"></span>
                    <span class="fa-bar"></span>
-->
                    <span class="fa fa-bars"></span>
                </button>
                <a class="navbar-brand navbar-logo" href="/"><img id="np-logo" src="/img/np.png"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse ng-scope" id="nextprot-header" ng-controller="HelpCtrl">
                <ul class="nav navbar-nav">

                    <!-- Services dropdown -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tools <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <!-- Learn -->
                            <!-----------------------------  CHANGE ngclick !!!! -------------------------------------->
                            <li ng-class=""><a href="/proteins/search" ng-click="routingOutside('ui')">Simple search</a></li>
                            <li ng-class=""><a href="/proteins/search?mode=advanced" ng-click="routingOutside('snorql')">Advanced search</a></li>
                            <li class="divider"></li>
                            <li ng-class=""><a rel="nofollow" ng-click="goToUser('lists')">My Lists</a></li>
                            <li ng-class=""><a rel="nofollow" ng-click="goToUser('queries')">My Queries</a></li>
                            <li class="divider"></li>
<!--                            <li ng-class=""><a href="#" ng-click="routingOutside('snorql')" style="cursor:not-allowed">BLAST</a></li>-->
                            <li ng-class=""><a href="/tools/peptide-uniqueness-checker">Peptide uniqueness checker</a></li>
                            <li class="divider"></li>
                            <li class="disabled" style="font-size:12px; margin-left: 10px"><i>Programmatic access</i></li>
                            <li ng-class=""><a ng-href="{{getNextprotUrl('api')}}">API</a></li>
                            <li ng-class=""><a ng-href="{{getNextprotUrl('sparql')}}">SPARQL endpoint</a></li>
                            <li ng-class=""><a ng-href="{{getNextprotUrl('snorql')}}">SNORQL search</a></li>
                        </ul>
                    </li>
                    
                    <!-- Portals dropdown -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Portals <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <!-- Learn -->
                            <!-----------------------------  CHANGE ngclick !!!! -------------------------------------->
                            <li ng-class=""><a href="./portals/breast-cancer">Cancer variants portal</a></li>
                            <li ng-class=""><a href="./portals/navmut">Ion channels variants portal</a></li>
                        </ul>
                    </li>

                    <!-- Tools (for instance, blast) -->
                    <!--<li ng-class=""><a href="/tools">Tools</a></li>-->

                    <!-- Download -->
                    <li ng-class=""><a href="ftp://ftp.nextprot.org/pub/current_release/" ng-click="routingOutside('ftp')">Download</a></li>

                    <!-- Help dropdown -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Help <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <!-- Learn -->
                            <li ng-class="{'active':isActiveDoc('/help/simple-search')}">
                                <a href="/help/simple-search">Simple search</a>
                            </li>
                            <li ng-class="{'active':isActiveDoc('/help/advanced-search')}">
                                <a href="/help/advanced-search">Advanced search</a>
                            </li>
<!--                            ???-->
<!--                            <li><a href="#"></a></li> -->
                            <li ng-class="{'active':isActiveDoc('/help/search-results')}">
                                <a href="/help/search-results">Search results</a>
                            </li>
<!--                            ???-->
                            <li ng-class="{'active':isActiveDoc('/help/tools')}">
                                <a href="/help/tools">Tools</a>
                            </li>
<!--                            <li><a href="#"></a></li>-->
<!--                            <li ng-class="{'active':isActiveDoc('/help/doc/introduction')}">-->
                            <li ng-class="{'active':isActiveDoc('/help/data-model')}">
                                <a ng-href="/help/data-model">Data model</a>
                            </li>
<!--                            <li><a href="#"></a></li>-->
                            <li class="divider"></li>
                            <li ng-class="{'active':isActiveDoc('/help/protein-lists')}">
                                <a href="/help/protein-lists">Protein Lists</a>
                            </li>
                            <li class="divider"></li>
                            <li ng-class="{'active':isActiveDoc('/help/download')}">
                                <a href="/help/download">Download</a>
                            </li>
                            <li class="divider"></li>

                            <li ng-class="{'active':isActiveDoc('/help/technical-corner')}">
                                <a href="/help/technical-corner">Technical corner</a>
                            </li>
                            <!--  <li><a target="_blank" href="http://bl.ocks.org/calipho-sib">Look at our bl.ocks.org</a></li> -->
<!--                            <li class="divider"></li>-->

                            <!-- FAQ
                            <li ng-class="{'active':isActiveDoc('/pages/faq')}"><a href="/pages/faq">FAQ</a></li>
                            -->

                            <!-- Known issues -->
<!--
                            <li ng-class="{'active':isActiveDoc('/known-issues')}">
                                <a href="/known-issues">Known issues</a>
                            </li>
-->

                            <!-- Found a bug -->
<!--
                            <li ng-class="">
                                <a target="_blank" href="https://github.com/calipho-sib/nextprot-ui/issues">
                                    Found a bug?<i class="fa-github"></i></a>
                            </li>
-->

<!--                            <li class="divider"></li>-->

                            <!-- News -->
<!--
                            <li ng-class="{'active':isActiveDoc('/what-is-new')}">
                                <a href="/what-is-new">What's new?</a>
                            </li>
-->

                            <!-- Citing neXtProt -->
<!--
                            <li ng-class="{'active':isActiveDoc('/citing-nextprot')}">
                                <a href="/citing-nextprot">Citing neXtProt</a>
                            </li>
-->

                        </ul>
                    </li>
                    
                    <!-- About dropdown -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <!-- Learn -->
                            <!-----------------------------  CHANGE ngclick !!!! -------------------------------------->
                            <li ng-class="{'active':isActiveDoc('/about/nextprot')}">
                                <a href="about/nextprot">
                                    <span class="text">neXtProt concept</span>
                                </a>
                            </li>
<!--                            <li ng-class=""><a href="release/contents">Current release</a></li>-->
                            <li ng-class="{'active':isActiveDoc('/about/contents')}">
                                <a href="about/contents">
                                    <span class="text">Release contents</span>
                                </a>
                            </li>
                            <li ng-class="{'active':isActiveDoc('/about/statistics')}">
                                <a href="about/statistics">
                                    <span class="text">Release statistics</span>
                                </a>
                            </li>
                            <li ng-class="{'active':isActiveDoc('/about/entries')}">
                                <a href="entries">
                                    <span class="text">Entries by chromosome</span>
                                </a>
                            </li>
                            <li ng-class="{'active':isActiveDoc('/about/protein-existence')}">
                                <a href="about/protein-existence">
                                    <span class="text">Protein existence</span>
                                </a>
                            </li>
                            <li ng-class="{'active':isActiveDoc('/about/human-proteome')}">
                                <a href="about/human-proteome">
                                    <span class="text">The human proteome</span>
                                </a>
                            </li>
                            <li ng-class="{'active':isActiveDoc('/about/news/*')}">
                                <a href="news/">
                                    <span class="text">News</span>
                                </a>
                            </li>
                            <li ng-class="{'active':isActiveDoc('/about/citing-nextprot')}">
                                <a href="about/citing-nextprot">
                                    <span class="text">Citing neXtProt</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li ng-class="">
                        <a href="mailto:support@nextprot.org?subject=[neXtProt%20Search]">Contact</a>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right" style="margin-right:0px;">

<!--
                    <li>
                        <a title="My lists" ng-click="goToUser('lists')" type="button" class="link">
                            <i class="fa-list-alt"></i>
                        </a>
                    </li>

                    <li>
                        <a title="My queries" ng-click="goToUser('queries')" type="button" class="link">
                            <i class="fa-star"></i>
                        </a>
                    </li>
-->

                    <!-- login button -->
                    <!-- ngIf: !user.profile.email --><li class="ng-scope" ng-if="!user.profile.email">
                        <a rel="nofollow" href="" type="button" class="link" ng-click="login()">Login</a>
                    </li><!-- end ngIf: !user.profile.email -->
                    
                    <!-- once logged in user resources -->
                    <!-- ngIf: user.profile.email -->
                    <li class="dropdown" ng-if="user.profile.email" ng-cloak>
                            <a href="#" class="dropdown-toggle lgOnly" data-toggle="dropdown">
                                {{user.profile.name || user.profile.email}}<span class="caret"></span></a>
                            <ul class="dropdown-menu lgOnly" role="menu">
                                <li><a rel="nofollow" href="#" ng-click="logout()">Logout</a></li>
                            </ul>
                        <a rel="nofollow" class="smOnly" href="#" ng-click="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                        
                    </li>
                    
                    <li>
                        <a id="sib-link" href="http://www.sib.swiss"><img id="sib-logo" src="/img/sib.png"></a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

</header>
    
<div ng-init="browserCompatibility()"></div>

<div ng-show="message" class=" error ng-cloak" ng-cloak>
    <div class="np-alert alert alert-error alert-warning">{{Search.result.error}} {{message}}</div>
</div>

<!--<flash:msg></flash:msg>-->
<div ng-include="'partials/errors/alert-message.html'"></div>

<!-- Masthead
================================================== -->
<div ng-if="isSearchBarVisible()" ng-include="'partials/search/search-bar.html'" class="container-fluid"></div>
    
<!--HIRING BOX - deprecated    -->
<!--
<div id="hiring" ng-if="isHomePage()">
    <h1 id="hiring-title"><span>WE ARE HIRING !</span></h1>

    <div class="row hiring-content">
        <div class="pull-left hiring-icon-container">
            <span class="fa fa-graduation-cap fa-3x"></span>
        </div>
        <div class="hiring-text-container">
            <div>We are looking for a post-doctorate</div>
        </div>
        <div class="pull-right">
            <a class="hiring-button pull-right" href="https://apply.refline.ch/499599/0040/pub/1/index.html" target="_blank">SEE OFFER</a>
        </div>
    </div>
</div>
-->
    
    <!--
    <div class="row">
        <div class="col-md-3">
            <div class="hiring-icon-container">
                <span class="fa fa-graduation-cap fa-3x"></span>
            </div>
        </div>
        <div class="col-md-9 hiring-text-container">
            <p>Get more informations in the following link :</p>
            <a class="hiring-button pull-right" href="https://apply.refline.ch/499599/0040/pub/1/index.html">SEE OFFER</a>
        </div>
    </div>
-->

<div id="main" class="container-fluid" ng-view=""></div>

<div ng-include="'partials/footer.html'"></div>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script type="text/javascript">
    //
    // global settings for angular-nexprot-ui-help
    var npHelpSettings = {
        baseUrl: 'https://api.nextprot.org'
    }
</script>
<script defer src="js/vendor.js?release=1515160404221"></script>
<script defer src="js/app.js?release=1515160404221"></script>
</body>
</html>
